.avonni-scheduler__flex-col {
    flex: 1 1 auto;
}

.avonni-scheduler__border_bottom {
    border-bottom: 1px solid var(--slds-g-color-border-1, #c9c9c9);
}

.avonni-scheduler__border_right {
    border-right: 1px solid var(--slds-g-color-border-1, #c9c9c9);
}

.avonni-scheduler__border_left {
    border-left: 1px solid var(--slds-g-color-border-1, #c9c9c9);
}

.avonni-scheduler__border_top {
    border-top: 1px solid var(--slds-g-color-border-1, #c9c9c9);
}

.avonni-scheduler__main-border_left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(
        --avonni-scheduler-color-border-left,
        var(--slds-g-color-border-1, #c9c9c9)
    );
}

.avonni-scheduler__main-border_top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(
        --avonni-scheduler-color-border-top,
        var(--slds-g-color-border-1, #c9c9c9)
    );
}

.avonni-scheduler__main-border_bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(
        --avonni-scheduler-color-border-bottom,
        var(--slds-g-color-border-1, #c9c9c9)
    );
}

.avonni-scheduler__main-border_right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(
        --avonni-scheduler-color-border-right,
        var(--slds-g-color-border-1, #c9c9c9)
    );
}

.avonni-scheduler__time-zone {
    color: var(--lwc-colorTextPlaceholder, #747474);
    font-size: 11px;
    font-weight: 400;
    height: 2.5rem;
    text-transform: uppercase;
}

/* Splitter */

.avonni-scheduler__splitter {
    position: relative;
    background-color: #fff;
    min-height: 100%;
}

.avonni-scheduler__second-col {
    flex: 1 1 0;
    border-top-right-radius: calc(var(--slds-g-sizing-border-4) * 2);
    border-bottom-right-radius: calc(var(--slds-g-sizing-border-4) * 2);
}

.avonni-scheduler__splitter_resizable,
.avonni-scheduler__splitter-resize-handle {
    cursor: col-resize;
}

.avonni-scheduler__splitter-resize-handle {
    height: 25px;
    width: 2px;
    background-color: #747474;
}

.avonni-scheduler__splitter-expand-left-button {
    margin-top: -6px;
}

.avonni-scheduler__panel_collapsed {
    max-width: 0;
}

.avonni-scheduler__panel_expanded {
    min-width: calc(100% - 12px);
}
