:host {
    --avonni-skeleton-color-border: transparent;
    --avonni-skeleton-radius-border: 00.25rem;
    --avonni-skeleton-sizing-border: 0;
    --avonni-skeleton-styling-border: solid;
    --avonni-skeleton-color-background: #ecebea;
    --avonni-skeleton-color-background-animation: #dedede;
}

.avonni-badge {
    height: 2rem;
    max-width: 100%;
    padding: 0.25rem;
    border-width: var(--avonni-chip-sizing-border, 1px);
    border-radius: 15rem;
    font-size: var(--avonni-chip-label-font-size, 0.75rem);
    font-weight: 700;
    line-height: var(--avonni-chip-line-height, normal);
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.avonni-chip {
    max-width: 100%;
    border-width: var(--avonni-chip-sizing-border, 1px);
    border-radius: var(--avonni-chip-radius-border, 15rem);
    font-size: var(--avonni-chip-label-font-size, 0.75rem);
    display: inline-flex;
    align-items: center;
}

.avonni-avatar__primary-text {
    min-height: var(--avonni-avatar-primary-text-font-size, 0.875rem);
}

.avonni-avatar__secondary-text {
    min-height: var(--avonni-avatar-secondary-text-font-size, 0.8125rem);
}

.avonni-avatar__tertiary-text {
    min-height: var(--avonni-avatar-tertiary-text-font-size, 0.8125rem);
}

.avonni-skeleton__animation-pulse {
    height: 100%;
    animation: pulse-animation 1s infinite;
}

.avonni-skeleton__avatar-animation-pulse {
    animation: pulse-animation 1s infinite;
}

.avonni-skeleton__buttonIcon-animation-pulse {
    animation: pulse-animation 1s infinite;
}

.avonni-skeleton__datatable {
    border-color: #ffffff;
    border-style: solid;
    border-width: 0.2em 0.1em;
    border-radius: var(--avonni-skeleton-radius-border);
}

.avonni-skeleton__chip-icon {
    height: 1.25rem;
    width: 1.25rem;
}

.avonni-skeleton__datatable-borders {
    border-collapse: collapse;
}

.avonni-skeleton__datatable-borders::after {
    color: #ffffff;
    background-color: #ffffff;
}

.avonni-skeleton__datatable-borders:hover {
    color: #ffffff;
    background-color: #ffffff;
}

.avonni-skeleton__datatable-checkbox {
    height: 1em;
    width: 1em;
}

.avonni-skeleton__datatable-divider {
    cursor: default;
}

.avonni-skeleton__datatable-divider::after {
    width: 0px;
}

.avonni-skeleton__datatable-header-checkbox:hover {
    background-color: #f3f3f3;
}

.avonni-skeleton__datatable-item {
    height: 0.7em;
    width: 100%;
}

.avonni-skeleton__datatable-no-checkbox {
    height: 2em;
}

@keyframes pulse-animation {
    0% {
        background: var(--avonni-skeleton-color-background);
    }
    50% {
        background: var(--avonni-skeleton-color-background-animation);
    }
    100% {
        background: var(--avonni-skeleton-color-background);
    }
}

.avonni-skeleton__avatar-animation-wave {
    position: relative;
    background-color: var(--avonni-skeleton-color-background-animation);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--avonni-skeleton-color-background) 8%,
        var(--avonni-skeleton-color-background-animation) 18%,
        var(--avonni-skeleton-color-background) 33%
    );
    background-size: 800px;
    position: relative;
}

.avonni-skeleton__animation-wave {
    position: relative;
    background-color: var(--avonni-skeleton-color-background-animation);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--avonni-skeleton-color-background) 8%,
        var(--avonni-skeleton-color-background-animation) 18%,
        var(--avonni-skeleton-color-background) 33%
    );
    background-size: 800px;
    height: 100%;
    position: relative;
}

.avonni-skeleton__datatable-animation-wave {
    background-color: var(--avonni-skeleton-color-background-animation);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--avonni-skeleton-color-background) 8%,
        var(--avonni-skeleton-color-background-animation) 18%,
        var(--avonni-skeleton-color-background) 33%
    );
    background-size: 800px;
}

.avonni-skeleton__buttonIcon-animation-wave {
    position: relative;
    background-color: var(--avonni-skeleton-color-background-animation);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--avonni-skeleton-color-background) 8%,
        var(--avonni-skeleton-color-background-animation) 18%,
        var(--avonni-skeleton-color-background) 33%
    );
    background-size: 800px;
    position: relative;
}

.avonni-skeleton__progress-indicator-wave {
    background-color: var(--avonni-skeleton-color-background-animation);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--avonni-skeleton-color-background) 8%,
        var(--avonni-skeleton-color-background-animation) 18%,
        var(--avonni-skeleton-color-background) 33%
    );
    background-size: 800px;
}

@keyframes wave-animation {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}

.avonni-skeleton__button-label {
    border-radius: var(--avonni-skeleton-radius-border);
    background-color: var(--avonni-skeleton-chip-label-background, #00000000);
    height: 0.5em;
    min-width: 40px;
}

.avonni-skeleton__chip-label {
    border-radius: var(--avonni-skeleton-radius-border);
    background-color: var(--avonni-skeleton-chip-label-background, #00000000);
    min-height: 0.5em;
    min-width: 40px;
}

.avonni-skeleton__combobox-label {
    height: 0.7em;
    width: 30%;
}

.avonni-skeleton__combobox-search {
    display: flex;
    align-items: center;
}

.avonni-skeleton__badge-label {
    margin: 0.25rem 0.5rem;
    border-radius: var(--avonni-skeleton-radius-border);
    background-color: var(--avonni-skeleton-chip-label-background, #00000000);
    height: 0.5rem;
    min-width: 40px;
}

.avonni-skeleton__base {
    border-color: var(--avonni-skeleton-color-border);
    border-radius: var(--avonni-skeleton-radius-border);
    border-width: var(--avonni-skeleton-sizing-border);
    border-style: var(--avonni-skeleton-styling-border);
    background-color: var(--avonni-skeleton-color-background);
}

.avonni-skeleton__input {
    cursor: default;
}

.avonni-skeleton__input-label {
    align-items: center;
}

.avonni-skeleton__input-label-tag {
    border-radius: var(--avonni-skeleton-radius-border);
    height: 1em;
    width: 3em;
}

.avonni-skeleton__paragraph {
    border-radius: var(--avonni-skeleton-radius-border);
    margin: 0.5em;
    height: 0.7em;
    width: 100%;
}

.avonni-skeleton__paragraph-grid {
    height: 1.2em;
    /* margin: 0.1em; */
    display: inline-flex;
    color: transparent;
    border-width: 0.3em;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    animation: pulse-animation 1s infinite;
}

.avonni-skeleton__progress-indicator-path-wave::before {
    top: 0;
    height: calc((2rem / 2) + 0.0625rem);
    transform: skew(28deg) translate3d(0, 0, 0);
    background-color: var(--avonni-skeleton-color-background-animation);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--avonni-skeleton-color-background) 8%,
        var(--avonni-skeleton-color-background-animation) 18%,
        var(--avonni-skeleton-color-background) 33%
    );
    background-size: 800px;
}

.avonni-skeleton__progress-indicator-path-wave::after {
    bottom: 0;
    height: 1rem;
    transform: skew(-30deg) translate3d(0, 0, 0);
    background-color: var(--avonni-skeleton-color-background-animation);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    animation-timing-function: linear;
    background: linear-gradient(
        to right,
        var(--avonni-skeleton-color-background) 8%,
        var(--avonni-skeleton-color-background-animation) 18%,
        var(--avonni-skeleton-color-background) 33%
    );
    background-size: 800px;
}

.avonni-skeleton__progress-indicator-path-pulse::before {
    top: 0;
    height: calc((2rem / 2) + 0.0625rem);
    transform: skew(28deg) translate3d(0, 0, 0);
    animation: pulse-animation 1s infinite;
}

.avonni-skeleton__progress-indicator-path-pulse::after {
    bottom: 0;
    height: 1rem;
    transform: skew(-30deg) translate3d(0, 0, 0);
    animation: pulse-animation 1s infinite;
}

.avonni-skeleton__progress-indicator-path-pulse {
    height: 2rem;
    cursor: default !important;
}

.avonni-skeleton__progress-indicator-path-wave {
    height: 2rem;
    cursor: default !important;
}

avonni-skeleton_tabset-pulse:hover::after {
    background-color: transparent;
}

avonni-skeleton_tabset-wave:hover::after {
    background-color: transparent;
}

.avonni-skeleton__tabset-item {
    margin-bottom: 5px;
    height: 0.7em;
    min-width: 4em;
}

.avonni-skeleton__tabset-base {
    justify-content: left;
    column-gap: 1.5rem;
}

.avonni-skeleton__tabset-base:first-child {
    padding-left: 1em;
}

.avonni-skeleton__tabset-scoped-item {
    cursor: default;
    border-right: 1px solid #e5e5e5;
    height: 0.7em;
    min-width: 4em;
}

.avonni-skeleton__tabset-vertical-item {
    cursor: default;
    border-right: 1px solid #e5e5e5;
    height: 0.7em;
    min-width: 4em;
}

.avonni-skeleton__tabset-vertical-container:hover {
    background: #f3f3f3;
}

.avonni-skeleton__tabset-content {
    height: 0.7em;
    width: 30%;
}

.avonni-skeleton__tree-header {
    height: 1.5em;
    width: 8em;
}

.avonni-skeleton__tree-item {
    height: 0.7em;
    width: 4em;
}

.avonni-skeleton__tree-item-content {
    align-self: center;
}

.avonni-skeleton__item-container {
    height: 2.2em;
    display: flex;
}

.avonni-skeleton__variant-avatar {
    border-color: var(--avonni-skeleton-color-border);
    border-radius: var(--avonni-skeleton-radius-border);
    border-width: var(--avonni-skeleton-sizing-border);
    border-style: var(--avonni-skeleton-styling-border);
    background-color: var(--avonni-skeleton-color-background);
}

.avonni-avatar_xx-small {
    font-size: 0.6rem;
    height: 0.875rem;
    width: 0.875rem;
}

.avonni-avatar_x-large {
    font-size: 1.25rem;
    width: 56px;
    height: 56px;
}

.avonni-avatar_xx-large {
    font-size: 1.5rem;
    width: 72px;
    height: 72px;
}

.avonni-combobox__label {
    color: var(--avonni-combobox-label-text-color, #3e3e3c);
    font-size: var(--avonni-combobox-label-font-size, 0.75rem);
    font-weight: var(--avonni-combobox-label-font-weight, 400);
}

.avonni-skeleton__variant-circular {
    --avonni-skeleton-radius-border: 50%;
    border-radius: var(--avonni-skeleton-radius-border);
}

.avonni-skeleton__variant-rectangular {
    --avonni-skeleton-radius-border: 0;
    border-radius: var(--avonni-skeleton-radius-border);
}

.avonni-skeleton__variant-text {
    border-radius: var(--avonni-skeleton-radius-border);
}

.breadcrumbsClass {
    /* width: 100%;
    border-radius: var(--avonni-skeleton-radius-border); */
    display: flex;
    align-items: center;
}

.breadcrumbClass {
    border-radius: var(--avonni-skeleton-radius-border);
    height: 1.2em;
    width: 6em;
}
