div:focus {
    outline: none;
}

.avonni-builder-icon-picker-popover-width {
    width: 14rem;
}

.avonni-builder-icon-picker-form-error {
    padding-top: 0.5rem;
    color: var(--slds-g-color-error-base-40, #ba0517);
    font-size: 0.75rem;
}

.avonni-builder-icon-picker-flex {
    display: flex;
}

.avonni-builder-icon-picker-label-inline {
    display: flex;
    align-items: center;
}

.avonni-builder-icon-picker-label-inline lightning-helptext {
    padding-right: 0.25rem;
}

lightning-button {
    display: grid;
    width: 100%;
}

button:disabled {
    background-color: #ecebea;
}

.avonni-icon-picker__icon {
    margin-right: 0.25rem;
}

.avonni-builder-icon-picker-icon-container {
    height: var(--avonni-builder-icon-picker-popover-height, 14rem);
}

.avonni-builder-icon-picker-clear-icon:hover {
    --sds-c-icon-color-foreground-default: #005fb2;
}

.avonni-builder-icon-picker-read-only-input {
    display: flex;
    align-items: center;
}

.avonni-builder-icon-picker-read-only-cursor {
    cursor: default;
    --sds-c-button-shadow-focus: white;
}

.avonni-builder-icon-picker-x-small-icon-padding {
    padding: 0.04rem;
}

.avonni-builder-icon-picker-small-icon-padding {
    padding: 0.05rem;
}

.avonni-icon-picker__action-icon_small-scaling {
    margin: 0 -0.4rem 0 -0.6rem;
    transform: scale(0.38);
}

.avonni-icon-picker__action-icon_medium-scaling {
    margin: 0 -0.4rem 0 -0.6rem;
    transform: scale(0.55);
}

.avonni-icon-picker__action-icon_large-scaling {
    margin: 0 -0.4rem 0 -0.6rem;
    transform: scale(0.6);
}

.avonni-icon-picker__toggle-button_size-limit {
    max-height: 2rem;
}

.avonni-icon-picker__label.slds1 {
    color: var(
        --avonni-icon-picker-label-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-icon-picker-label-font-size, 0.75rem);
    font-weight: var(--avonni-icon-picker-label-font-weight, 400);
    font-style: var(--avonni-icon-picker-label-font-style, normal);
}

.avonni-icon-picker__label.slds2 {
    color: var(
        --avonni-icon-picker-label-text-color,
        var(--slds-g-color-on-surface-2, #2e2e2e)
    );
    font-size: var(
        --avonni-icon-picker-label-font-size,
        var(--slds-g-font-scale-base, 0.8125rem)
    );
    font-weight: var(
        --avonni-icon-picker-label-font-weight,
        var(--slds-g-font-weight-6, 600)
    );
    font-style: var(--avonni-icon-picker-label-font-style, normal);
}

/* Workaround for missing background colors for certain new icons in Experience Builder Custom Property Editors (XPCPE) */
/* Classes definitions taken from Salesforce Experience Preview Stylesheet */
.slds-icon-standard-account-score {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #5867e8)
    );
}

.slds-icon-standard-aggregate {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #107cad)
    );
}

.slds-icon-standard-app-form-participant {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #056764)
    );
}

.slds-icon-standard-app-form-product-participant {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #7e2600)
    );
}

.slds-icon-standard-cost-model {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #032d60)
    );
}

.slds-icon-standard-custody-chain-entry {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #06a59a)
    );
}

.slds-icon-standard-custody-entry-verification {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #06a59a)
    );
}

.slds-icon-standard-custody-override {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #06a59a)
    );
}

.slds-icon-standard-digital-verification-config-group {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #107cad)
    );
}

.slds-icon-standard-digital-verification-config {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #107cad)
    );
}

.slds-icon-standard-labels {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #107cad)
    );
}

.slds-icon-standard-linked {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #06a59a)
    );
}

.slds-icon-standard-list-fee {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #2f2cb7)
    );
}

.slds-icon-standard-list-rate {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #396547)
    );
}

.slds-icon-standard-party-profile {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #5a1ba9)
    );
}

.slds-icon-standard-path-experiment {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #dd7a01)
    );
}

.slds-icon-standard-people-score {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #5867e8)
    );
}

.slds-icon-standard-price-adjustment-schedule {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #ff538a)
    );
}

.slds-icon-standard-price-adjustment-tier {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #032d60)
    );
}

.slds-icon-standard-program-cohort-member {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #1b96ff)
    );
}

.slds-icon-standard-program-cohort {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #1b96ff)
    );
}

.slds-icon-standard-prompt-builder {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #2f2cb7)
    );
}

.slds-icon-standard-rate-adjustment {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #b60554)
    );
}

.slds-icon-standard-real-time {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #ff5d2d)
    );
}

.slds-icon-standard-record-consent {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #ff538a)
    );
}

.slds-icon-standard-scheduling-workspace-territory {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #ff538a)
    );
}

.slds-icon-standard-title-party {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #107cad)
    );
}

.slds-icon-standard-whatsapp {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #3ba755)
    );
}

.slds-icon-standard-work-summary {
    background-color: var(
        --slds-c-icon-color-background,
        var(--sds-c-icon-color-background, #b60554)
    );
}
