div:focus {
    outline: none;
}

.avonni-builder-icon-picker-popover-width {
    width: 14rem;
}

.avonni-builder-icon-picker-form-error {
    padding-top: 0.5rem;
    color: var(--slds-g-color-error-base-40, #ba0517);
    font-size: 0.75rem;
}

.avonni-builder-icon-picker-flex {
    display: flex;
}

.avonni-builder-icon-picker-label-inline {
    display: flex;
    align-items: center;
}

.avonni-builder-icon-picker-label-inline lightning-helptext {
    padding-right: 0.25rem;
}

lightning-button {
    display: grid;
    width: 100%;
}

button:disabled {
    background-color: #ecebea;
}

.avonni-icon-picker__icon {
    margin-right: 0.25rem;
}

.avonni-builder-icon-picker-icon-container {
    height: var(--avonni-builder-icon-picker-popover-height, 14rem);
}

.avonni-builder-icon-picker-clear-icon:hover {
    --sds-c-icon-color-foreground-default: #005fb2;
}

.avonni-builder-icon-picker-read-only-input {
    display: flex;
    align-items: center;
}

.avonni-builder-icon-picker-read-only-cursor {
    cursor: default;
    --sds-c-button-shadow-focus: white;
}

.avonni-builder-icon-picker-x-small-icon-padding {
    padding: 0.04rem;
}

.avonni-builder-icon-picker-small-icon-padding {
    padding: 0.05rem;
}

.avonni-icon-picker__action-icon_small-scaling {
    margin: 0 -0.4rem 0 -0.6rem;
    transform: scale(0.38);
}

.avonni-icon-picker__action-icon_medium-scaling {
    margin: 0 -0.4rem 0 -0.6rem;
    transform: scale(0.55);
}

.avonni-icon-picker__action-icon_large-scaling {
    margin: 0 -0.4rem 0 -0.6rem;
    transform: scale(0.6);
}

.avonni-icon-picker__toggle-button_size-limit {
    max-height: 2rem;
}

.avonni-icon-picker__label {
    color: var(
        --avonni-icon-picker-label-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-icon-picker-label-font-size, 0.75rem);
    font-weight: var(--avonni-icon-picker-label-font-weight, 400);
    font-style: var(--avonni-icon-picker-label-font-style, normal);
}
