/**
 * Makes element take up available space like slds-grid_frame but works with IE11.
 */
 .frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bubble {
    position: absolute;
    width: 150px;
    height: 150px;
}
