
span {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* I have applied classes individually because :nth-child() was not working as expected*/
.first-slider {
    z-index: 5;
}
.second-slider {
    z-index: 3;
}
.third-slider {
    z-index: 1;
}

.avonni-slider__vertical_wrapper {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
c-slider {
    margin: 0 20px;
}
