.avonni-relationship-graph-group {
    margin-top: 0;
}

.avonni-relationship-graph-group__content {
    display: none;
}

.slds-is-open .avonni-relationship-graph-group__content {
    display: block;
}

.group {
    width: var(--lwc-sizeMedium, 20rem);
}

/* Title --- */
.avonni-relationship-graph-group__header {
    align-items: center;
}

.avonni-relationship-graph-group__header-title {
    min-width: 0;
    flex: 1 1 auto;
}

.avonni-relationship-graph-group__header-title-button {
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}

.avonni-relationship-graph-group__header-actions {
    width: fit-content;
    flex-shrink: 0;
}

.group-title {
    font-size: 0.875rem;
}

/* Themes --- */
.avonni-theme_inverse {
    color: #fff;
    background-color: var(--lwc-colorBackgroundInverse, #061c3f);
    border-color: var(--lwc-colorBackgroundInverse, #061c3f);
}

.avonni-theme_inverse a {
    color: #fff;
    text-decoration: underline;
}

.action-button_shade.slds-button_neutral {
    background-color: transparent;
}

/* Lines */
.avonni-relationship-graph-group__parent-line.group_horizontal::before {
    content: '';
    height: 2px;
    background-color: var(--avonni-relationship-graph-line-color, #c9c9c9);
    width: calc(2rem + 2px);
    position: absolute;
    left: calc(-2rem - 2px);
    top: calc(1.5rem - 2px);
}

.avonni-relationship-graph-group__parent-line.group_vertical::before {
    content: '';
    width: 2px;
    background-color: var(--avonni-relationship-graph-line-color, #c9c9c9);
    height: calc(1.5rem + 2px);
    position: absolute;
    left: 10rem;
    top: calc(-1.5rem - 2px);
}

.group_vertical.group_selected::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: calc(-1.5rem - 2px);
    top: 2rem;
    left: 10rem;
    width: 2px;
    background-color: var(--avonni-relationship-graph-line-color, #c9c9c9);
}

.avonni-relationship-graph-group__parent-line.group_active-child::before,
.group_vertical.group_selected.group_active-parent::after {
    background-color: var(
        --avonni-relationship-graph-selected-line-color,
        #0070d2
    );
}

/* A focus ring will be shown around the group only if: */
/* - the user is navigating through the keyboard */
/* - the browser supports focus-visible */
.group:focus {
    outline: none;
}

.group:focus-visible {
    outline: 1px auto Highlight;
    outline: 1px auto -webkit-focus-ring-color;
}

.avonni-relationship-graph-group__loading-spinner {
    height: 48px;
}
