<template>
    <div class="slds-box slds-p-around_none">
        <c-layout
            direction={direction}
            equal-heights={equalHeights}
            horizontal-align={horizontalAlign}
            multiple-rows={multipleRows}
            vertical-align={verticalAlign}
        >
            <c-layout-item
                large-container-size="3"
                medium-container-size="6"
                small-container-size="8"
                size="12"
                style="background: #eae4e9"
                ><div class="slds-p-around_medium">Responsive sizes 1</div>
            </c-layout-item>
            <c-layout-item grow="1" shrink="0" style="background: #fff1e6"
                ><div class="slds-p-around_medium">
                    Growing and unshrinkable item<br />
                    This item has more content<br />
                    to make it taller than the others<br />
                    so we can test equal heights functionality<br />
                    and see the console.log message
                </div></c-layout-item
            >
            <c-layout-item
                large-container-size="9"
                medium-container-size="6"
                small-container-size="4"
                size="12"
                style="background: #fde2e4"
            >
                <div class="slds-p-around_medium">Responsive sizes 2</div>
            </c-layout-item>
            <c-layout-item
                large-container-size="25%"
                style="background: #fad2e1"
                ><div class="slds-p-around_medium">
                    25% large container size
                </div></c-layout-item
            >
            <c-layout-item alignment-bump="left" style="background: #e2ece9"
                ><div class="slds-p-around_medium">
                    Left bump
                </div></c-layout-item
            >
            <c-layout-item size="200px" style="background: #bee1e6"
                ><div class="slds-p-around_medium">
                    Fixed size
                </div></c-layout-item
            >
        </c-layout>
    </div>
</template>
