<template>
    <div class="slds-box slds-p-around_none">
        <c-layout
            direction={direction}
            horizontal-align={horizontalAlign}
            multiple-rows={multipleRows}
            vertical-align={verticalAlign}
        >
            <c-layout-item
                class="slds-p-around_medium"
                large-container-size="3"
                medium-container-size="6"
                small-container-size="8"
                size="12"
                style="background: #d8e2dc"
                >First item
            </c-layout-item>
            <c-layout-item
                class="slds-p-around_medium"
                large-container-size="9"
                medium-container-size="6"
                small-container-size="4"
                size="12"
                style="background: #ffe5d9"
            >
                Second item
            </c-layout-item>
            <c-layout-item
                class="slds-p-around_medium"
                large-container-size="25%"
                style="background: #ffcad4"
                >Third item</c-layout-item
            >
            <c-layout-item
                class="slds-p-around_medium"
                alignment-bump="left"
                style="background: #f4acb7"
                >Fourth item</c-layout-item
            >
            <c-layout-item
                class="slds-p-around_medium"
                size="200px"
                style="background: #9d8189"
                >Fifth item</c-layout-item
            >
        </c-layout>
    </div>
</template>
