<template>
    <div class="slds-box slds-p-around_none">
        <c-layout
            direction={direction}
            horizontal-align={horizontalAlign}
            multiple-rows={multipleRows}
            vertical-align={verticalAlign}
        >
            <c-layout-item
                large-container-size="3"
                medium-container-size="6"
                small-container-size="8"
                size="12"
                style="background: #d8e2dc"
                ><div class="slds-p-around_medium">Responsive sizes 1</div>
            </c-layout-item>
            <c-layout-item
                large-container-size="9"
                medium-container-size="6"
                small-container-size="4"
                size="12"
                style="background: #ffe5d9"
            >
                <div class="slds-p-around_medium">Responsive sizes 2</div>
            </c-layout-item>
            <c-layout-item
                large-container-size="25%"
                style="background: #ffcad4"
                ><div class="slds-p-around_medium">
                    25% large container size
                </div></c-layout-item
            >
            <c-layout-item alignment-bump="left" style="background: #f4acb7"
                ><div class="slds-p-around_medium">
                    Left bump
                </div></c-layout-item
            >
            <c-layout-item size="200px" style="background: #9d8189"
                ><div class="slds-p-around_medium">
                    Fized size
                </div></c-layout-item
            >
        </c-layout>
    </div>
</template>
