.storybook/
.eslintignore
.eslintrc.json
.gitignore
.gitmodules
.prettierignore
.prettierrc
jest.config.js
package-lock.json

# LWC Jest
**/__tests__/**
jest-mock/**

# LWC Docs
**/__docs__/**

# LWC Examples
**/__examples__/**

#LWC wrappers
**/storybookWrappers/**

#Salesforce meta
*.js-meta.xml

#Github workflow
.github/**