@import './shared.css';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.avonni-progress-bar__vertical-bar {
    transform: rotate(180deg);
}

.avonni-progress-bar__vertical_size-x-small {
    height: var(--lwc-sizeXSmall, 12rem);
}

.avonni-progress-bar__vertical_size-small {
    height: var(--lwc-sizeSmall, 15rem);
}

.avonni-progress-bar__vertical_size-medium {
    height: var(--lwc-sizeMedium, 20rem);
}

.avonni-progress-bar__vertical_size-large {
    height: var(--lwc-sizeLarge, 25rem);
}

.avonni-progress-bar__vertical_size-full {
    flex-grow: 1;
}

.avonni-progress-bar__vertical_top-container {
    display: inline-flex;
}

.avonni-progress-bar__circle-pin.avonni-progress-bar__pin-right,
.avonni-progress-bar__circle-pin {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    right: calc(-32px - 7px);
    bottom: calc(-32px / 2);
    line-height: 32px;
}

.avonni-progress-bar__rectangle-pin.avonni-progress-bar__pin-right,
.avonni-progress-bar__rectangle-pin {
    height: 32px;
    width: fit-content;
    min-width: 32px;
    border-radius: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    left: calc(100% + 7px);
    bottom: 0;
    line-height: 32px;
}

.avonni-progress-bar__circle-pin.avonni-progress-bar__pin-left {
    right: unset;
    left: calc(-32px - 7px);
    bottom: calc(-32px / 2);
}

.avonni-progress-bar__rectangle-pin.avonni-progress-bar__pin-left {
    right: calc(100% + 7px);
    left: unset;
    bottom: 0;
}

.avonni-progress-bar__circle-pin::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    border: 16px solid transparent;
    border-radius: 50% 50% 50% 0;
    transform: rotate(45deg);
    z-index: -1;
}

.avonni-progress-bar__rectangle-pin::after {
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    left: -5px;
    width: 10px;
    transform: rotate(45deg);
    border: 5px solid transparent;
    z-index: -1;
}

.avonni-progress-bar__circle-pin.avonni-progress-bar__pin-left::after {
    transform: rotate(225deg);
}

.avonni-progress-bar__rectangle-pin.avonni-progress-bar__pin-left::after {
    left: unset;
    right: -5px;
    transform: rotate(225deg);
}
