.avonni-progress-bar__label {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--avonni-progress-bar-label-text-color, #080707);
    font-size: var(--avonni-progress-bar-label-font-size, 0.8125rem);
    font-style: var(--avonni-progress-bar-label-font-style, normal);
    font-weight: var(--avonni-progress-bar-label-font-weight, 400);
    -webkit-line-clamp: var(--avonni-progress-bar-label-line-clamp, 2);
}

.avonni-progress-bar__value {
    color: var(--avonni-progress-bar-value-text-color, #080707);
    font-size: var(--avonni-progress-bar-value-font-size, 0.8125rem);
    font-style: var(--avonni-progress-bar-value-font-style, normal);
    font-weight: var(--avonni-progress-bar-value-font-weight, 700);
}

/* Pin */
.avonni-progress-bar__pin {
    position: absolute;
    text-align: center;
    z-index: 10;
}

.avonni-progress-bar__pin::after {
    background: inherit;
}

.avonni-progress-bar__pin-value {
    color: var(--avonni-progress-bar-pin-text-color, #ffff);
    font-size: 0.725rem;
    font-style: var(--avonni-progress-bar-pin-font-style, normal);
    font-weight: var(--avonni-progress-bar-pin-font-weight, 700);
}

/* Theme */
/* Alt Inverse */
.avonni-progress-bar__pin_theme-alt-inverse {
    background: var(--avonni-progress-bar-pin-color-background, #032d60);
}

.avonni-progress-bar__bar_theme-alt-inverse {
    background: var(
        --avonni-progress-bar-bar-value-alt-inverse-color-background,
        #032d60
    );
}

.avonni-progress-bar__bar-background_theme-alt-inverse {
    background-color: var(
        --avonni-progress-bar-alt-inverse-color-background,
        #dddbda
    );
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-alt-inverse {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(
            --avonni-progress-bar-bar-value-alt-inverse-color-background,
            #032d60
        );
    background-size: 64px 64px, auto;
}

/* Base */
.avonni-progress-bar__pin_theme-base {
    background: var(
        --avonni-progress-bar-pin-color-background,
        var(--lwc-brandAccessible, #0176d3)
    );
}

.avonni-progress-bar__bar_theme-base {
    background: var(
        --avonni-progress-bar-bar-value-base-color-background,
        var(--lwc-brandAccessible, #0176d3)
    );
}

.avonni-progress-bar__bar-background_theme-base {
    background-color: var(--avonni-progress-bar-base-color-background, #dddbda);
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-base {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(
            --avonni-progress-bar-bar-value-base-color-background,
            var(--lwc-brandAccessible, #0176d3)
        );
    background-size: 64px 64px, auto;
}

/* Error */
.avonni-progress-bar__pin_theme-error {
    background: var(--avonni-progress-bar-pin-color-background, #ba0517);
}

.avonni-progress-bar__bar_theme-error {
    background: var(
        --avonni-progress-bar-bar-value-error-color-background,
        #ba0517
    );
}

.avonni-progress-bar__bar-background_theme-error {
    background-color: var(
        --avonni-progress-bar-error-color-background,
        #dddbda
    );
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-error {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(--avonni-progress-bar-bar-value-error-color-background, #ba0517);
    background-size: 64px 64px, auto;
}

/* Info */
.avonni-progress-bar__pin_theme-info {
    background: var(--avonni-progress-bar-pin-color-background, #706e6b);
}

.avonni-progress-bar__bar_theme-info {
    background: var(
        --avonni-progress-bar-bar-value-info-color-background,
        #706e6b
    );
}

.avonni-progress-bar__bar-background_theme-info {
    background-color: var(--avonni-progress-bar-info-color-background, #dddbda);
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-info {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(--avonni-progress-bar-bar-value-info-color-background, #706e6b);
    background-size: 64px 64px, auto;
}

/* Inverse */
.avonni-progress-bar__pin_theme-inverse {
    background: var(--avonni-progress-bar-pin-color-background, #001639);
}

.avonni-progress-bar__bar_theme-inverse {
    background: var(
        --avonni-progress-bar-bar-value-inverse-color-background,
        #001639
    );
}

.avonni-progress-bar__bar-background_theme-inverse {
    background-color: var(
        --avonni-progress-bar-inverse-color-background,
        #dddbda
    );
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-inverse {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(--avonni-progress-bar-bar-value-inverse-color-background, #001639);
    background-size: 64px 64px, auto;
}

/* Offline */
.avonni-progress-bar__pin_theme-offline {
    background: var(--avonni-progress-bar-pin-color-background, #444);
}

.avonni-progress-bar__bar_theme-offline {
    background: var(
        --avonni-progress-bar-bar-value-offline-color-background,
        #444
    );
}

.avonni-progress-bar__bar-background_theme-offline {
    background-color: var(
        --avonni-progress-bar-offline-color-background,
        #dddbda
    );
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-offline {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(--avonni-progress-bar-bar-value-offline-color-background, #444);
    background-size: 64px 64px, auto;
}

/* Success */
.avonni-progress-bar__pin_theme-success {
    background: var(--avonni-progress-bar-pin-color-background, #2e844a);
}

.avonni-progress-bar__bar_theme-success {
    background: var(
        --avonni-progress-bar-bar-value-success-color-background,
        #2e844a
    );
}

.avonni-progress-bar__bar-background_theme-success {
    background-color: var(
        --avonni-progress-bar-success-color-background,
        #dddbda
    );
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-success {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(--avonni-progress-bar-bar-value-success-color-background, #2e844a);
    background-size: 64px 64px, auto;
}

/* Warning */
.avonni-progress-bar__pin_theme-warning {
    background: var(--avonni-progress-bar-pin-color-background, #dd7a01);
}

.avonni-progress-bar__bar_theme-warning {
    background: var(
        --avonni-progress-bar-bar-value-warning-color-background,
        #dd7a01
    );
}

.avonni-progress-bar__bar-background_theme-warning {
    background-color: var(
        --avonni-progress-bar-warning-color-background,
        #dddbda
    );
}

.avonni-progress-bar__bar_theme-texture.avonni-progress-bar__bar_theme-warning {
    background: linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        ),
        var(--avonni-progress-bar-bar-value-warning-color-background, #dd7a01);
    background-size: 64px 64px, auto;
}
