.avonni-blockquote__header-spacing {
    margin-bottom: 0.75rem;
}

.avonni-blockquote__primitive-icon_color {
    --sds-c-icon-radius-border: var(--avonni-blockquote-icon-radius-border);
}

.avonni-blockquote__theme-default.avonni-blockquote__container {
    background-color: var(
        --avonni-blockquote-default-color-background,
        #fafaf9
    );
    border-left-color: var(
        --avonni-blockquote-default-color-border-left,
        #080707
    );
    color: var(--avonni-blockquote-default-text-color, #3e3e3c);
}

.avonni-blockquote__theme-brand.avonni-blockquote__container {
    background-color: var(--avonni-blockquote-brand-color-background, #fafaf9);
    border-left-color: var(
        --avonni-blockquote-brand-color-border-left,
        #0176d3
    );
    color: var(--avonni-blockquote-brand-text-color, #3e3e3c);
}

.avonni-blockquote__theme-warning.avonni-blockquote__container {
    background-color: var(
        --avonni-blockquote-warning-color-background,
        #fafaf9
    );
    border-left-color: var(
        --avonni-blockquote-warning-color-border-left,
        #dd7a01
    );
    color: var(--avonni-blockquote-warning-text-color, #3e3e3c);
}

.avonni-blockquote__theme-error.avonni-blockquote__container {
    background-color: var(--avonni-blockquote-error-color-background, #fafaf9);
    border-left-color: var(
        --avonni-blockquote-error-color-border-left,
        #ba0517
    );
    color: var(--avonni-blockquote-error-text-color, #3e3e3c);
}

.avonni-blockquote__theme-success.avonni-blockquote__container {
    background-color: var(
        --avonni-blockquote-success-color-background,
        #fafaf9
    );
    border-left-color: var(
        --avonni-blockquote-success-color-border-left,
        #2e844a
    );
    color: var(--avonni-blockquote-success-text-color, #3e3e3c);
}

blockquote.avonni-blockquote__container {
    font-size: var(--avonni-blockquote-container-font-size, 1rem);
    font-weight: var(--avonni-blockquote-container-font-weight, 300);
    font-family: var(
        --avonni-blockquote-container-font-family,
        'Salesforce Sans',
        Arial,
        sans-serif
    );
    font-style: var(--avonni-blockquote-container-font-style, normal);
    padding: 1rem;
    margin: 0 0 0 0;
    border: 1px solid var(--avonni-blockquote-color-border, #f2f2f2);
    border-left-width: 0.125rem;
    height: var(--avonni-blockquote-sizing-height);
    width: var(--avonni-blockquote-sizing-width);
    overflow: var(--avonni-blockquote-sizing-overflow);
    border-radius: var(--avonni-blockquote-radius-border);
    line-height: var(
        --avonni-blockquote-container-line-height,
        var(--lwc-lineHeightHeading, 1.25)
    );
    letter-spacing: var(--avonni-blockquote-container-letter-spacing);
}

blockquote.avonni-blockquote__container .avonni-blockquote__title {
    margin-bottom: 0;
    font-weight: var(--avonni-blockquote-title-font-weight, 600);
    font-family: var(
        --avonni-blockquote-title-font-family,
        'Salesforce Sans',
        Arial,
        sans-serif
    );
    font-size: var(--avonni-blockquote-title-font-size, 1rem);
    font-style: var(--avonni-blockquote-title-font-style, normal);
    line-height: var(
        --avonni-blockquote-title-line-height,
        var(--lwc-lineHeightHeading, 1.25)
    );
    letter-spacing: var(--avonni-blockquote-title-letter-spacing);
}

.avonni-blockquote__theme-default.avonni-blockquote__container
    .avonni-blockquote__title {
    color: var(--avonni-blockquote-default-title-text-color, #080707);
}

.avonni-blockquote__theme-default .avonni-blockquote__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-blockquote-default-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-blockquote-default-icon-color-foreground-default
    );
    --sds-c-icon-color-background: var(
        --avonni-blockquote-default-icon-color-background
    );
}

.avonni-blockquote__theme-brand.avonni-blockquote__container
    .avonni-blockquote__title {
    color: var(--avonni-blockquote-brand-title-text-color, #0176d3);
}

.avonni-blockquote__theme-brand .avonni-blockquote__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-blockquote-brand-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-blockquote-brand-icon-color-foreground-default
    );
    --sds-c-icon-color-background: var(
        --avonni-blockquote-brand-icon-color-background
    );
}

.avonni-blockquote__theme-warning.avonni-blockquote__container
    .avonni-blockquote__title {
    color: var(--avonni-blockquote-warning-title-text-color, #dd7a01);
}

.avonni-blockquote__theme-warning .avonni-blockquote__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-blockquote-warning-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-blockquote-warning-icon-color-foreground-default
    );
    --sds-c-icon-color-background: var(
        --avonni-blockquote-warning-icon-color-background
    );
}

.avonni-blockquote__theme-error.avonni-blockquote__container
    .avonni-blockquote__title {
    color: var(--avonni-blockquote-error-title-text-color, #ba0517);
}

.avonni-blockquote__theme-error .avonni-blockquote__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-blockquote-error-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-blockquote-error-icon-color-foreground-default
    );
    --sds-c-icon-color-background: var(
        --avonni-blockquote-error-icon-color-background
    );
}

.avonni-blockquote__theme-success.avonni-blockquote__container
    .avonni-blockquote__title {
    color: var(--avonni-blockquote-success-title-text-color, #2e844a);
}

.avonni-blockquote__theme-success .avonni-blockquote__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-blockquote-success-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-blockquote-success-icon-color-foreground-default
    );
    --sds-c-icon-color-background: var(
        --avonni-blockquote-success-icon-color-background
    );
}
