.avonni-color-picker__tab:focus {
    text-decoration: underline;
}

.slds-form-element_stacked .slds-form-element {
    padding-left: 0.5rem;
}

.slds-swatch {
    min-width: 20px;
    min-height: 20px;
}

.slds-tabs_default__content {
    padding-bottom: 0;
}

.avonni-color-picker__spinner-container {
    width: 10rem;
    height: 4rem;
}

.avonni-color-picker__default-palette {
    max-height: 180px;
}

.avonni-color-picker__label {
    color: var(--avonni-color-picker-label-text-color, #3e3e3c);
    font-size: var(--avonni-color-picker-label-font-size, 0.75rem);
    font-weight: var(--avonni-color-picker-label-font-weight, 400);
    font-style: var(--avonni-color-picker-label-font-style, normal);
}

.avonni-color-picker-tabs_default {
    display: block;
    width: 100%;
}

.avonni-color-picker-tabs_default__item {
    color: #444;
    position: relative;
    padding: 0 0.75rem;
    margin-bottom: -1px;
}

.avonni-color-picker-tabs_default__item.slds-is-active {
    color: var(--lwc-colorTextDefault, #181818);
}

.avonni-color-picker-tabs_default__item.slds-is-active
    .avonni-color-picker-tabs_default__link {
    font-weight: 700;
}

.avonni-color-picker-tabs_default__item.slds-is-active:after {
    background-color: #1b96ff;
    height: 3px;
}

.avonni-color-picker-tabs_default__item:after {
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    position: absolute;
}

.avonni-color-picker-tabs_default__link {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    cursor: pointer;
    height: 2.5rem;
    line-height: 2.5rem;
    color: currentColor;
    border: 0;
    text-transform: inherit;
    z-index: 1;
}

.avonni-color-picker-tabs_default__nav {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e5e5e5;
}

.avonni-color-picker__button_bare {
    --slds-c-button-text-color: var(--slds-g-color-neutral-base-50, #747474);
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.avonni-color-picker__button_bare-inverse {
    background-color: transparent;
    border-color: transparent;
    color: var(--slds-g-color-neutral-base-100, #fff);
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.slds-button.avonni-color-picker__button_bare-inverse:active {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

.avonni-color-picker__button_bare-inverse:hover,
.avonni-color-picker__button_bare-inverse:focus {
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.75);
}

.avonni-color-picker__button_border {
    border-color: var(--slds-g-color-border-base-4, #747474);
    color: var(--slds-g-color-neutral-base-50, #747474);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.slds-button.avonni-color-picker__button_border:active {
    border-color: var(--lwc-brandAccessibleActive, #014486);
    color: var(--lwc-brandAccessibleActive, #014486);
}

.avonni-color-picker__button_border:hover,
.avonni-color-picker__button_border:focus {
    color: var(--lwc-brandAccessibleActive, #014486);
}

.avonni-color-picker__button_border-filled {
    background-color: var(--slds-g-color-neutral-base-100, #fff);
    border-color: var(--slds-g-color-border-base-4, #747474);
    color: var(--slds-g-color-neutral-base-50, #747474);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.slds-button.avonni-color-picker__button_border-filled:active {
    background-color: var(--slds-g-color-neutral-base-100, #fff);
    border-color: var(--lwc-brandAccessibleActive, #014486);
    color: var(--lwc-brandAccessibleActive, #014486);
}

.avonni-color-picker__button_border-filled:hover,
.avonni-color-picker__button_border-filled:focus {
    background-color: var(--slds-g-color-neutral-base-100, #fff);
    color: var(--lwc-brandAccessibleActive, #014486);
}

.avonni-color-picker__button_border-inverse {
    background-color: transparent;
    border-color: var(--slds-g-color-border-base-1, #c9c9c9);
    color: var(--slds-g-color-neutral-base-100, #fff);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.slds-button.avonni-color-picker__button_border-inverse:active {
    background-color: transparent;
    border-color: var(
        --slds-g-color-neutral-100-opacity-50,
        hsla(0, 0%, 100%, 0.5)
    );
    color: var(--slds-g-color-neutral-100-opacity-50, hsla(0, 0%, 100%, 0.5));
}

.avonni-color-picker__button_border-inverse:hover,
.avonni-color-picker__button_border-inverse:focus {
    background-color: transparent;
    border-color: var(--slds-g-color-border-base-1, #c9c9c9);
    color: var(--slds-g-color-neutral-100-opacity-50, hsla(0, 0%, 100%, 0.5));
}

.avonni-color-picker__button_container {
    background-color: var(--slds-c-button-color-background, transparent);
    border-color: var(--slds-c-button-color-border, transparent);
    color: var(--lwc-colorTextIconDefault, #747474);
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.slds-button.avonni-color-picker__button_container:active {
    background-color: var(--slds-c-button-color-background, transparent);
    border-color: var(--lwc-brandAccessibleActive, #014486);
    color: var(--lwc-brandAccessibleActive, #014486);
}

.avonni-color-picker__button_container:hover,
.avonni-color-picker__button_container:focus {
    background-color: transparent;
    border-color: transparent;
    color: var(--lwc-brandAccessibleActive, #014486);
}
