

.avonni-primitive-combobox__input-has-icon_left-right input {
    padding-left: var(--lwc-spacingXLarge, 2rem);
}

.avonni-primitive-combobox__dropdown {
    box-sizing: content-box;
}

input.avonni-primitive-combobox__input {
    border-color: var(--avonni-combobox-input-color-border, #dddbda);
    border-style: var(--avonni-combobox-input-styling-border, solid);
    border-radius: var(--avonni-combobox-input-radius-border, 0.25rem);
    border-width: var(--avonni-combobox-input-sizing-border, 1px);
}

:host.avonni-combobox__scopes input.avonni-primitive-combobox__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}

:host.avonni-combobox__main-combobox_scopes
    input.avonni-primitive-combobox__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.avonni-primitive-combobox__action,
.avonni-primitive-combobox__action.avonni-primitive-combobox__action_disabled {
    background: var(--avonni-combobox-action-color-background, transparent);
}

.avonni-primitive-combobox__action_fixed {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--avonni-combobox-action-color-background, #ffffff);
}

.avonni-primitive-combobox__action:not(.avonni-primitive-combobox__action_disabled):hover,
.avonni-primitive-combobox__action.avonni-primitive-combobox__option_focused {
    background: var(--avonni-combobox-action-color-background-hover, #f3f2f2);
}

.avonni-primitive-combobox__action_disabled,
.avonni-primitive-combobox__action_disabled lightning-icon {
    color: #dddbda;
}
