.avonni-primitive-combobox__input-has-icon_left-right input {
    padding-left: var(--lwc-spacingXLarge, 2rem);
}

.avonni-primitive-combobox__dropdown {
    box-sizing: content-box;
}

input.avonni-primitive-combobox__input {
    border-color: var(--avonni-combobox-input-color-border, #747474);
    border-style: var(--avonni-combobox-input-styling-border, solid);
    border-radius: var(
        --avonni-combobox-input-radius-border,
        var(--slds-s-input-radius-border, 0.25rem)
    );
    border-width: var(--avonni-combobox-input-sizing-border, 1px);
}

:host.avonni-combobox__scopes input.avonni-primitive-combobox__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}

:host.avonni-combobox__main-combobox_scopes
    input.avonni-primitive-combobox__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* 
* Replacement for .slds-media__body 
* Prevents the option label and icon from wrapping on different lines
* if the combobox is used inside a .slds-listbox__option element, in SLDS 1.
*/
.avonni-primitive-combobox__option-label {
    flex: 1;
    min-width: 0;
}
.avonni-primitive-combobox__option-label,
.avonni-primitive-combobox__option-label > :lastchild {
    margin-bottom: 0;
}

.avonni-primitive-combobox__action {
    background: var(--avonni-combobox-action-color-background, transparent);
    color: var(
        --avonni-combobox-action-text-color,
        var(--lwc-colorTextDefault, #181818)
    );
    font-size: var(--avonni-combobox-action-text-font-size, 0.75rem);
    font-style: var(--avonni-combobox-action-text-font-style, normal);
    font-weight: var(--avonni-combobox-action-text-font-weight, 400);
    --sds-c-icon-color-background: var(
        --avonni-combobox-action-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-combobox-action-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-combobox-action-icon-color-foreground
    );
    --sds-c-icon-radius-border: var(
        --avonni-combobox-action-icon-radius-border
    );
}

.avonni-primitive-combobox__action.avonni-primitive-combobox__action_disabled {
    background: var(
        --avonni-combobox-action-color-background-disabled,
        transparent
    );
    color: var(--avonni-combobox-action-text-color-disabled, #dddbda);
    --sds-c-icon-color-background: var(
        --avonni-combobox-action-icon-color-background-disabled
    );
    --sds-c-icon-color-foreground: var(
        --avonni-combobox-action-icon-color-foreground-disabled
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-combobox-action-icon-color-foreground-disabled
    );
}

.avonni-primitive-combobox__action:not(.avonni-primitive-combobox__action_disabled):hover,
.avonni-primitive-combobox__action.avonni-primitive-combobox__option_focused {
    background: var(--avonni-combobox-action-color-background-hover, #f3f2f2);
    color: var(
        --avonni-combobox-action-text-color-hover,
        var(--lwc-colorTextDefault, #181818)
    );
    --sds-c-icon-color-background: var(
        --avonni-combobox-action-icon-color-background-hover
    );
    --sds-c-icon-color-foreground: var(
        --avonni-combobox-action-icon-color-foreground-hover
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-combobox-action-icon-color-foreground-hover
    );
}

.avonni-primitive-combobox__action_fixed {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--avonni-combobox-action-color-background, #ffffff);
}

.avonni-primitive-combobox__action_disabled,
.avonni-primitive-combobox__action_disabled lightning-icon {
    color: #dddbda;
}

.slds-input-has-icon .slds-input__icon:not(button) {
    pointer-events: none;
}
