.faux_x-small {
    height: 0.75rem !important;
    width: 1.5rem !important;
}

/* Align vertically toggle when label is inline */
label.slds-grid .faux_x-small {
    margin-top: 0.45rem;
}

.label input:checked + .slds-checkbox_faux_container .faux_x-small::before,
.label .slds-checkbox_faux_container .faux_x-small::after {
    height: 0.5rem;
    width: 0.5rem;
}

.label input:checked + .slds-checkbox_faux_container .faux_x-small::after {
    height: 0.45rem;
    width: 0.3rem;
    left: 0.2rem;
    top: 0;
}

.faux_small {
    height: 1rem !important;
    width: 2rem !important;
}

/* Align vertically toggle when label is inline */
label.slds-grid .faux_small {
    margin-top: 0.3rem;
}

.label input:checked + .slds-checkbox_faux_container .faux_small::before,
.label .slds-checkbox_faux_container .faux_small::after {
    height: 0.75rem;
    width: 0.75rem;
}

.label input:checked + .slds-checkbox_faux_container .faux_small::after {
    height: 0.55rem;
    width: 0.4rem;
    left: 0.3rem;
    top: 0.05rem;
}

.faux_large {
    height: 1.75rem !important;
    width: 3.5rem !important;
}

.label input:checked + .slds-checkbox_faux_container .faux_large::before,
.label .slds-checkbox_faux_container .faux_large::after {
    height: 1.5rem;
    width: 1.5rem;
}

.label input:checked + .slds-checkbox_faux_container .faux_large::after {
    height: 1rem;
    width: 0.6rem;
    left: 0.6rem;
    top: 0.1rem;
}

.label input:checked + .slds-checkbox_faux_container .faux_hide-mark::after {
    display: none;
}

.avonni-input-toggle__label.slds1 {
    color: var(
        --avonni-input-toggle-header-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-input-toggle-header-font-size, 0.75rem);
    font-style: var(--avonni-input-toggle-header-font-style, normal);
    font-weight: var(--avonni-input-toggle-header-font-weight, 400);
}

.avonni-input-toggle__label.slds2 {
    color: var(
        --avonni-input-toggle-header-text-color,
        var(--slds-g-color-on-surface-2, #2e2e2e)
    );
    font-size: var(
        --avonni-input-toggle-header-font-size,
        var(--slds-g-font-scale-base, 0.8125rem)
    );
    font-style: var(--avonni-input-toggle-header-font-style, normal);
    font-weight: var(
        --avonni-input-toggle-header-font-weight,
        var(--slds-g-font-weight-6, 600)
    );
}
