.avonni-avatar {
    display: inline-block;
    line-height: 0;
}

/* Sizes */
.avonni-avatar_xx-small .slds-avatar {
    font-size: 0.6rem;
    height: 0.875rem;
    width: 0.875rem;
}
.slds-avatar_x-small .slds-avatar,
.slds-avatar_small .slds-avatar,
.slds-avatar_medium .slds-avatar,
.slds-avatar_large .slds-avatar {
    width: inherit;
    height: inherit;
    font-size: inherit;
}
.avonni-avatar_x-large .slds-avatar {
    font-size: 1.25rem;
    width: 56px;
    height: 56px;
}
.avonni-avatar_xx-large .slds-avatar {
    font-size: 1.5rem;
    width: 72px;
    height: 72px;
}

/* Positionning */
.avonni-avatar_square .avonni-avatar_top-right {
    top: 2px;
    right: 2px;
}
.avonni-avatar_square .avonni-avatar_top-left {
    top: 2px;
    left: 2px;
}
.avonni-avatar_square .avonni-avatar_bottom-right {
    bottom: 2px;
    right: 2px;
}
.avonni-avatar_square .avonni-avatar_bottom-left {
    bottom: 2px;
    left: 2px;
}

.avonni-avatar_circle .avonni-avatar_top-right {
    top: 0;
    right: 0;
}
.avonni-avatar_circle .avonni-avatar_top-left {
    top: 0;
    left: 0;
}
.avonni-avatar_circle .avonni-avatar_bottom-right {
    bottom: 0;
    right: 0;
}
.avonni-avatar_circle .avonni-avatar_bottom-left {
    bottom: 0;
    left: 0;
}

/* Status */
.avonni-avatar__status {
    color: var(--lwc-colorTextInverse, #fff);
    position: absolute;
    border-radius: var(--lwc-borderRadiusCircle, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid #f3f2f2;
}

.avonni-avatar__status_approved {
    background-color: #04844b;
}

.avonni-avatar__status_locked {
    color: #514f4d;
    background-color: #ecebea;
}

.avonni-avatar__status_declined {
    background-color: #c23934;
}

.avonni-avatar__status_unknown {
    background-color: #706e6b;
}

.avonni-avatar_xx-small .avonni-avatar__status {
    width: 8px;
    height: 8px;
}
.slds-avatar_x-small .avonni-avatar__status {
    width: 10px;
    height: 10px;
}
.slds-avatar_small .avonni-avatar__status {
    width: 10px;
    height: 10px;
}
.slds-avatar_medium .avonni-avatar__status {
    width: 12px;
    height: 12px;
}
.slds-avatar_large .avonni-avatar__status {
    width: 16px;
    height: 16px;
}
.avonni-avatar_x-large .avonni-avatar__status {
    width: 18px;
    height: 18px;
}
.avonni-avatar_xx-large .avonni-avatar__status {
    width: 20px;
    height: 20px;
}

/* Presence */
.avonni-avatar__presence {
    position: absolute;
    border-radius: var(--lwc-borderRadiusCircle, 50%);
}
.avonni-avatar_xx-small .avonni-avatar__presence {
    width: 4px;
    height: 4px;
}
.slds-avatar_x-small .avonni-avatar__presence {
    width: 6px;
    height: 6px;
}
.slds-avatar_small .avonni-avatar__presence {
    width: 8px;
    height: 8px;
}
.slds-avatar_medium .avonni-avatar__presence {
    width: 8px;
    height: 8px;
    margin: 1px;
}
.slds-avatar_large .avonni-avatar__presence {
    width: 12px;
    height: 12px;
    margin: 2px;
}
.avonni-avatar_x-large .avonni-avatar__presence {
    width: 14px;
    height: 14px;
    margin: 2px;
}
.avonni-avatar_xx-large .avonni-avatar__presence {
    width: 14px;
    height: 14px;
    margin: 3px;
}
.avonni-avatar__presence_online {
    background-color: #04844b;
}
.avonni-avatar__presence_busy {
    background-color: #bf0201;
}
.avonni-avatar__presence_focus {
    background-color: #1589ee;
}
.avonni-avatar__presence_offline {
    background-color: #3e3e3c;
}
.avonni-avatar__presence_blocked {
    background-color: #ecebea;
}
.avonni-avatar__presence_away {
    background-color: #ff9a3c;
}

/* Entity */
.avonni-avatar__entity {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lwc-colorTextInverse, #fff);
}
.avonni-avatar__entity-icon {
    /* So the icon size changes with its container's */
    display: flex;
    width: inherit;
}

.avonni-avatar_xx-small .avonni-avatar__entity {
    width: 8px;
    height: 8px;
    font-size: 0.1rem;
}
.slds-avatar_x-small .avonni-avatar__entity {
    width: 10px;
    height: 10px;
    font-size: 0.1rem;
}
.slds-avatar_small .avonni-avatar__entity {
    width: 10px;
    height: 10px;
    font-size: 0.1rem;
}
.slds-avatar_medium .avonni-avatar__entity {
    width: 12px;
    height: 12px;
    font-size: 0.1rem;
}
.slds-avatar_large .avonni-avatar__entity {
    width: 16px;
    height: 16px;
    font-size: 0.6rem;
}
.avonni-avatar_x-large .avonni-avatar__entity {
    width: 18px;
    height: 18px;
    font-size: 0.6rem;
}
.avonni-avatar_xx-large .avonni-avatar__entity {
    width: 20px;
    height: 20px;
    font-size: 0.6rem;
}
