@import 'c/schedulerSharedStyle';

.avonni-scheduler__wrapper {
    max-height: calc(100vh - var(--avonni-scheduler-toolbar-height, 70px));
    height: 100%;
    max-width: 100%;
}
.avonni-scheduler__wrapper_month {
    max-height: 100%;
    height: calc(100vh - var(--avonni-scheduler-toolbar-height, 70px));
}

.avonni-scheduler__panel {
    width: 310px;
}

.avonni-scheduler__main-section {
    flex: 1 1 0;
}

.avonni-scheduler-calendar__visible-scrollbar {
    scrollbar-gutter: stable;
}

.avonni-scheduler__calendar-column {
    flex: 1 0 0;
}

.avonni-scheduler__calendar-horizontal-header {
    max-height: 300px;
}

.avonni-scheduler__calendar-cell {
    height: var(--avonni-scheduler-cell-height);
    min-height: var(--avonni-scheduler-cell-height);
}

.avonni-scheduler__calendar-cell-month {
    height: 100%;
}

.avonni-scheduler__calendar-cell-month-day {
    font-size: 0.75rem;
}

.avonni-scheduler__calendar-cell_disabled,
.avonni-scheduler__calendar-cell-multi-day[data-disabled='true'] {
    background-color: var(--slds-g-color-neutral-base-90, #e5e5e5);
}

.avonni-scheduler__calendar-cell_outside-of-current-month {
    background-color: var(--lwc-colorBackground, #f3f3f3);
}

.avonni-scheduler__calendar-cell-multi-day:last-of-type {
    border-right: none;
}

.avonni-primitive-scheduler-calendar__inherit-height {
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

.avonni-primitive-scheduler-calendar__month-show-more-button {
    background: linear-gradient(
        0deg,
        var(--lwc-colorBackgroundAlt, #fff),
        transparent
    );
    z-index: 2;
}

.avonni-scheduler__calendar-header {
    --avonni-primitive-scheduler-header-group-cell-color-background: #fff;
    --avonni-primitive-scheduler-header-group-cell-height: 2.5rem;
    --avonni-primitive-scheduler-header-group-cell-border-right-width: 0;
}

.avonni-scheduler__calendar-header_horizontal {
    position: sticky;
    top: 0;
    z-index: 2;
}

.avonni-scheduler__calendar-day-header-wrapper {
    position: sticky;
    top: 0;
    z-index: 2;
    --avonni-primitive-scheduler-header-group-cell-text-color-today: var(
        --lwc-brandAccessible,
        #0176d3
    );
}

.avonni-scheduler__calendar-day-header-wrapper:not(.avonni-scheduler__calendar-day-header-wrapper_month) {
    border-bottom: 2px solid #747474;
}

.avonni-scheduler__calendar-show-more-popover {
    --slds-c-popover-position-zindex: 5;
    min-width: var(--lwc-sizeXSmall, 12rem);
}

.avonni-scheduler__calendar-month-multi-day-placeholder {
    height: 1.5rem;
}

.avonni-scheduler__calendar-month-grid .avonni-scheduler__calendar-cell {
    border-right-color: var(--lwc-colorBorder, #e5e5e5);
    border-bottom-color: #747474;
}

.avonni-scheduler__calendar-month-grid .avonni-scheduler__calendar-cell_today {
    border: 1px solid
        var(--lwc-colorBorderRowSelected, var(--lwc-brandAccessible, #0176d3));
}

.avonni-scheduler__calendar-month-grid
    .avonni-scheduler__calendar-cell_today
    .avonni-scheduler__calendar-cell-month-day
    span {
    color: var(--lwc-colorTextInverse, #fff);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lwc-brandAccessible, #0176d3);
    border-radius: 50%;
    width: 1.15rem;
    height: 1.15rem;
}

.avonni-scheduler__calendar-cell:last-of-type {
    border-bottom: none;
}

.avonni-scheduler__calendar-column:nth-child(7)
    .avonni-scheduler__calendar-cell,
.avonni-scheduler__calendar-column_day .avonni-scheduler__calendar-cell {
    border-right: none;
}
