.slds-progress__item::before {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: gray;
    left: -4px;
    right: 0;
    margin-top: 1.5rem;
}

.slds-progress__item::after {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: gray;
    left: 4px;
    right: 0;
    margin-top: 1.5rem;
}

.slds-progress__item:last-child::after {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: transparent;
    left: 4px;
    right: 0;
    margin-top: 1.5rem;
}

.slds-progress__item:first-child::before {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: transparent;
    left: 4px;
    right: 0;
    margin-top: 1.5rem;
}

.slds-is-completed::before {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: #60b4ff;
    left: -4px;
    right: 0;
    margin-top: 1.5rem;
}

.slds-is-completed::after {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: #60b4ff;
    left: 4px;
    right: 0;
    margin-top: 1.5rem;
}

.slds-is-completed:last-child::before {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: #60b4ff;
    left: -4px;
    right: 0;
    margin-top: 1.5rem;
}

.slds-is-active::before {
    content: '';
    display: block;
    height: 0.1rem;
    position: relative;
    width: 35%;
    top: 26px;
    background-color: #60b4ff;
    left: -4px;
    right: 0;
    margin-top: 1.5rem;
}

.avonni-progress-step-sizing {
    flex: 1 1 auto;
    position: relative;
}
