.avonni-button-menu {
    border-radius: var(--avonni-button-menu-radius-border, 0.25rem);
    border-width: var(--avonni-button-menu-sizing-border, 1px);
    border-style: var(--avonni-button-menu-styling-border, solid);
    height: inherit;
}

.avonni-button-menu_bare:disabled,
.avonni-button-menu_bare-inverse:disabled,
.avonni-button-menu_border-inverse:disabled,
.avonni-button-menu_container:disabled,
.avonni-button-menu_inverse:disabled {
    color: #dddbda;
    background-color: transparent;
    border-color: transparent;
    pointer-events: none;
}

.avonni-button-menu_brand:disabled,
.avonni-button-menu_destructive:disabled,
.avonni-button-menu_success:disabled {
    color: #fff;
    background-color: #c9c7c5;
    border-color: #c9c7c5;
    pointer-events: none;
}

.avonni-button-menu_brand-outline:disabled,
.avonni-button-menu_border:disabled,
.avonni-button-menu_border-filled:disabled,
.avonni-button-menu_destructive-text:disabled,
.avonni-button-menu_neutral:disabled {
    color: #dddbda;
    background-color: #fff;
    border-color: #c9c7c5;
    pointer-events: none;
}

.avonni-button-menu__button-icon-more {
    width: auto !important;
    line-height: 1.875rem;
}

.avonni-button-menu__button-icon-container-more {
    width: auto !important;
    line-height: 1.875rem;
    vertical-align: middle;
}

.avonni-button-menu__button_label {
    font-family: var(--avonni-button-menu-label-font-family);
    font-size: var(--avonni-button-menu-label-font-size, 0.8175rem);
    font-style: var(--avonni-button-menu-label-font-style, normal);
    font-weight: var(--avonni-button-menu-label-font-weight, 400);
}

.avonni-button-menu__button-icon {
    text-align: center;
    justify-content: center;
    transition: border 0.15s linear;
}

.avonni-button-menu__dropdown {
    max-width: var(--avonni-button-menu-dropdown-max-width, 20rem);
}

.avonni-button-menu_bare {
    --slds-c-button-color-background: var(
        --avonni-button-menu-button-bare-color-background
    );
    --slds-c-button-color-border: var(
        --avonni-button-menu-button-bare-color-border
    );
    color: var(
        --avonni-button-menu-button-bare-text-color,
        var(--slds-g-color-neutral-base-50, #747474)
    );
    padding-right: var(--avonni-button-menu-button-bare-spacing-inline-end, 0);
    padding-left: var(--avonni-button-menu-button-bare-spacing-inline-start, 0);
    padding-top: var(--avonni-button-menu-button-bare-spacing-block-start, 0);
    padding-bottom: var(--avonni-button-menu-button-bare-spacing-block-end, 0);
}

.slds-button.avonni-button-menu_bare:active {
    --slds-c-button-color-background-active: var(
        --avonni-button-menu-button-bare-color-background-active
    );
    --slds-c-button-color-border-active: var(
        --avonni-button-menu-button-bare-color-border-active
    );
    color: var(
        --avonni-button-menu-button-bare-text-color-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu_bare:hover,
.avonni-button-menu_bare:focus {
    --slds-c-button-color-background: var(
        --avonni-button-menu-button-bare-color-background-hover
    );
    --slds-c-button-color-border: var(
        --avonni-button-menu-button-bare-color-border-hover
    );
    color: var(
        --avonni-button-menu-button-bare-text-color-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu_bare-inverse {
    background-color: var(
        --avonni-button-menu-button-bare-inverse-color-background,
        transparent
    );
    border-color: var(
        --avonni-button-menu-button-bare-inverse-color-border,
        transparent
    );
    color: var(
        --avonni-button-menu-button-bare-inverse-text-color,
        var(--slds-g-color-neutral-base-100, #fff)
    );
    padding-right: var(
        --avonni-button-menu-button-bare-inverse-spacing-inline-end,
        0
    );
    padding-left: var(
        --avonni-button-menu-button-bare-inverse-spacing-inline-start,
        0
    );
    padding-top: var(
        --avonni-button-menu-button-bare-inverse-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-bare-inverse-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_bare-inverse:active {
    background-color: var(
        --avonni-button-menu-button-bare-inverse-color-background-active,
        transparent
    );
    border-color: var(
        --avonni-button-menu-button-bare-inverse-color-border-active,
        rgba(255, 255, 255, 0.75)
    );
    color: var(
        --avonni-button-menu-button-bare-inverse-text-color-active,
        rgba(255, 255, 255, 0.75)
    );
}

.avonni-button-menu_bare-inverse:hover,
.avonni-button-menu_bare-inverse:focus {
    background-color: var(
        --avonni-button-menu-button-bare-inverse-color-background-hover,
        transparent
    );
    border-color: var(
        --avonni-button-menu-button-bare-inverse-color-border-hover,
        transparent
    );
    color: var(
        --avonni-button-menu-button-bare-inverse-text-color-hover,
        rgba(255, 255, 255, 0.75)
    );
}

.avonni-button-menu_base {
    --slds-c-button-color-background: var(
        --avonni-button-menu-button-base-color-background
    );
    --slds-c-button-color-border: var(
        --avonni-button-menu-button-base-color-border
    );
    color: var(
        --avonni-button-menu-button-base-text-color,
        var(--lwc-brandAccessible, #0176d3)
    );
    padding-right: var(--avonni-button-menu-button-base-spacing-inline-end, 0);
    padding-left: var(--avonni-button-menu-button-base-spacing-inline-start, 0);
    padding-top: var(--avonni-button-menu-button-base-spacing-block-start, 0);
    padding-bottom: var(--avonni-button-menu-button-base-spacing-block-end, 0);
}

.slds-button.avonni-button-menu_base:active {
    background-color: var(
        --avonni-button-menu-button-base-color-background-active
    );
    border-color: var(
        --avonni-button-menu-button-base-color-border-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
    color: var(
        --avonni-button-menu-button-base-text-color-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu_base:hover,
.avonni-button-menu_base:focus {
    background-color: var(
        --avonni-button-menu-button-base-color-background-hover
    );
    --avonni-button-menu-button-base-color-border: var(
        --avonni-button-menu-button-base-color-border-hover
    );
    --avonni-button-menu-button-base-text-color: var(
        --avonni-button-menu-button-base-text-color-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu__button_label.avonni-button-menu_border {
    padding-right: var(
        --avonni-button-menu-button-border-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-border-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_border {
    padding-right: var(
        --avonni-button-menu-button-border-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-border-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_border {
    background-color: var(--avonni-button-menu-button-border-color-background);
    border-color: var(
        --avonni-button-menu-button-border-color-border,
        var(--slds-g-color-border-base-4, #747474)
    );
    color: var(
        --avonni-button-menu-button-border-text-color,
        var(--slds-g-color-neutral-base-50, #747474)
    );
    padding-top: var(--avonni-button-menu-button-border-spacing-block-start, 0);
    padding-bottom: var(
        --avonni-button-menu-button-border-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_border:active {
    background-color: var(
        --avonni-button-menu-button-border-color-background-active
    );
    border-color: var(
        --avonni-button-menu-button-border-color-border-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
    color: var(
        --avonni-button-menu-button-border-text-color-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu_border:hover,
.avonni-button-menu_border:focus {
    background-color: var(
        --avonni-button-menu-button-border-color-background-hover
    );
    --avonni-button-menu-button-border-color-border: var(
        --avonni-button-menu-button-border-color-border-hover
    );
    --avonni-button-menu-button-border-text-color: var(
        --avonni-button-menu-button-border-text-color-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu__button_label.avonni-button-menu_border-filled {
    padding-right: var(
        --avonni-button-menu-button-border-filled-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-border-filled-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_border-filled {
    padding-right: var(
        --avonni-button-menu-button-border-filled-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-border-filled-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_border-filled {
    background-color: var(
        --avonni-button-menu-button-border-filled-color-background,
        var(--slds-g-color-neutral-base-100, #fff)
    );
    border-color: var(
        --avonni-button-menu-button-border-filled-color-border,
        var(--slds-g-color-border-base-4, #747474)
    );
    color: var(
        --avonni-button-menu-button-border-filled-text-color,
        var(--slds-g-color-neutral-base-50, #747474)
    );
    padding-top: var(
        --avonni-button-menu-button-border-filled-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-border-filled-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_border-filled:active {
    background-color: var(
        --avonni-button-menu-button-border-filled-color-background-active,
        var(--slds-g-color-neutral-base-100, #fff)
    );
    border-color: var(
        --avonni-button-menu-button-border-filled-color-border-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
    color: var(
        --avonni-button-menu-button-border-filled-text-color-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu_border-filled:hover,
.avonni-button-menu_border-filled:focus {
    background-color: var(
        --avonni-button-menu-button-border-filled-color-background-hover,
        var(--slds-g-color-neutral-base-100, #fff)
    );
    --avonni-button-menu-button-border-filled-color-border: var(
        --avonni-button-menu-button-border-filled-color-border-hover,
        var(--slds-g-color-border-base-4, #747474)
    );
    --avonni-button-menu-button-border-filled-text-color: var(
        --avonni-button-menu-button-border-filled-text-color-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu__button_label.avonni-button-menu_border-inverse {
    padding-right: var(
        --avonni-button-menu-button-border-inverse-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-border-inverse-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-container-more.avonni-button-menu_border-inverse {
    padding-right: var(
        --avonni-button-menu-button-border-inverse-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-border-inverse-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_border-inverse {
    background-color: var(
        --avonni-button-menu-button-border-inverse-color-background
    );
    border-color: var(
        --avonni-button-menu-button-border-inverse-color-border,
        var(--slds-g-color-border-base-1, #c9c9c9)
    );
    color: var(
        --avonni-button-menu-button-border-inverse-text-color,
        var(--slds-g-color-neutral-base-100, #fff)
    );
    padding-top: var(
        --avonni-button-menu-button-border-inverse-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-border-inverse-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_border-inverse:active {
    background-color: var(
        --avonni-button-menu-button-border-inverse-color-background-active
    );
    border-color: var(
        --avonni-button-menu-button-border-inverse-color-border-active,
        var(--slds-g-color-neutral-100-opacity-50, hsla(0, 0%, 100%, 0.5))
    );
    color: var(
        --avonni-button-menu-button-border-inverse-text-color-active,
        var(--slds-g-color-neutral-100-opacity-50, hsla(0, 0%, 100%, 0.5))
    );
}

.avonni-button-menu_border-inverse:hover,
.avonni-button-menu_border-inverse:focus {
    background-color: var(
        --avonni-button-menu-button-border-inverse-color-background-hover
    );
    border-color: var(
        --avonni-button-menu-button-border-inverse-color-border-hover,
        var(--slds-g-color-border-base-1, #c9c9c9)
    );
    color: var(
        --avonni-button-menu-button-border-inverse-text-color-hover,
        var(--slds-g-color-neutral-100-opacity-50, hsla(0, 0%, 100%, 0.5))
    );
}

.avonni-button-menu__button_label.avonni-button-menu_brand {
    padding-right: var(
        --avonni-button-menu-button-brand-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-brand-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_brand {
    padding-right: var(
        --avonni-button-menu-button-brand-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-brand-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_brand {
    --slds-c-button-brand-color-background: var(
        --avonni-button-menu-button-brand-color-background
    );
    --slds-c-button-brand-color-border: var(
        --avonni-button-menu-button-brand-color-border
    );
    --slds-c-button-brand-text-color: var(
        --avonni-button-menu-button-brand-text-color
    );
    padding-top: var(--avonni-button-menu-button-brand-spacing-block-start, 0);
    padding-bottom: var(--avonni-button-menu-button-brand-spacing-block-end, 0);
}

.slds-button.avonni-button-menu_brand:active {
    --slds-c-button-brand-color-background-active: var(
        --avonni-button-menu-button-brand-color-background-active
    );
    --sds-c-button-brand-color-border-active: var(
        --avonni-button-menu-button-brand-color-border-active
    );
    --slds-c-button-brand-text-color-active: var(
        --avonni-button-menu-button-brand-text-color-active
    );
}

.avonni-button-menu_brand:hover,
.avonni-button-menu_brand:focus {
    --slds-c-button-brand-color-background-hover: var(
        --avonni-button-menu-button-brand-color-background-hover
    );
    --slds-c-button-brand-color-border-hover: var(
        --avonni-button-menu-button-brand-color-border-hover
    );
    --slds-c-button-brand-text-color-hover: var(
        --avonni-button-menu-button-brand-text-color-hover
    );
}

.avonni-button-menu__button_label.avonni-button-menu_brand-outline {
    padding-right: var(
        --avonni-button-menu-button-outline-brand-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-outline-brand-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_brand-outline {
    padding-right: var(
        --avonni-button-menu-button-outline-brand-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-outline-brand-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_brand-outline {
    --slds-c-button-outline-brand-color-background: var(
        --avonni-button-menu-button-outline-brand-color-background
    );
    --slds-c-button-outline-brand-color-border: var(
        --avonni-button-menu-button-outline-brand-color-border
    );
    --slds-c-button-text-color: var(
        --avonni-button-menu-button-outline-brand-text-color
    );
    padding-top: var(
        --avonni-button-menu-button-outline-brand-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-outline-brand-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_brand-outline:active {
    background-color: var(
        --avonni-button-menu-button-outline-brand-color-background-active,
        var(--slds-g-color-neutral-base-95, #f3f3f3)
    );
    --sds-c-button-outline-brand-color-border-active: var(
        --avonni-button-menu-button-outline-brand-color-border-active
    );
    --slds-c-button-text-color-active: var(
        --avonni-button-menu-button-outline-brand-text-color-active
    );
}

.avonni-button-menu_brand-outline:hover,
.avonni-button-menu_brand-outline:focus {
    background-color: var(
        --avonni-button-menu-button-outline-brand-color-background-hover,
        var(--slds-g-color-neutral-base-95, #f3f3f3)
    );
    --slds-c-button-outline-brand-color-border-hover: var(
        --avonni-button-menu-button-outline-brand-color-border-hover
    );
    --slds-c-button-text-color-hover: var(
        --avonni-button-menu-button-outline-brand-text-color-hover
    );
}

.avonni-button-menu__button_label.avonni-button-menu_container {
    padding-right: var(
        --avonni-button-menu-button-container-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-container-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_container {
    padding-right: var(
        --avonni-button-menu-button-container-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-container-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_container {
    background-color: var(
        --avonni-button-menu-button-container-color-background,
        var(--sds-c-button-color-background, transparent)
    );
    border-color: var(
        --avonni-button-menu-button-container-color-border,
        var(--sds-c-button-color-border, transparent)
    );
    color: var(
        --avonni-button-menu-button-container-text-color,
        var(--lwc-colorTextIconDefault, #747474)
    );
    padding-top: var(
        --avonni-button-menu-button-container-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-container-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_container:active {
    background-color: var(
        --avonni-button-menu-button-container-color-background-active,
        var(--sds-c-button-color-background, transparent)
    );
    border-color: var(
        --avonni-button-menu-button-container-color-border-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
    color: var(
        --avonni-button-menu-button-container-text-color-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu_container:hover,
.avonni-button-menu_container:focus {
    background-color: var(
        --avonni-button-menu-button-container-color-background-hover,
        transparent
    );
    --avonni-button-menu-button-container-color-border: var(
        --avonni-button-menu-button-container-color-border-hover,
        transparent
    );
    --avonni-button-menu-button-container-text-color: var(
        --avonni-button-menu-button-container-text-color-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-button-menu__button_label.avonni-button-menu_destructive {
    padding-right: var(
        --avonni-button-menu-button-destructive-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-destructive-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_destructive {
    padding-right: var(
        --avonni-button-menu-button-destructive-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-destructive-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_destructive {
    --slds-c-button-destructive-color-background: var(
        --avonni-button-menu-button-destructive-color-background
    );
    --slds-c-button-destructive-color-border: var(
        --avonni-button-menu-button-destructive-color-border
    );
    --slds-c-button-destructive-text-color: var(
        --avonni-button-menu-button-destructive-text-color
    );
    padding-top: var(
        --avonni-button-menu-button-destructive-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-destructive-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_destructive:active {
    --slds-c-button-destructive-color-background-active: var(
        --avonni-button-menu-button-destructive-color-background-active
    );
    --slds-c-button-destructive-color-border-active: var(
        --avonni-button-menu-button-destructive-color-border-active
    );
    --slds-c-button-destructive-text-color-active: var(
        --avonni-button-menu-button-destructive-text-color-active
    );
}

.avonni-button-menu_destructive:hover,
.avonni-button-menu_destructive:focus {
    --slds-c-button-destructive-color-background-hover: var(
        --avonni-button-menu-button-destructive-color-background-hover
    );
    --slds-c-button-color-border-hover: var(
        --avonni-button-menu-button-destructive-color-border-hover
    );
    --sds-c-button-destructive-text-color-hover: var(
        --avonni-button-menu-button-destructive-text-color-hover
    );
}

.avonni-button-menu__button_label.avonni-button-menu_destructive-text {
    padding-right: var(
        --avonni-button-menu-button-text-destructive-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-text-destructive-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_destructive-text {
    padding-right: var(
        --avonni-button-menu-button-text-destructive-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-text-destructive-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_destructive-text {
    --slds-c-button-text-destructive-color-background: var(
        --avonni-button-menu-button-text-destructive-color-background
    );
    --slds-c-button-text-destructive-color-border: var(
        --avonni-button-menu-button-text-destructive-color-border
    );
    --slds-c-button-text-destructive-text-color: var(
        --avonni-button-menu-button-text-destructive-text-color
    );
    padding-top: var(
        --avonni-button-menu-button-text-destructive-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-text-destructive-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_destructive-text:active {
    --slds-c-button-color-background-active: var(
        --avonni-button-menu-button-text-destructive-color-background-active
    );
    --sds-c-button-text-destructive-color-border-active: var(
        --avonni-button-menu-button-text-destructive-color-border-active
    );
    --slds-c-button-text-destructive-text-color-active: var(
        --avonni-button-menu-button-text-destructive-text-color-active
    );
}

.avonni-button-menu_destructive-text:hover,
.avonni-button-menu_destructive-text:focus {
    --slds-c-button-color-background-hover: var(
        --avonni-button-menu-button-text-destructive-color-background-hover
    );
    --slds-c-button-text-destructive-color-border-hover: var(
        --avonni-button-menu-button-text-destructive-color-border-hover
    );
    --sds-c-button-text-destructive-text-color-hover: var(
        --avonni-button-menu-button-text-destructive-text-color-hover
    );
}

.avonni-button-menu__button_label.avonni-button-menu_inverse {
    padding-right: var(
        --avonni-button-menu-button-inverse-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-inverse-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_inverse {
    padding-right: var(
        --avonni-button-menu-button-inverse-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-inverse-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_inverse {
    --slds-c-button-inverse-color-background: var(
        --avonni-button-menu-button-inverse-color-background
    );
    --slds-c-button-inverse-color-border: var(
        --avonni-button-menu-button-inverse-color-border
    );
    --slds-c-button-inverse-text-color: var(
        --avonni-button-menu-button-inverse-text-color
    );
    padding-top: var(
        --avonni-button-menu-button-inverse-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-inverse-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_inverse:active {
    --slds-c-button-color-background-active: var(
        --avonni-button-menu-button-inverse-color-background-active
    );
    --slds-c-button-inverse-color-border-active: var(
        --avonni-button-menu-button-inverse-color-border-active
    );
    --slds-c-button-inverse-text-color-active: var(
        --avonni-button-menu-button-inverse-text-color-active
    );
}

.avonni-button-menu_inverse:hover,
.avonni-button-menu_inverse:focus {
    --slds-c-button-color-background-hover: var(
        --avonni-button-menu-button-inverse-color-background-hover
    );
    --slds-c-button-inverse-color-border-hover: var(
        --avonni-button-menu-button-inverse-color-border-hover
    );
    --slds-c-button-inverse-text-color-hover: var(
        --avonni-button-menu-button-inverse-text-color-hover
    );
}

.slds-button.avonni-button-menu_inverse:focus {
    --slds-c-button-shadow: 0 0 3px #f3f3f3;
    outline: none;
}

.avonni-button-menu__button_label.avonni-button-menu_neutral {
    padding-right: var(
        --avonni-button-menu-button-neutral-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-neutral-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_neutral {
    padding-right: var(
        --avonni-button-menu-button-neutral-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-neutral-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_neutral {
    --slds-c-button-neutral-color-background: var(
        --avonni-button-menu-button-neutral-color-background
    );
    --slds-c-button-neutral-color-border: var(
        --avonni-button-menu-button-neutral-color-border
    );
    --slds-c-button-text-color: var(
        --avonni-button-menu-button-neutral-text-color
    );
    padding-top: var(
        --avonni-button-menu-button-neutral-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-neutral-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_neutral:active {
    --slds-c-button-color-background-active: var(
        --avonni-button-menu-button-neutral-color-background-active
    );
    --slds-c-button-color-border-active: var(
        --avonni-button-menu-button-neutral-color-border-active
    );
    --slds-c-button-text-color-active: var(
        --avonni-button-menu-button-neutral-text-color-active
    );
}

.avonni-button-menu_neutral:hover,
.avonni-button-menu_neutral:focus {
    --slds-c-button-color-background-hover: var(
        --avonni-button-menu-button-neutral-color-background-hover
    );
    --slds-c-button-neutral-color-border-hover: var(
        --avonni-button-menu-button-neutral-color-border-hover
    );
    --slds-c-button-text-color-hover: var(
        --avonni-button-menu-button-neutral-text-color-hover
    );
}

.avonni-button-menu__button_label.avonni-button-menu_success {
    padding-right: var(
        --avonni-button-menu-button-success-spacing-inline-end,
        1rem
    );
    padding-left: var(
        --avonni-button-menu-button-success-spacing-inline-start,
        1rem
    );
}

.avonni-button-menu__button-icon-more.avonni-button-menu_success {
    padding-right: var(
        --avonni-button-menu-button-success-spacing-inline-end,
        0.5rem
    );
    padding-left: var(
        --avonni-button-menu-button-success-spacing-inline-start,
        0.5rem
    );
}

.avonni-button-menu_success {
    --slds-c-button-success-color-background: var(
        --avonni-button-menu-button-success-color-background
    );
    --slds-c-button-success-color-border: var(
        --avonni-button-menu-button-success-color-border
    );
    --slds-c-button-success-text-color: var(
        --avonni-button-menu-button-success-text-color
    );
    padding-top: var(
        --avonni-button-menu-button-success-spacing-block-start,
        0
    );
    padding-bottom: var(
        --avonni-button-menu-button-success-spacing-block-end,
        0
    );
}

.slds-button.avonni-button-menu_success:active {
    --slds-c-button-success-color-background-active: var(
        --avonni-button-menu-button-success-color-background-active
    );
    --slds-c-button-success-color-border-active: var(
        --avonni-button-menu-button-success-color-border-active
    );
    --sds-c-button-success-text-color-active: var(
        --avonni-button-menu-button-success-text-color-active
    );
}

.avonni-button-menu_success:hover,
.avonni-button-menu_success:focus {
    --slds-c-button-success-color-background-hover: var(
        --avonni-button-menu-button-success-color-background-hover
    );
    --slds-c-button-success-color-border-hover: var(
        --avonni-button-menu-button-success-color-border-hover
    );
    --slds-c-button-success-text-color-hover: var(
        --avonni-button-menu-button-success-text-color-hover
    );
}

/**
* Size
*/
.avonni-button-menu__icon_xx-small {
    height: 1rem;
    width: 1rem;
    line-height: 0;
}
.avonni-button-menu__icon_x-small {
    height: 1.25rem;
    width: 1.25rem;
}
.avonni-button-menu__icon_small {
    height: 1.5rem;
    width: 1.5rem;
}
.avonni-button-menu__icon_medium {
    height: 2.125rem;
    width: 2.125rem;
}
.avonni-button-menu__icon_large {
    height: 2.25rem;
    width: 2.25rem;
    line-height: 1.25;
}

.avonni-button-menu__image {
    border-radius: var(--avonni-button-menu-image-radius-border, 0.25rem);
    border-style: var(--avonni-button-menu-image-styling-border);
    border-width: var(--avonni-button-menu-image-sizing-border);
    border-color: var(--avonni-button-menu-image-color-border);
    object-fit: var(--avonni-button-menu-image-object-fit, cover);
}

.avonni-button-menu__image_xx-small {
    width: 0.5rem;
    height: 0.5rem;
    min-width: 0.5rem;
    min-height: 0.5rem;
}

.avonni-button-menu__image_x-small {
    width: 0.75rem;
    height: 0.75rem;
    min-width: 0.75rem;
    min-height: 0.75rem;
}

.avonni-button-menu__image_small {
    width: 0.875rem;
    height: 0.875rem;
    min-width: 0.875rem;
    min-height: 0.875rem;
}

.avonni-button-menu__image_medium {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
}

.avonni-button-menu__image_large {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.avonni-button-menu__button_medium {
    height: 2rem;
}

.avonni-button-menu__button_large {
    height: 3rem;
}

.avonni-button-menu__main-icon-with-label-adjust-scale_small,
.avonni-button-menu__main-icon-with-label-adjust-scale_medium,
.avonni-button-menu__main-icon-with-label-adjust-scale_large {
    margin-right: 0.25rem;
}

.avonni-button-menu__main-icon-with-label_small,
.avonni-button-menu__main-icon-with-label_medium,
.avonni-button-menu__main-icon-with-label_large {
    margin-right: 0.125rem;
}

.avonni-button-menu__main-icon-with-label_xx-small {
    scale: 0.5715;
}

.avonni-button-menu__main-icon-with-label_x-small {
    scale: 0.857;
}

.avonni-button-menu__main-icon-with-label-adjust-scale_xx-small {
    scale: 0.857;
}

.avonni-button-menu__main-icon-with-label-adjust-scale_x-small {
    scale: 1.25;
}

.avonni-button-menu__main-icon-with-label-adjust-scale_small,
.avonni-button-menu__main-icon-with-label-adjust-scale_medium,
.avonni-button-menu__main-icon-with-label-adjust-scale_large,
.avonni-button-menu__main-icon-adjust-scale {
    scale: 1.5;
}
