.avonni-list__flex-col {
    flex: 1 1 auto;
}

.avonni-list__item-wrapper {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.avonni-list__single-line {
    min-height: 3rem;
}

/* VALUE ASSIGNMENTS */
.avonni-list__item-menu {
    width: 100%;
    --avonni-layout-items-spacing-block-between: var(
        --avonni-list-item-spacing-block-between,
        0.5rem
    );
    margin-inline: calc(
        var(--avonni-list-item-spacing-inline-between, 0.5rem) / -2
    );
}

.avonni-list__item-menu.avonni-list__item-menu_horizontal-compact {
    margin-inline: 0;
}

.avonni-list__item-menu.avonni-list__vertical-compact {
    --avonni-layout-items-spacing-block-between: var(
        --avonni-list-item-spacing-block-between,
        0
    );
}

.avonni-list__item {
    --avonni-card-color-background: var(
        --avonni-list-item-color-background,
        transparent
    );
    padding-left: calc(
        var(--avonni-list-item-spacing-inline-between, 0.5rem) / 2
    );
    padding-right: calc(
        var(--avonni-list-item-spacing-inline-between, 0.5rem) / 2
    );
    --avonni-card-header-spacing-block-start: 0px;
    --avonni-card-header-spacing-block-end: 0px;
    --avonni-card-media-sizing-border: 0px;
    --avonni-card-body-spacing-block-start: 0px;
    --avonni-card-body-spacing-block-end: 0px;
    --avonni-card-shadow: var(--avonni-list-item-shadow, none);
}

.avonni-list__item.avonni-list__item_horizontal-compact {
    padding-left: 0;
    padding-right: 0;
}

.avonni-list-item-body {
    padding-left: var(--avonni-list-item-spacing-inline-start, 0.5rem);
    padding-right: var(--avonni-list-item-spacing-inline-end, 0.5rem);
    padding-top: var(--avonni-list-item-spacing-block-start, 0.5rem);
    padding-bottom: var(--avonni-list-item-spacing-block-end, 0.5rem);
}

.avonni-list__item-sortable {
    user-select: none;
    --avonni-card-color-background: var(
        --avonni-list-item-color-background-sortable,
        var(--avonni-list-item-color-background, transparent)
    );
}

.avonni-list__header_font {
    color: var(--avonni-list-header-text-color, #080707);
    font-size: var(--avonni-list-header-font-size, 0.875rem);
    font-style: var(--avonni-list-header-font-style, normal);
    font-weight: var(--avonni-list-header-font-weight, 400);
    line-height: var(--avonni-list-header-line-height, 1.25);
}

.avonni-list__item-sortable-icon-cursor {
    cursor: grab;
}

.avonni-list__lower-spinner {
    min-height: 3rem;
}

.avonni-list__page-change-button-container {
    position: relative;
    min-width: 30px;
    max-width: 30px;
}

.avonni-list__page-change-button {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

/* Disable the hover on touch */
@media (hover: hover) {
    .avonni-list__item:hover {
        cursor: var(--avonni-list-item-cursor, default);
        --avonni-card-color-background: var(
            --avonni-list-item-color-background-hover
        );
    }

    .avonni-list__item-sortable:hover {
        cursor: var(
            --avonni-list-item-cursor-sortable,
            var(--avonni-list-item-cursor, grab)
        );
        --avonni-card-color-background: var(
            --avonni-list-item-color-background-sortable-hover,
            var(
                --avonni-list-item-color-background-hover,
                rgba(207, 207, 207, 0.25)
            )
        );
    }
}

.avonni-list__item-media-action-top-right {
    margin-top: -4px;
    margin-right: -8px;
}

.avonni-list__item-sortable.avonni-list__item-sortable_dragged {
    position: relative;
    z-index: 1;
    border: none;
    --avonni-card-shadow: 0 0 10px rgb(0 0 0 / 40%);
    opacity: 0.8;
    cursor: grabbing;
    --avonni-card-color-background: var(
        --avonni-list-item-color-background,
        transparent
    );
}

.avonni-list__image_container {
    height: 100%;
    width: 100%;
}

.avonni-list__item-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    background-color: var(--avonni-list-item-image-color-background);
}

.avonni-list__item-image_object-fit-contain {
    object-fit: contain;
}

.avonni-list__item-image_object-fit-fill {
    object-fit: fill;
}

.avonni-list__item-image_object-fit-none {
    object-fit: none;
}

.avonni-list__item-icons {
    transform: translateY(-1px);
}

.avonni-list__item-icon {
    padding-left: 0.25rem;
    --slds-c-icon-color-background: var(
        --avonni-list-item-icon-color-background
    );
    --slds-c-icon-color-foreground: var(
        --avonni-list-item-icon-color-foreground
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-list-item-icon-color-foreground-default
    );
    --slds-c-icon-radius-border: var(
        --avonni-list-item-icon-radius-border,
        0.25rem
    );
}

.avonni-list__item-fields-container {
    background-color: var(--avonni-list-item-fields-color-background);
    border-radius: var(--avonni-list-item-fields-radius-border, 0.25rem);
    border-width: var(--avonni-list-item-fields-sizing-border, 1px);
    border-style: var(--avonni-list-item-fields-styling-border);
    border-color: var(--avonni-list-item-fields-color-border, #e5e5e5);
    padding-right: var(--avonni-list-item-fields-spacing-inline);
    padding-left: var(--avonni-list-item-fields-spacing-inline);
    padding-bottom: var(--avonni-list-item-fields-spacing-block, 0.25rem);
    --avonni-layout-item-spacing-block-start: var(
        --avonni-list-item-fields-spacing-block,
        0.25rem
    );
}

.avonni-list-item-body__vertical-alignment {
    align-items: var(--avonni-list-item-body-vertical-alignment, center);
}

.avonni-list__item-actions-container {
    margin: var(--lwc-spacingXSmall, 0.5rem) var(--lwc-spacingXSmall, 0.5rem)
        var(--lwc-spacingXSmall, 0.5rem) 0;
    align-self: var(
        --avonni-list-item-actions-vertical-alignment,
        var(--avonni-list-item-body-vertical-alignment, center)
    );
}

/* AVATAR */
.avonni-list-item-avatar {
    --avonni-avatar-image-object-fit: var(
        --avonni-list-item-avatar-image-object-fit,
        cover
    );
    align-self: var(
        --avonni-list-item-avatar-vertical-alignment,
        var(--avonni-list-item-body-vertical-alignment, center)
    );
}

.avonni-list-item-avatar-top {
    align-self: var(
        --avonni-list-item-avatar-vertical-alignment,
        var(--avonni-list-item-body-vertical-alignment, flex-start)
    );
}

.avonni-list-item-avatar-bottom {
    align-self: var(
        --avonni-list-item-avatar-vertical-alignment,
        var(--avonni-list-item-body-vertical-alignment, flex-end)
    );
}

/* LINK COLORS */
a.avonni-list__item-header-link {
    color: var(
        --avonni-list-item-header-link-text-color,
        var(--lwc-brandAccessible, #0176d3)
    );
}

a.avonni-list__item-header-link:hover,
a.avonni-list__item-header-link:focus {
    color: var(
        --avonni-list-item-header-link-text-color-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

a.avonni-list__item-header-link:active {
    color: var(
        --avonni-list-item-header-link-text-color-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

a.avonni-list__item-info-link {
    color: var(
        --avonni-list-item-infos-link-text-color,
        var(--lwc-brandAccessible, #0176d3)
    );
}

a.avonni-list__item-info-link:hover,
a.avonni-list__item-info-link:focus {
    color: var(
        --avonni-list-item-infos-link-text-color-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

a.avonni-list__item-info-link:active {
    color: var(
        --avonni-list-item-infos-link-text-color-active,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-list__item-info {
    font-size: var(--avonni-list-item-info-font-size, 0.8125rem);
    font-weight: var(--avonni-list-item-info-font-weight, 400);
    font-style: var(--avonni-list-item-info-font-style, normal);
    color: var(--avonni-list-item-info-text-color, #444444);
}

.avonni-list__item_check-list {
    cursor: pointer;
}

.avonni-list__item-divider_sortable {
    border-color: var(--avonni-list-item-color-border, #747474);
    --avonni-card-color-border: var(--avonni-list-item-color-border, #747474);
}

.avonni-list__item-divider {
    border-color: var(
        --avonni-list-item-color-border,
        var(--slds-g-color-border-base-1, #c9c9c9)
    );
}

.avonni-list__item-divider_none,
.avonni-list__item-divider_top,
.avonni-list__item-divider_bottom {
    --avonni-card-sizing-border: 0px;
    --avonni-card-radius-border: 0px;
}

.avonni-list__item-divider_top {
    border-top-width: var(--avonni-list-item-sizing-border, 1px);
    border-top-style: var(--avonni-list-item-styling-border, solid);
}

.avonni-list__item-divider_bottom {
    border-bottom-width: var(--avonni-list-item-sizing-border, 1px);
    border-bottom-style: var(--avonni-list-item-styling-border, solid);
}

.avonni-list__item-divider_around {
    --avonni-card-radius-border: var(
        --avonni-list-item-around-border-radius,
        0.25rem
    );
    --avonni-card-sizing-border: var(--avonni-list-item-sizing-border, 1px);
    --avonni-card-styling-border: var(--avonni-list-item-styling-border, solid);
}

.avonni-list__item-header_font {
    color: var(--avonni-list-item-header-text-color, #080707);
    font-size: var(--avonni-list-item-header-font-size);
    font-style: var(--avonni-list-item-header-font-style, normal);
    font-weight: var(--avonni-list-item-header-font-weight, 400);
}

.avonni-list-item-body:has(.avonni-list__item-checkbox-button
        [type='checkbox']:checked)
    .avonni-list__checkbox-list-item-header_font {
    text-decoration: line-through;
}

.avonni-list__item-description_font {
    color: var(--avonni-list-item-description-text-color, #080707);
    font-size: var(--avonni-list-item-description-font-size);
    font-style: var(--avonni-list-item-description-font-style, normal);
    font-weight: var(--avonni-list-item-description-font-weight, 400);
    -webkit-line-clamp: var(--avonni-list-item-description-line-clamp, 2);
}

/* LINK INVERSE COLORS */
.avonni-list__item-text-color_inverse a.avonni-list__item-header-link {
    color: var(--avonni-list-item-header-link-text-color-inverse, white);
}

.avonni-list__item-text-color_inverse a.avonni-list__item-header-link:hover,
.avonni-list__item-text-color_inverse a.avonni-list__item-header-link:focus {
    color: var(
        --avonni-list-item-header-link-text-color-inverse-hover,
        var(--lwc-colorTextLinkInverseHover, rgba(255, 255, 255, 0.75))
    );
}

.avonni-list__item-text-color_inverse a.avonni-list__item-header-link:active {
    color: var(
        --avonni-list-item-header-link-text-color-inverse-active,
        var(--lwc-colorTextLinkInverseActive, rgba(255, 255, 255, 0.5))
    );
}

.avonni-list__item-text-color_inverse a.avonni-list__item-info-link {
    color: var(--avonni-list-item-infos-link-text-color-inverse, white);
}

.avonni-list__item-text-color_inverse a.avonni-list__item-info-link:hover,
.avonni-list__item-text-color_inverse a.avonni-list__item-info-link:focus {
    color: var(
        --avonni-list-item-infos-link-text-color-inverse-hover,
        var(--lwc-colorTextLinkInverseHover, rgba(255, 255, 255, 0.75))
    );
}

.avonni-list__item-text-color_inverse a.avonni-list__item-info-link:active {
    color: var(
        --avonni-list-item-infos-link-text-color-inverse-active,
        var(--lwc-colorTextLinkInverseActive, rgba(255, 255, 255, 0.5))
    );
}

/* TEXT INVERSE COLOR */
.avonni-list__item-text-color_inverse .avonni-list__item-header_font {
    color: var(--avonni-list-item-header-text-color-inverse, white);
}

.avonni-list__item-text-color_inverse .avonni-list__item-description_font {
    color: var(--avonni-list-item-description-text-color-inverse, white);
}

/* ICON INVERSE COLOR */
.avonni-list__item-text-color_inverse .avonni-list__item-icon,
.avonni-list__item-action-button-icon_inverse {
    --slds-c-icon-color-background: var(
        --avonni-list-item-icon-color-background-inverse
    );
    --slds-c-icon-color-foreground: var(
        --avonni-list-item-icon-color-foreground-inverse
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-list-item-icon-color-foreground-default-inverse,
        white
    );
    --slds-c-icon-radius-border: var(
        --avonni-list-item-icon-radius-border,
        0.25rem
    );
}

/* CHECKBOX */
.avonni-list__item-checkbox-button {
    align-self: flex-start;
}

.avonni-list__item-checkbox-button [type='checkbox'] ~ .slds-checkbox_faux {
    width: var(--avonni-list-item-checkbox-button-size, 2rem);
    height: var(--avonni-list-item-checkbox-button-size, 2rem);
    position: relative;
    display: inline-block;
    border: var(--avonni-list-item-checkbox-button-sizing-border, 1px) solid
        var(--avonni-list-item-checkbox-button-color-border, rgb(201, 201, 201));
    border-radius: var(
        --avonni-list-item-checkbox-button-radius-border,
        0.25rem
    );
    background-color: var(
        --avonni-list-item-checkbox-button-color-background,
        rgb(255, 255, 255)
    );
    cursor: pointer;
}

.avonni-list__item-checkbox-button .slds-checkbox_faux:before,
.avonni-list__item-checkbox-button .slds-checkbox_faux:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.avonni-list__item-checkbox-button
    [type='checkbox']:checked
    ~ .slds-checkbox_faux {
    border-color: transparent;
    background: var(
        --avonni-list-item-checkbox-button-color-background-active,
        rgb(1, 68, 134)
    );
}

.avonni-list__item-checkbox-button
    [type='checkbox']:checked
    ~ .slds-checkbox_faux:before,
.avonni-list__item-checkbox-button
    [type='checkbox']:checked
    ~ .slds-checkbox_faux:after {
    border-bottom: 2px solid
        var(
            --avonni-list-item-checkbox-button-icon-color-background,
            rgb(255, 255, 255)
        );
    border-left: 2px solid
        var(
            --avonni-list-item-checkbox-button-icon-color-background,
            rgb(255, 255, 255)
        );
}

.avonni-list__item-checkbox-button
    [type='checkbox']:checked
    ~ .slds-checkbox_faux:before {
    left: 0.3125rem;
    width: 0.125rem;
    height: 1rem;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.avonni-list__item-checkbox-button
    [type='checkbox']:checked
    ~ .slds-checkbox_faux:after {
    top: 0.3125rem;
    left: -0.625rem;
    width: 0.5625rem;
    height: 0.125rem;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}
