

@import './shared.css';

:host {
    overflow: hidden;
}

.avonni-scheduler__disabled-date:not(.avonni-scheduler__disabled-date_standalone) {
    width: 100%;
    height: 100%;
}
.avonni-scheduler__disabled-date {
    opacity: 0.5;
}
.avonni-scheduler__disabled-date-title {
    max-width: 100%;
}
.avonni-scheduler__disabled-date-title_vertical {
    max-height: 100%;
}
