.avonni-activity-timeline__container {
    position: relative;
}

.avonni-activity-timeline__horizontal-timeline-items {
    margin: 0px;
    padding: 0px;
    opacity: 0.99;
}

.avonni-activity-timeline__horizontal-timeline-resize-cursor {
    cursor: col-resize;
}

.avonni-activity-timeline__horizontal-timeline-scrolling-container {
    width: fit-content;
}

.avonni-activity-timeline__horizontal-timeline {
    overflow: hidden;
    overscroll-behavior-x: contain;
    overscroll-behavior-block: contain;
}

[class*='slds-nubbin_']::before {
    background: #f3f3f3;
}

.avonni-horizontal-activity-timeline__popover {
    --avonni-output-data-label-font-weight: bold;
}

.avonni-activity-timeline__title {
    font-size: var(--avonni-activity-timeline-title-font-size, 1rem);
    font-weight: var(--avonni-activity-timeline-title-font-weight, 400);
    font-style: var(--avonni-activity-timeline-title-font-style, normal);
    color: var(--avonni-activity-timeline-title-text-color, #080707);
}

.avonni-activity-timeline__icon {
    --sds-c-icon-radius-border: var(
        --avonni-activity-timeline-icon-radius-border
    );
    --sds-c-icon-color-background: var(
        --avonni-activity-timeline-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-activity-timeline-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-activity-timeline-icon-color-foreground-default,
        var(--avonni-activity-timeline-icon-color-foreground)
    );
}

.avonni-activity-timeline__horizontal-fields-container {
    background-color: var(
        --avonni-activity-timeline-item-fields-color-background
    );
    border-radius: var(
        --avonni-activity-timeline-item-fields-radius-border,
        0.25rem
    );
    border-width: var(
        --avonni-activity-timeline-item-fields-sizing-border,
        1px
    );
    border-style: var(--avonni-activity-timeline-item-fields-styling-border);
    border-color: var(
        --avonni-activity-timeline-item-fields-color-border,
        #e5e5e5
    );
    padding-right: var(
        --avonni-activity-timeline-item-fields-spacing-inline,
        1rem
    );
    padding-left: var(
        --avonni-activity-timeline-item-fields-spacing-inline,
        1rem
    );
    padding-bottom: var(
        --avonni-activity-timeline-item-fields-spacing-block,
        0.75rem
    );
    --avonni-layout-item-spacing-block-start: var(
        --avonni-activity-timeline-item-fields-spacing-block,
        0.75rem
    );
}

/* Avatar */
.avonni-activity-timeline__horizontal-timeline-avatar__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

.avonni-activity-timeline__horizontal-timeline-avatar__initials {
    color: #ffffff;
    font-size: 0.625rem;
    border-radius: 0.25rem;
    font-weight: 400;
}

.avonni-horizontal-activity-timeline__item-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(
        --avonni-activity-timeline-item-description-line-clamp,
        3
    );
}

.avonni-horizontal-activity-timeline__item:focus {
    outline: none;
}

.avonni-horizontal-activity-timeline__item:focus-visible {
    outline: 3px solid #1589ee;
}
