:host {
    display: block;
}

:host,
.avonni-activity-timeline__container {
    height: 100%;
}
.avonni-activity-timeline__vertical-wrapper {
    height: calc(100% - 44px);
}

.avonni-activity-timeline__spinner {
    top: -20px;
}
.avonni-activity-timeline__title {
    display: block;
    font-size: var(--avonni-activity-timeline-title-font-size, 1rem);
    font-weight: var(--avonni-activity-timeline-title-font-weight, 400);
    font-style: var(--avonni-activity-timeline-title-font-style, normal);
    color: var(--avonni-activity-timeline-title-text-color, #080707);
}

.avonni-activity-timeline__icon {
    --sds-c-icon-radius-border: var(
        --avonni-activity-timeline-icon-radius-border
    );
    --sds-c-icon-color-background: var(
        --avonni-activity-timeline-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-activity-timeline-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-activity-timeline-icon-color-foreground-default
    );
}

.avonni-activity-timeline__show-more-button {
    --slds-c-button-spacing-block-end: var(
        --avonni-activity-timeline-show-more-button-neutral-spacing-block-end
    );
    --slds-c-button-spacing-block-start: var(
        --avonni-activity-timeline-show-more-button-neutral-spacing-block-start
    );
    --slds-c-button-neutral-spacing-inline-end: var(
        --avonni-activity-timeline-show-more-button-neutral-spacing-inline-end
    );
    --slds-c-button-neutral-spacing-inline-start: var(
        --avonni-activity-timeline-show-more-button-neutral-spacing-inline-start
    );
    --slds-c-button-neutral-color-background: var(
        --avonni-activity-timeline-show-more-button-neutral-color-background
    );
    --slds-c-button-neutral-color-background-active: var(
        --avonni-activity-timeline-show-more-button-neutral-color-background-active
    );
    --slds-c-button-neutral-color-background-hover: var(
        --avonni-activity-timeline-show-more-button-neutral-color-background-hover
    );
    --slds-c-button-neutral-color-border: var(
        --avonni-activity-timeline-show-more-button-neutral-color-border
    );
    --slds-c-button-neutral-color-border-active: var(
        --avonni-activity-timeline-show-more-button-neutral-color-border-active
    );
    --slds-c-button-neutral-color-border-hover: var(
        --avonni-activity-timeline-show-more-button-neutral-color-border-hover
    );
    --slds-c-button-text-color: var(
        --avonni-activity-timeline-show-more-button-neutral-text-color
    );
    --slds-c-button-text-color-active: var(
        --avonni-activity-timeline-show-more-button-neutral-text-color-active
    );
    --slds-c-button-text-color-hover: var(
        --avonni-activity-timeline-show-more-button-neutral-text-color-hover
    );
    --slds-c-button-radius-border: var(
        --avonni-activity-timeline-show-more-button-neutral-radius-border
    );
    --slds-c-button-sizing-border: var(
        --avonni-activity-timeline-show-more-button-neutral-sizing-border
    );
}
