.avonni-primitive-scrollable-container__width-100 {
    width: 100%;
}

.avonni-primitive-scrollable-container__main {
    /* Hide horizontal scrollbar */
    scrollbar-width: none;
}

.avonni-primitive-scrollable-container__scroll-button {
    z-index: 1;
    top: 0;
    bottom: 0;
}

.avonni-primitive-scrollable-container__scroll-left-button {
    left: 0;
    background-image: linear-gradient(270deg, transparent 0%, #fff 50%);
}

.avonni-primitive-scrollable-container__scroll-right-button {
    right: 0;
    background-image: linear-gradient(90deg, transparent 0%, #fff 50%);
}
