

.avonni-page-header__flex-col {
    flex: 1 1 auto;
}

.avonni-page-header__header_base {
    background-color: var(
        --avonni-page-header-base-header-color-background,
        #f3f2f2
    );
    --sds-c-icon-radius-border: var(--avonni-page-header-icon-radius-border);
    --sds-c-icon-color-background: var(
        --avonni-page-header-base-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-page-header-base-icon-color-foreground
    );
}

.avonni-page-header__header_object-home {
    padding-bottom: 0.75rem;
    background-color: var(
        --avonni-page-header-object-home-header-color-background,
        #f3f2f2
    );
    --sds-c-icon-radius-border: var(--avonni-page-header-icon-radius-border);
    --sds-c-icon-color-background: var(
        --avonni-page-header-object-home-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-page-header-object-home-icon-color-foreground
    );
}

.avonni-page-header__header_record-home {
    background-color: var(
        --avonni-page-header-record-home-header-color-background,
        #f3f2f2
    );
    --sds-c-icon-radius-border: var(--avonni-page-header-icon-radius-border);
    --sds-c-icon-color-background: var(
        --avonni-page-header-record-home-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-page-header-record-home-icon-color-foreground
    );
}
.avonni-page-header__title-and-actions-row {
    row-gap: 0.5rem;
}
