:host {
    /* internal styling hooks - not documented */
    --avonni-calendar-cell-sizing-width: 42px;
    --avonni-calendar-cell-sizing-height: 42px;
    --avonni-calendar-cell-labeled-sizing-width: 70px;
    --avonni-calendar-cell-labeled-sizing-height: 60px;
}

div:focus {
    outline: none;
}

.avonni-calendar__date-cell,
.avonni-calendar__week-cell {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    vertical-align: top;
    width: var(--avonni-calendar-cell-sizing-width);
    min-width: var(--avonni-calendar-cell-sizing-width);
    max-width: var(--avonni-calendar-cell-sizing-width);
    height: var(--avonni-calendar-cell-sizing-height);
    min-height: var(--avonni-calendar-cell-sizing-height);
    max-height: var(--avonni-calendar-cell-sizing-height);
}

.avonni-calendar__date-with-labels .avonni-calendar__date-cell,
.avonni-calendar__date-with-labels .avonni-calendar__week-cell {
    width: var(--avonni-calendar-cell-labeled-sizing-width);
    min-width: var(--avonni-calendar-cell-labeled-sizing-width);
    max-width: var(--avonni-calendar-cell-labeled-sizing-width);
    height: var(--avonni-calendar-cell-labeled-sizing-height);
    min-height: var(--avonni-calendar-cell-labeled-sizing-height);
    max-height: var(--avonni-calendar-cell-labeled-sizing-height);
}

.avonni-calendar__container {
    width: var(--avonni-calendar-width, fit-content);
}

.avonni-calendar__year-select {
    appearance: none;
    border: 1px solid #747474;
    background: transparent;
}

.avonni-calendar__year-select-icon {
    right: 6px;
    top: 50%;
    transform: translateY(-50%) scale(0.9);
    z-index: -1;
}

.avonni-calendar__week-cell,
.avonni-calendar__disabled-cell.slds-day,
.avonni-calendar__weekdays_color {
    cursor: default !important;
}

.slds-day_adjacent-month {
    color: #adadad;
}

.avonni-calendar__date-cell > .slds-day,
.avonni-calendar__week-cell > span {
    display: block;
    position: relative;
    width: var(--lwc-squareIconMediumBoundary, 2rem);
    min-width: var(--lwc-squareIconMediumBoundary, 2rem);
    height: var(--lwc-squareIconMediumBoundary, 2rem);
    line-height: var(--lwc-squareIconMediumBoundary, 2rem);
    border-radius: var(--lwc-borderRadiusCircle, 50%);
    margin: auto;
}

.avonni-calendar__week-cell {
    color: var(--avonni-calendar-week-label-text-color, #747474);
    font-size: var(--avonni-calendar-week-label-font-size, 0.8125em);
    font-weight: var(--avonni-calendar-week-label-font-weight, 600);
}

.avonni-calendar__table {
    z-index: 0;
}

.avonni-calendar__table-row
    > .avonni-calendar__date-cell:hover
    > .slds-day:not(.avonni-calendar__invisible-cell) {
    background-color: var(
        --avonni-calendar-date-color-background-hover,
        var(--slds-s-button-color-background-hover, #f3f2f2)
    );
}

.avonni-calendar__table-row
    > .avonni-calendar__date-cell:hover
    > .slds-day.avonni-calendar__invisible-cell {
    background-color: transparent;
}

.avonni-calendar__table-row
    > .avonni-calendar__date-cell:hover.slds-is-selected
    > .slds-day {
    background-color: var(
        --avonni-calendar-selected-date-color-background-hover,
        var(
            --avonni-calendar-selected-date-color-background,
            var(--slds-g-color-accent-container-1, #0176d3)
        )
    );
    color: var(--avonni-calendar-selected-date-text-color-hover, #ffffff);
}

.avonni-calendar__background_color {
    background-color: var(--avonni-calendar-color-background, transparent);
}

.avonni-calendar__month_color {
    color: var(--avonni-calendar-month-text-color, #080707);
}

.avonni-calendar__weekdays_color {
    color: var(--avonni-calendar-weekdays-text-color, #3e3e3c);
}

.avonni-calendar__disabled-cell.slds-day,
.slds-day_adjacent-month .slds-day {
    color: var(--avonni-calendar-date-disabled-text-color, #adadad);
}

.slds-day {
    color: var(--avonni-calendar-date-text-color, #080707);
}

.slds-is-today .slds-day {
    background-color: var(--avonni-calendar-today-color-background, #ecebea);
    color: var(--avonni-calendar-today-text-color, #080707);
}

.slds-is-selected .slds-day {
    background-color: var(
        --avonni-calendar-selected-date-color-background,
        var(--slds-g-color-accent-container-1, #0176d3)
    );
    color: var(--avonni-calendar-selected-date-text-color, #ffffff);
}

.slds-is-selected:focus > .slds-day {
    background-color: var(
        --avonni-calendar-selected-date-color-background-focus,
        var(--slds-g-color-accent-container-1Active, #355d96)
    );
    color: var(--avonni-calendar-selected-date-text-color-focus, #ffffff);
}

.slds-is-today .avonni-calendar__disabled-cell.slds-day {
    background-color: var(--avonni-calendar-color-background, transparent);
    outline: 1px solid var(--avonni-calendar-date-disabled-text-color, #adadad);
    color: var(--avonni-calendar-date-disabled-text-color, #adadad);
}

.slds-is-selected .avonni-calendar__disabled-cell.slds-day {
    background: var(
        --avonni-calendar-selected-date-color-background,
        var(--slds-g-color-accent-container-1, #0176d3)
    );
    color: var(
        --avonni-calendar-selected-date-text-color,
        rgba(255, 255, 255, 0.75)
    );
}

/* Interval selection 'bridges' */
.slds-datepicker__month
    .avonni-calendar__date-cell.slds-is-selected-multi
    + .slds-is-selected-multi
    > .slds-day:before {
    content: '';
    position: absolute;
    height: 100%;
    width: var(--avonni-calendar-cell-sizing-width);
    transform: translateX(-0.5rem);
    z-index: -1;
    background: var(
        --avonni-calendar-selected-date-color-background,
        var(--slds-g-color-accent-container-1, #0176d3)
    );
    box-shadow: none;
}

.slds-datepicker__month.avonni-calendar__date-with-labels
    .avonni-calendar__date-cell.slds-is-selected-multi
    + .slds-is-selected-multi
    > .slds-day:before {
    width: var(--avonni-calendar-cell-labeled-sizing-width);
    transform: translateX(calc(-50% + -2px));
}

/* Borders around hovered interval */
.avonni-calendar__cell_bordered-right:after,
.avonni-calendar__cell_bordered-left:after,
.avonni-calendar__cell_bordered-top_bottom:after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: calc(100% + 1px);
    width: 100%;
    border-width: 1px;
}

.avonni-calendar__cell_bordered-right:after {
    border-right-color: var(
        --avonni-calendar-multi-selected-color-border-hover,
        #d3d3d39a
    );
    border-right-style: var(
        --avonni-calendar-multi-selected-styling-border-hover,
        dashed
    );
}

.avonni-calendar__cell_bordered-left:after {
    border-left-color: var(
        --avonni-calendar-multi-selected-color-border-hover,
        #d3d3d39a
    );
    border-left-style: var(
        --avonni-calendar-multi-selected-styling-border-hover,
        dashed
    );
}

.avonni-calendar__cell_bordered-top_bottom:after {
    border-bottom-color: var(
        --avonni-calendar-multi-selected-color-border-hover,
        #d3d3d39a
    );
    border-bottom-style: var(
        --avonni-calendar-multi-selected-styling-border-hover,
        dashed
    );
    border-top-color: var(
        --avonni-calendar-multi-selected-color-border-hover,
        #d3d3d39a
    );
    border-top-style: var(
        --avonni-calendar-multi-selected-styling-border-hover,
        dashed
    );
}

/* Markers */
.avonni-calendar__marked-cells {
    width: 5px;
    height: 5px;
    background: #bf0201;
    border-radius: var(--lwc-borderRadiusCircle, 50%);
    margin-left: 1px;
}

.avonni-calendar__marked-cells:first-child {
    margin-left: 0;
}

.avonni-calendar__marker-container {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -8px;
}

/* Chip label */
.avonni-calendar__chip-label {
    --avonni-chip-label-font-size: 8px;
    --avonni-chip-spacing-block-start: 0px;
    --avonni-chip-spacing-block-end: 0px;
    --avonni-chip-spacing-inline-start: 3px;
    --avonni-chip-spacing-inline-end: 3px;
}

.avonni-calendar__chip-without-icon {
    --avonni-chip-spacing-block-start: 1px;
    --avonni-chip-spacing-block-end: 3px;
}

.avonni-calendar__chip-icon-only {
    --avonni-chip-spacing-inline-start: 0px;
    --avonni-chip-spacing-inline-end: 0px;
}

.avonni-calendar-chip-icon-left {
    margin-right: -4px;
}

.avonni-calendar-chip-icon-right {
    margin-left: -4px;
}
