.avonni-separator__flex-col {
    flex: 1 1 auto;
}

.avonni-separator__container {
    width: 100%;
    height: 100%;
}

.avonni-separator__label {
    color: var(--avonni-separator-label-text-color, #080707);
    font-size: var(--avonni-separator-label-font-size, 1em);
    font-style: var(--avonni-separator-label-font-style, normal);
    font-weight: var(--avonni-separator-label-font-weight, 400);
}

.avonni-separator__lines_styling {
    border-color: var(--avonni-separator-color-border, #dddbda);
    border-width: var(--avonni-separator-sizing-border, 1px);
    border-style: var(--avonni-separator-styling-border, solid);
}

.avonni-separator__lines_styling.slds-border_left {
    height: 100%;
}

.avonni-separator__icon {
    --sds-c-icon-radius-border: var(--avonni-separator-icon-radius-border);
    --sds-c-icon-color-foreground: var(--avonni-separator-icon-color-foreground);
    --sds-c-icon-color-foreground-default: var(--avonni-separator-icon-color-foreground-default);
    --sds-c-icon-color-background: var(--avonni-separator-icon-color-background);
}