.avonni-combobox__main-combobox,
.avonni-combobox__scopes {
    --avonni-primitive-combobox-color-border: var(
        --avonni-combobox-color-border,
        #dddbda
    );
    --avonni-primitive-combobox-sizing-border-top: var(
        --avonni-combobox-sizing-border-top,
        1px
    );
    --avonni-primitive-combobox-sizing-border-bottom: var(
        --avonni-combobox-sizing-border-bottom,
        1px
    );
}

.avonni-combobox__main-combobox {
    --avonni-primitive-combobox-radius-border-top-right: var(
        --avonni-combobox-radius-border-top-right,
        0.25rem
    );
    --avonni-primitive-combobox-radius-border-bottom-right: var(
        --avonni-combobox-radius-border-bottom-right,
        0.25rem
    );
    --avonni-primitive-combobox-radius-border-top-left: 0;
    --avonni-primitive-combobox-radius-border-bottom-lef: 0;
    --avonni-primitive-combobox-sizing-border-right: var(
        --avonni-combobox-sizing-border-right,
        1px
    );
}

.avonni-combobox__scopes {
    --avonni-primitive-combobox-radius-border-bottom-right: 0;
    --avonni-primitive-combobox-radius-border-top-right: 0;
}

.avonni-combobox__scopes,
.avonni-combobox__main-combobox.avonni-combobox__main-combobox_no-scopes {
    --avonni-primitive-combobox-radius-border-top-left: var(
        --avonni-combobox-radius-border-top-left,
        0.25rem
    );
    --avonni-primitive-combobox-radius-border-bottom-left: var(
        --avonni-combobox-radius-border-bottom-left,
        0.25rem
    );
    --avonni-primitive-combobox-sizing-border-left: var(
        --avonni-combobox-sizing-border-top,
        1px
    );
}
