.verticalContainer {
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
}

.verticalContainer > span {
    flex: 1;
}

.hideOverflow{
    overflow: hidden;
}
.noPadding {
    padding : 0 !important;
}

.slds-visual-picker_vertical .imgContainer{
    width: 100%;
    height: 30px;
}

.avonni-visual-picker_xx-small.ratio-1-by-1 .imgContainer{
    width: 100%;
    height: 23px;
}
.avonni-visual-picker_xx-small.ratio-4-by-3 .imgContainer{
    width: 100%;
    height: 24px;
}
.avonni-visual-picker_xx-small.ratio-16-by-9 .imgContainer{
    width: 100%;
    height: 50px;
}

.avonni-visual-picker_x-small.ratio-1-by-1 .imgContainer{
    width: 100%;
    height: 34px;
}
.avonni-visual-picker_x-small.ratio-4-by-3 .imgContainer{
    width: 100%;
    height: 24px;
}
.avonni-visual-picker_x-small.ratio-16-by-9 .imgContainer{
    width: 100%;
    height: 30px;
}

.avonni-visual-picker_small.ratio-1-by-1 .imgContainer{
    width: 100%;
    height: 52px;
}
.avonni-visual-picker_small.ratio-4-by-3 .imgContainer{
    width: 100%;
    height: 30px;
}
.avonni-visual-picker_small.ratio-16-by-9 .imgContainer{
    width: 100%;
    height: 30px;
}

.slds-visual-picker_medium.ratio-1-by-1 .imgContainer{
    width: 100%;
    height: 92px;
}
.slds-visual-picker_medium.ratio-4-by-3 .imgContainer{
    width: 100%;
    height: 46px;
}
.slds-visual-picker_medium.ratio-16-by-9 .imgContainer{
    width: 100%;
    height: 40px;
}

.slds-visual-picker_large.ratio-1-by-1 .imgContainer{
    width: 100%;
    height: 124px;
}
.slds-visual-picker_large.ratio-4-by-3 .imgContainer{
    width: 100%;
    height: 52px;
}
.slds-visual-picker_large.ratio-16-by-9 .imgContainer{
    width: 100%;
    height: 50px;
}

.imgContainer img{
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

.labelContainer{
    width: 100% !important;
}

.slds-visual-picker {
    margin-right: var(--lwc-spacingMedium, 1rem);
    margin-left: 0;
}

.avonni-visual-picker_xx-small {
    width: 4rem;
}

.avonni-visual-picker_xx-small .slds-visual-picker__figure {
    width: 4rem;
    height: 4rem;
}

.avonni-visual-picker_xx-small
    .slds-visual-picker__figure
    .slds-text-heading_large {
    font-weight: var(--lwc-fontWeightLight, 300);
    font-size: 0.75rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 3.75rem;
}

.avonni-visual-picker_xx-small
    .slds-visual-picker__body
    .slds-text-heading_small {
    font-size: 0.8125rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
}

.avonni-visual-picker_xx-small .slds-visual-picker__figure .slds-text-title {
    font-size: 0.625rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    color: var(--lwc-colorTextWeak, rgb(62, 62, 60));
    overflow: hidden;
    text-overflow: ellipsis;
    width: 3.75rem;
}

.avonni-visual-picker_xx-small .slds-visual-picker__body .slds-text-title {
    font-size: 0.45rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    color: var(--lwc-colorTextWeak, rgb(62, 62, 60));
}

.avonni-visual-picker_xx-small .slds-visual-picker__body {
    padding: 0.2rem;
}

.avonni-visual-picker_x-small {
    width: 6rem;
}

.avonni-visual-picker_x-small .slds-visual-picker__figure {
    width: 6rem;
    height: 6rem;
}

.avonni-visual-picker_x-small
    .slds-visual-picker__figure
    .slds-text-heading_large {
    font-weight: var(--lwc-fontWeightLight, 300);
    font-size: 1rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5.75rem;
}

.avonni-visual-picker_x-small
    .slds-visual-picker__body
    .slds-text-heading_small {
    font-size: 1rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
}

.avonni-visual-picker_x-small .slds-visual-picker__figure .slds-text-title {
    font-size: 0.625rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    color: var(--lwc-colorTextWeak, rgb(62, 62, 60));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5.75rem;
}

.avonni-visual-picker_x-small .slds-visual-picker__body .slds-text-title {
    font-size: 0.625rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    color: var(--lwc-colorTextWeak, rgb(62, 62, 60));
}

.avonni-visual-picker_x-small .slds-visual-picker__body {
    padding: 0.3rem;
}

.avonni-visual-picker_small {
    width: 8rem;
}

.avonni-visual-picker_small .slds-visual-picker__figure {
    width: 8rem;
    height: 8rem;
}

.avonni-visual-picker_small
    .slds-visual-picker__figure
    .slds-text-heading_large {
    font-weight: var(--lwc-fontWeightLight, 300);
    font-size: 1.125rem;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 7.75rem;
}

.avonni-visual-picker_small .slds-visual-picker__figure .slds-text-title {
    font-size: 0.625rem;
    line-height: 1.25;
    color: var(--lwc-colorTextWeak, rgb(62, 62, 60));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 7.75rem;
}

.avonni-visual-picker_xx-small .slds-visual-picker__body {
    padding: 0.4rem;
}

.avonni-hide-border {
    box-shadow: none;
    border: none;
}

.slds-visual-picker
    input:not(:checked):focus
    ~ label
    .slds-visual-picker__figure {
    box-shadow: none;
    border: var(--lwc-borderWidthThin, 1px) solid
        var(--lwc-colorBorder, #dddbda);
}

.slds-visual-picker input:not(:checked):focus ~ label .avonni-hide-border {
    box-shadow: none;
    border: none;
}

.slds-visual-picker
    input:not(:checked):focus
    ~ label
    .slds-visual-picker__figure
    ~ .slds-visual-picker__body
    > *:first-child {
    text-decoration: unset;
}

.avonni-hide-check-mark:after {
    display: none;
}

input:checked ~ label .avonni-is-not-selected span {
    color: #ffffff !important;
}

.avonni-visual-picker_xx-small.ratio-4-by-3 .slds-visual-picker__figure {
    height: 4rem;
    overflow: hidden;
}

.avonni-visual-picker_x-small.ratio-4-by-3 .slds-visual-picker__figure {
    height: 4.5rem;
    overflow: hidden;
}

.avonni-visual-picker_small.ratio-4-by-3 .slds-visual-picker__figure {
    height: 6.5rem;
    overflow: hidden;
}

.slds-visual-picker_medium.ratio-4-by-3 .slds-visual-picker__figure {
    height: 9rem;
    overflow: hidden;
}

.slds-visual-picker_large.ratio-4-by-3 .slds-visual-picker__figure {
    height: 10.5rem;
    overflow: hidden;
}

.avonni-visual-picker_xx-small.ratio-16-by-9 .slds-visual-picker__figure {
    height: 2.75rem;
    overflow: hidden;
}

.avonni-visual-picker_x-small.ratio-16-by-9 .slds-visual-picker__figure {
    height: 3.75rem;
    overflow: hidden;
}

.avonni-visual-picker_small.ratio-16-by-9 .slds-visual-picker__figure {
    height: 4.75rem;
    overflow: hidden;
}

.slds-visual-picker_medium.ratio-16-by-9 .slds-visual-picker__figure {
    height: 5.75rem;
    overflow: hidden;
}

.slds-visual-picker_large.ratio-16-by-9 .slds-visual-picker__figure {
    height: 7.5rem;
    overflow: hidden;
}

.slds-icon-action-check {
    border: var(--lwc-borderWidthThick, 2px) solid #ffffff;
}

input[disabled] ~ label .slds-icon-action-check {
    border: var(--lwc-borderWidthThick, 2px) solid #ecebea;
}

.slds-box {
    display: flex;
    align-items: center;
}

.slds-box .slds-p-around_small {
    text-align: left;
    flex: 1;
}
