:host(.slds-is-active) .avonni-marker {
    width: 14px;
    height: 14px;
    border: 3px solid #1589ee;
    border-radius: 50%;
    margin: 1px;
    background-color: #ffffff;
}

:host(.slds-is-active) .slds-progress__marker {
    border: none;
}

.slds-progress__marker_icon:focus,
.slds-progress__marker:focus {
    outline: none;
    box-shadow: rgb(53, 125, 219) 0 0 0 2px !important;
}

.slds-progress__marker_icon {
    width: 16.5px;
    height: 16.5px;
    border: none;
}

.avonni-progress-step-outer-class {
    position: relative;
    min-width: 9rem;
    margin-right: var(--lwc-varSpacingHorizontalMedium, 1rem);
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avonni-progress-step-outer-class:first-child {
    margin-left: var(--lwc-varSpacingHorizontalMedium, 1rem);
}

.avonni-progress-step-position-top {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
}

.avonni-progress-step-position-bottom {
    position: absolute;
    width: 100%;
    top: 30px;
}

.avonni-progress-step-popover-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avonni-progress-step-popover_small {
    position: absolute;
    width: 80px;
    background-color: var(
        --avonni-c-progress-indicator-step-color-background,
        #e8e8e8
    );
}

.avonni-progress-step-popover_medium {
    position: absolute;
    width: 100px;
    background-color: var(
        --avonni-c-progress-indicator-step-color-background,
        #e8e8e8
    );
}

.avonni-progress-step-popover_small.ratio-1-by-1 {
    height: 80px;
    left: 32px;
    top: -92px;
}

.avonni-progress-step-popover_small.ratio-4-by-3 {
    height: 60px;
    left: 32px;
    top: -72px;
}

.avonni-progress-step-popover_small.ratio-16-by-9 {
    height: 45px;
    left: 32px;
    top: -57px;
}

.avonni-progress-step-popover_medium.ratio-1-by-1 {
    height: 100px;
    left: 22px;
    top: -115px;
}

.avonni-progress-step-popover_medium.ratio-4-by-3 {
    height: 75px;
    left: 22px;
    top: -90px;
}

.avonni-progress-step-popover_medium.ratio-16-by-9 {
    height: 56.25px;
    left: 22px;
    top: -71.25px;
}

.avonni-progress-step-popover-completed {
    color: #ffffff;
    background-color: var(
        --avonni-c-progress-indicator-step-color-background,
        #006dcc
    );
}

.avonni-progress-step-popover_small:focus,
.avonni-progress-step-popover_small:hover {
    color: black;
    background-color: var(--lwc-brandLight, #f4f6fe);
}

.avonni-progress-step-popover_medium:focus,
.avonni-progress-step-popover_medium:hover {
    color: black;
    background-color: var(--lwc-brandLight, #f4f6fe);
}

:host(.slds-has-warning) .slds-button {
    background-color: #ffffff;
}

:host(.slds-has-warning) .slds-button:hover,
:host(.slds-has-warning) .slds-button:focus {
    color: #ffb75d;
}

:host(.slds-has-warning-shaded) .slds-button {
    background-color: #f3f2f2;
}

:host(.slds-has-warning-shaded) .slds-button:hover,
:host(.slds-has-warning-shaded) .slds-button:focus {
    color: #ffb75d;
}

.avonni-progress-step-icon-color_brand {
    color: var(--lwc-brandAccessible, rgb(0, 112, 210));
}
