:host(.slds-is-active) .avonni-marker {
    width: 14px;
    height: 14px;
    border: 2px solid #1589ee;
    border-radius: 50%;
    margin: 1px;
    background-color: #ffffff;
}

:host(.slds-is-active) .slds-progress__marker {
    border: none;
}

.slds-progress__marker_icon:focus,
.slds-progress__marker:focus {
    outline: none;
    box-shadow: rgb(53, 125, 219) 0 0 0 2px !important;
}

.slds-progress__marker_icon {
    width: 16.5px;
    height: 16.5px;
    border: none;
}

.avonni-progress-step-sizing {
    flex: 1 1 auto;
    position: relative;
}

.slds-progress__item {
    position: relative;
    min-width: 9rem;
    margin-right: var(--lwc-varSpacingHorizontalMedium, 1rem);
    margin-top: 1.5rem;
}

.slds-progress__item:first-child {
    margin-left: var(--lwc-varSpacingHorizontalMedium, 1rem);
}

.avonni-progress-step-outer-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avonni-progress-step-bottom {
    position: absolute;
    width: 100%;
    top: 30px;
}

.avonni-progress-step-top {
    position: absolute;
    bottom: 30px;
    transform: translatex(-42%);
    width: 100%;
    right: -60px;
}

.avonni-progress-step-popover {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
    width: 100%;
    background-color: var(
        --avonni-c-progress-indicator-step-color-background,
        white
    );
}

.avonni-progress-step-popover-button-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
    width: 100%;
    background-color: var(
        --avonni-c-progress-indicator-step-color-background,
        #f4f6fe
    );
}

.avonni-progress-step-popover-button-icon:focus,
.avonni-progress-step-popover-button-icon:hover {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
    width: 100%;
    background-color: var(
        --avonni-c-progress-indicator-step-color-background,
        white
    );
}

:host(.slds-has-warning) .slds-button {
    background-color: #ffffff;
}

:host(.slds-has-warning) .slds-button:hover,
:host(.slds-has-warning) .slds-button:focus {
    color: #ffb75d;
}

:host(.slds-has-warning-shaded) .slds-button {
    background-color: #f3f2f2;
}

:host(.slds-has-warning-shaded) .slds-button:hover,
:host(.slds-has-warning-shaded) .slds-button:focus {
    color: #ffb75d;
}

:host(.slds-popover__body) .slds-icon-text-default {
    fill: blue;
}
