.avonni-chip {
    max-width: 100%;
    padding-top: var(--avonni-chip-spacing-block-start, 0.25rem);
    padding-bottom: var(--avonni-chip-spacing-block-end, 0.25rem);
    padding-left: var(--avonni-chip-spacing-inline-start, 0.5rem);
    padding-right: var(--avonni-chip-spacing-inline-end, 0.5rem);
    border-width: var(--avonni-chip-sizing-border, 1px);
    border-style: var(--avonni-chip-styling-border, solid);
    border-radius: var(
        --avonni-chip-radius-border,
        var(--slds-g-radius-border-1, 15rem)
    );
    font-size: var(--avonni-chip-label-font-size, 0.75rem);
    font-style: var(--avonni-chip-label-font-style, normal);
    font-weight: var(
        --avonni-chip-label-font-weight,
        var(--slds-g-font-weight-4, 700)
    );
    line-height: var(--avonni-chip-line-height, normal);
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
}

.avonni-chip_theme-alt-inverse,
.avonni-chip__circle_theme-alt-inverse {
    background-color: var(
        --avonni-chip-alt-inverse-color-background,
        var(--slds-g-color-on-surface-3, #032d60)
    );
    border-color: var(--avonni-chip-alt-inverse-color-border, transparent);
    color: var(--avonni-chip-alt-inverse-text-color, #ffffff);
}

.avonni-chip_theme-base,
.avonni-chip__circle_theme-base {
    background-color: var(
        --avonni-chip-base-color-background,
        var(--slds-g-color-surface-container-3, #f3f3f3)
    );
    border-color: var(--avonni-chip-base-color-border, transparent);
    color: var(
        --avonni-chip-base-text-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
}

.avonni-chip_theme-brand,
.avonni-chip__circle_theme-brand {
    background-color: var(--avonni-chip-brand-color-background, #0176d3);
    border-color: var(--avonni-chip-brand-color-border, transparent);
    color: var(--avonni-chip-brand-text-color, #ffffff);
}

.avonni-chip_theme-error,
.avonni-chip__circle_theme-error {
    background-color: var(
        --avonni-chip-error-color-background,
        var(--slds-g-color-error-container-1, #ba0517)
    );
    border-color: var(--avonni-chip-error-color-border, transparent);
    color: var(
        --avonni-chip-error-text-color,
        var(--slds-g-color-on-error-1, #ffffff)
    );
}

.avonni-chip_theme-info,
.avonni-chip__circle_theme-info {
    background-color: var(
        --avonni-chip-info-color-background,
        var(--slds-g-color-info-container-1, #706e6b)
    );
    border-color: var(--avonni-chip-info-color-border, transparent);
    color: var(
        --avonni-chip-info-text-color,
        var(--slds-g-color-on-info-1, #ffffff)
    );
}

.avonni-chip_theme-inverse,
.avonni-chip__circle_theme-inverse {
    background-color: var(
        --avonni-chip-inverse-color-background,
        var(--slds-g-color-on-surface-2, #001639)
    );
    border-color: var(--avonni-chip-inverse-color-border, transparent);
    color: var(--avonni-chip-inverse-text-color, #ffffff);
}

.avonni-chip_theme-offline,
.avonni-chip__circle_theme-offline {
    background-color: var(
        --avonni-chip-offline-color-background,
        var(--slds-g-color-neutral-base-30, #444444)
    );
    border-color: var(--avonni-chip-offline-color-border, transparent);
    color: var(--avonni-chip-offline-text-color, #ffffff);
}

.avonni-chip_theme-success,
.avonni-chip__circle_theme-success {
    background-color: var(
        --avonni-chip-success-color-background,
        var(--slds-g-color-success-container-1, #2e844a)
    );
    border-color: var(--avonni-chip-success-color-border, transparent);
    color: var(
        --avonni-chip-success-text-color,
        var(--slds-g-color-on-success-1, #ffffff)
    );
}

.avonni-chip_theme-warning,
.avonni-chip__circle_theme-warning {
    background-color: var(
        --avonni-chip-warning-color-background,
        var(--slds-g-color-warning-container-1, #dd7a01)
    );
    border-color: var(--avonni-chip-warning-color-border, transparent);
    color: var(
        --avonni-chip-warning-text-color,
        var(--slds-g-color-on-warning-1, #080707)
    );
}

.avonni-chip_outline.avonni-chip_theme-alt-inverse,
.avonni-chip_outline.avonni-chip__circle_theme-alt-inverse {
    background-color: var(--avonni-chip-alt-inverse-color-background, #ffffff);
    border-color: var(
        --avonni-chip-alt-inverse-outline-color,
        var(--slds-g-color-on-surface-3, #032d60)
    );
    color: var(
        --avonni-chip-alt-inverse-outline-color,
        var(--slds-g-color-on-surface-3, #032d60)
    );
}

.avonni-chip_outline.avonni-chip_theme-base,
.avonni-chip_outline.avonni-chip__circle_theme-base {
    background-color: var(--avonni-chip-base-color-background, #ffffff);
    border-color: var(
        --avonni-chip-base-outline-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
    color: var(
        --avonni-chip-base-outline-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
}

.avonni-chip_outline.avonni-chip_theme-brand,
.avonni-chip_outline.avonni-chip__circle_theme-brand {
    background-color: var(--avonni-chip-brand-color-background, #ffffff);
    border-color: var(--avonni-chip-brand-outline-color, #0176d3);
    color: var(--avonni-chip-brand-outline-color, #0176d3);
}

.avonni-chip_outline.avonni-chip_theme-error,
.avonni-chip_outline.avonni-chip__circle_theme-error {
    background-color: var(--avonni-chip-error-color-background, #ffffff);
    border-color: var(
        --avonni-chip-error-outline-color,
        var(--slds-g-color-error-1, #ba0517)
    );
    color: var(
        --avonni-chip-error-outline-color,
        var(--slds-g-color-error-1, #ba0517)
    );
}

.avonni-chip_outline.avonni-chip_theme-info,
.avonni-chip_outline.avonni-chip__circle_theme-info {
    background-color: var(--avonni-chip-info-color-background, #ffffff);
    border-color: var(
        --avonni-chip-info-outline-color,
        var(--slds-g-color-info-1, #706e6b)
    );
    color: var(
        --avonni-chip-info-outline-color,
        var(--slds-g-color-info-1, #706e6b)
    );
}

.avonni-chip_outline.avonni-chip_theme-inverse,
.avonni-chip_outline.avonni-chip__circle_theme-inverse {
    background-color: var(--avonni-chip-inverse-color-background, #ffffff);
    border-color: var(
        --avonni-chip-inverse-outline-color,
        var(--slds-g-color-on-surface-2, #001639)
    );
    color: var(
        --avonni-chip-inverse-outline-color,
        var(--slds-g-color-on-surface-2, #001639)
    );
}

.avonni-chip_outline.avonni-chip_theme-offline,
.avonni-chip_outline.avonni-chip__circle_theme-offline {
    background-color: var(--avonni-chip-offline-color-background, #ffffff);
    border-color: var(
        --avonni-chip-offline-outline-color,
        var(--slds-g-color-neutral-base-30, #444444)
    );
    color: var(
        --avonni-chip-offline-outline-color,
        var(--slds-g-color-neutral-base-30, #444444)
    );
}

.avonni-chip_outline.avonni-chip_theme-success,
.avonni-chip_outline.avonni-chip__circle_theme-success {
    background-color: var(--avonni-chip-success-color-background, #ffffff);
    border-color: var(
        --avonni-chip-success-outline-color,
        var(--slds-g-color-success-1, #2e844a)
    );
    color: var(
        --avonni-chip-success-outline-color,
        var(--slds-g-color-success-1, #2e844a)
    );
}

.avonni-chip_outline.avonni-chip_theme-warning,
.avonni-chip_outline.avonni-chip__circle_theme-warning {
    background-color: var(--avonni-chip-warning-color-background, #ffffff);
    border-color: var(
        --avonni-chip-warning-outline-color,
        var(--slds-g-color-warning-1, #dd7a01)
    );
    color: var(
        --avonni-chip-warning-outline-color,
        var(--slds-g-color-warning-1, #dd7a01)
    );
}

/* The following styling assumes the slot contains a lightning-icon or avonni-avatar comopnent */
/* Used by the avonni-primitive-chip component */

.avonni-chip_theme-alt-inverse .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-alt-inverse-text-color, #ffffff)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-alt-inverse-text-color, #ffffff)
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-alt-inverse-text-color,
        #ffffff
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-alt-inverse-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-alt-inverse-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-alt-inverse-text-color,
        #ffffff
    );
}

.avonni-chip_outline.avonni-chip_theme-alt-inverse .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-alt-inverse-outline-color, #032d60)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-alt-inverse-outline-color, #032d60)
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-alt-inverse-outline-color,
        #032d60
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-alt-inverse-outline-color,
        #032d60
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-alt-inverse-outline-color,
        #032d60
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-alt-inverse-outline-color,
        #032d60
    );
}

.avonni-chip_theme-base .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-base-text-color,
            var(--slds-g-color-on-surface-1, #080707)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-base-text-color,
                var(--slds-g-color-on-surface-1, #080707)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-base-text-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-base-text-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-base-text-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-base-text-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
}

.avonni-chip_outline.avonni-chip_theme-base .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-base-outline-color,
            var(--slds-g-color-on-surface-1, #080707)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-base-outline-color,
                var(--slds-g-color-on-surface-1, #080707)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-base-outline-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-base-outline-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-base-outline-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-base-outline-color,
        var(--slds-g-color-on-surface-1, #080707)
    );
}

.avonni-chip_theme-brand .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-brand-text-color, #ffffff)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-brand-text-color, #ffffff)
        )
    );
    --sds-c-icon-color-foreground: var(--avonni-chip-brand-text-color, #ffffff);
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-brand-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-brand-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-brand-text-color,
        #ffffff
    );
}

.avonni-chip_outline.avonni-chip_theme-brand .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-brand-outline-color, #0176d3)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-brand-outline-color, #0176d3)
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-brand-outline-color,
        #0176d3
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-brand-outline-color,
        #0176d3
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-brand-outline-color,
        #0176d3
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-brand-outline-color,
        #0176d3
    );
}

.avonni-chip_theme-error .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-error-text-color,
            var(--slds-g-color-on-error-1, #ffffff)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-error-text-color,
                var(--slds-g-color-on-error-1, #ffffff)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-error-text-color,
        var(--slds-g-color-on-error-1, #ffffff)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-error-text-color,
        var(--slds-g-color-on-error-1, #ffffff)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-error-text-color,
        var(--slds-g-color-on-error-1, #ffffff)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-error-text-color,
        var(--slds-g-color-on-error-1, #ffffff)
    );
}

.avonni-chip_outline.avonni-chip_theme-error .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-error-outline-color,
            var(--slds-g-color-error-1, #ba0517)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-error-outline-color,
                var(--slds-g-color-error-1, #ba0517)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-error-outline-color,
        var(--slds-g-color-error-1, #ba0517)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-error-outline-color,
        var(--slds-g-color-error-1, #ba0517)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-error-outline-color,
        var(--slds-g-color-error-1, #ba0517)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-error-outline-color,
        var(--slds-g-color-error-1, #ba0517)
    );
}

.avonni-chip_theme-info .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-info-text-color,
            var(--slds-g-color-on-info-1, #ffffff)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-info-text-color,
                var(--slds-g-color-on-info-1, #ffffff)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-info-text-color,
        var(--slds-g-color-on-info-1, #ffffff)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-info-text-color,
        var(--slds-g-color-on-info-1, #ffffff)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-info-text-color,
        var(--slds-g-color-on-info-1, #ffffff)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-info-text-color,
        var(--slds-g-color-on-info-1, #ffffff)
    );
}

.avonni-chip_outline.avonni-chip_theme-info .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-info-outline-color,
            var(--slds-g-color-info-1, #706e6b)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-info-outline-color,
                var(--slds-g-color-info-1, #706e6b)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-info-outline-color,
        var(--slds-g-color-info-1, #706e6b)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-info-outline-color,
        var(--slds-g-color-info-1, #706e6b)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-info-outline-color,
        var(--slds-g-color-info-1, #706e6b)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-info-outline-color,
        var(--slds-g-color-info-1, #706e6b)
    );
}

.avonni-chip_theme-inverse .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-inverse-text-color, #ffffff)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-inverse-text-color, #ffffff)
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-inverse-text-color,
        #ffffff
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-inverse-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-inverse-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-inverse-text-color,
        #ffffff
    );
}

.avonni-chip_outline.avonni-chip_theme-inverse .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-inverse-outline-color, #001639)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-inverse-outline-color, #001639)
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-inverse-outline-color,
        #001639
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-inverse-outline-color,
        #001639
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-inverse-outline-color,
        #001639
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-inverse-outline-color,
        #001639
    );
}

.avonni-chip_theme-offline .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-offline-text-color, #ffffff)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-offline-text-color, #ffffff)
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-offline-text-color,
        #ffffff
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-offline-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-offline-text-color,
        #ffffff
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-offline-text-color,
        #ffffff
    );
}

.avonni-chip_outline.avonni-chip_theme-offline .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(--avonni-chip-offline-outline-color, #444444)
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(--avonni-chip-offline-outline-color, #444444)
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-offline-outline-color,
        #444444
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-offline-outline-color,
        #444444
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-offline-outline-color,
        #444444
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-offline-outline-color,
        #444444
    );
}

.avonni-chip_theme-success .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-success-text-color,
            var(--slds-g-color-on-success-1, #ffffff)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-success-text-color,
                var(--slds-g-color-on-success-1, #ffffff)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-success-text-color,
        var(--slds-g-color-on-success-1, #ffffff)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-success-text-color,
        var(--slds-g-color-on-success-1, #ffffff)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-success-text-color,
        var(--slds-g-color-on-success-1, #ffffff)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-success-text-color,
        var(--slds-g-color-on-success-1, #ffffff)
    );
}

.avonni-chip_outline.avonni-chip_theme-success .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-success-outline-color,
            var(--slds-g-color-success-1, #2e844a)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-success-outline-color,
                var(--slds-g-color-success-1, #2e844a)
            )
        )
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-success-outline-color,
        var(--slds-g-color-success-1, #2e844a)
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-success-outline-color,
        var(--slds-g-color-success-1, #2e844a)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-success-outline-color,
        var(--slds-g-color-success-1, #2e844a)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-success-outline-color,
        var(--slds-g-color-success-1, #2e844a)
    );
}

.avonni-chip_theme-warning .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-warning-text-color,
            var(--slds-g-color-on-warning-1, #080707)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-warning-text-color,
                var(--slds-g-color-on-warning-1, #080707)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-warning-text-color,
        var(--slds-g-color-on-warning-1, #080707)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-warning-text-color,
        var(--slds-g-color-on-warning-1, #080707)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-warning-text-color,
        var(--slds-g-color-on-warning-1, #080707)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-warning-text-color,
        var(--slds-g-color-on-warning-1, #080707)
    );
}

.avonni-chip_outline.avonni-chip_theme-warning .avonni-chip__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground,
        var(
            --avonni-chip-warning-outline-color,
            var(--slds-g-color-warning-1, #dd7a01)
        )
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(
            --avonni-chip-avatar-icon-color-foreground,
            var(
                --avonni-chip-warning-outline-color,
                var(--slds-g-color-warning-1, #dd7a01)
            )
        )
    );
    --sds-c-icon-color-foreground: var(
        --avonni-chip-warning-outline-color,
        var(--slds-g-color-warning-1, #dd7a01)
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-chip-warning-outline-color,
        var(--slds-g-color-warning-1, #dd7a01)
    );
    --slds-c-icon-color-foreground: var(
        --avonni-chip-warning-outline-color,
        var(--slds-g-color-warning-1, #dd7a01)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-chip-warning-outline-color,
        var(--slds-g-color-warning-1, #dd7a01)
    );
}

/* Circle */
.avonni-chip__circle {
    width: 24px;
    height: 24px;
    padding-top: var(--avonni-chip-spacing-block-start);
    padding-bottom: var(--avonni-chip-spacing-block-end);
    padding-left: var(--avonni-chip-spacing-inline-start);
    padding-right: var(--avonni-chip-spacing-inline-end);
    border-radius: var(--avonni-chip-radius-border, 50%);
    border-width: var(--avonni-chip-sizing-border, 1px);
    border-style: var(--avonni-chip-styling-border, solid);
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
}
