.avonni-dual-listbox__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clear: left;
}

.avonni-dual-listbox__list-column {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.avonni-dual-listbox__option {
    background-color: var(
        --avonni-dual-listbox-option-color-background,
        #ffffff
    );
    color: var(
        --avonni-dual-listbox-option-text-color,
        var(--lwc-colorTextDefault, #181818)
    );
}

.avonni-dual-listbox__option:hover {
    background-color: var(
        --avonni-dual-listbox-option-color-background-hover,
        #f3f2f2
    );
    color: var(
        --avonni-dual-listbox-option-text-color-hover,
        var(--lwc-colorTextDefault, #181818)
    );
}

.avonni-dual-listbox__buttons_centered .avonni-dual-listbox__button {
    margin: var(--lwc-spacingSmall, 0.75rem) 0;
}

.avonni-dual-listbox__buttons_centered {
    justify-content: center;
    margin: var(--lwc-spacingMedium, 1rem);
}

.avonni-dual-listbox__list-column_responsive_small {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 15rem;
    flex: 0 1 15rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 6rem;
}

.avonni-dual-listbox__list-column_responsive_medium {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20rem;
    flex: 0 1 20rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 6rem;
}

.avonni-dual-listbox__list-column_responsive_large {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25rem;
    flex: 0 1 25rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 6rem;
}

.avonni-dual-listbox__list-column_responsive {
    width: auto;
    max-width: 100%;
}

.avonni-dual-listbox__search-container {
    position: relative;
    top: 3px;
    background-color: var(
        --avonni-dual-listbox-boxes-color-background,
        #ffffff
    );
    border-radius: var(--avonni-dual-listbox-boxes-radius-border, 0.25rem)
        var(--avonni-dual-listbox-boxes-radius-border, 0.25rem) 0 0;
    border: 1px solid #747474;
    padding: var(--lwc-spacingXSmall, 0.5rem) !important;
}

.avonni-dual-listbox__selected-list-with-search {
    margin-top: 3px;
}

.avonni-dual-listbox__search-container + .avonni-dual-listbox__boxes {
    border-radius: 0 0 var(--avonni-dual-listbox-boxes-radius-border, 0.25rem)
        var(--avonni-dual-listbox-boxes-radius-border, 0.25rem);
}

.avonni-dual-listbox__boxes {
    padding: 0;
    background-color: var(
        --avonni-dual-listbox-boxes-color-background,
        #ffffff
    );
    border-width: var(--avonni-dual-listbox-boxes-sizing-border, 1px);
    border-style: var(--avonni-dual-listbox-boxes-styling-border, solid);
    border-color: var(--avonni-dual-listbox-boxes-color-border, #747474);
    border-radius: var(--avonni-dual-listbox-boxes-radius-border);
}

.avonni-dual-listbox__boxes.slds-dueling-list__options [aria-selected='true'] {
    background: var(
        --avonni-dual-listbox-option-color-background-selected,
        #edeceb
    );
    color: var(
        --avonni-dual-listbox-option-text-color-selected,
        var(--lwc-colorTextDefault, #181818)
    );
}

.avonni-dual-listbox__option_border-bottom {
    border-bottom-width: var(--avonni-dual-listbox-option-sizing-border, 1px);
    border-bottom-style: var(
        --avonni-dual-listbox-option-styling-border,
        solid
    );
    border-bottom-color: var(
        --avonni-dual-listbox-option-color-border,
        #747474
    );
}

.avonni-dual-listbox__empty-column {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avonni-dual-listbox__list-item_min-height {
    min-height: 41px;
}

.avonni-dual-listbox__box_size-small {
    width: var(--lwc-sizeSmall, 15rem);
}

.avonni-dual-listbox__box_size-medium {
    width: var(--lwc-sizeMedium, 20rem);
}

.avonni-dual-listbox__box_size-large {
    width: var(--lwc-sizeLarge, 25rem);
}

.avonni-dual-listbox__option_dragging {
    opacity: 0.2;
}

.avonni-dual-listbox__header {
    color: var(--avonni-dual-listbox-header-text-color, #3e3e3c);
    font-size: var(--avonni-dual-listbox-header-font-size, 0.75rem);
    font-style: var(--avonni-dual-listbox-header-font-style, normal);
    font-weight: var(--avonni-dual-listbox-header-font-weight, 700);
}

.avonni-dual-listbox__boxes-label {
    color: var(--avonni-dual-listbox-boxes-label-text-color, #3e3e3c);
    font-size: var(--avonni-dual-listbox-boxes-label-font-size, 0.75rem);
    font-style: var(--avonni-dual-listbox-boxes-label-font-style, normal);
    font-weight: var(--avonni-dual-listbox-boxes-label-font-weight, 400);
}

.avonni-dual-listbox__group {
    background-color: var(--avonni-dual-listbox-group-color-background);
    color: var(--avonni-dual-listbox-group-label-text-color, #181818);
    font-size: var(--avonni-dual-listbox-group-label-font-size, 0.875rem);
    font-style: var(--avonni-dual-listbox-group-label-font-style, normal);
    font-weight: var(--avonni-dual-listbox-group-label-font-weight, 700);
}

.avonni-dual-listbox__loading-spinner {
    height: 48px;
}
