.avonni-date-time-picker__toolbar {
    --avonni-layout-items-spacing-inline-between: 1.5rem;
}

.avonni-date-time-picker__toolbar-items-wrapper {
    width: 100%;
    max-width: 100%;
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem)
        var(--lwc-borderRadiusMedium, 0.25rem) 0 0;
    border-bottom: none;
    background-color: var(--avonni-date-time-picker-color-background, #f3f3f3);
    padding: 0.75rem;
}

.avonni-date-time-picker__label {
    float: none;
    color: var(--avonni-date-time-picker-label-text-color, #444444);
    font-size: var(--avonni-date-time-picker-label-font-size, 0.75rem);
    font-weight: var(--avonni-date-time-picker-label-font-weight, 700);
    font-style: var(--avonni-date-time-picker-label-font-style, normal);
    line-height: var(--avonni-date-time-picker-label-line-height, 1.5);
}

.avonni-date-time-picker__day-label {
    text-transform: uppercase;
    color: var(--avonni-date-time-picker-weekly-day-header-text-color, #706e6b);
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.avonni-date-time-picker__date {
    line-height: var(--avonni-date-time-picker-date-label-line-height, 1.25);
    font-size: var(--avonni-date-time-picker-date-label-font-size, 1.25rem);
    font-weight: var(--avonni-date-time-picker-date-label-font-weight, 400);
}

.avonni-date-time-picker__day-label[data-today='true'] {
    color: var(
        --avonni-date-time-picker-weekly-day-header-text-color-today,
        #1589ee
    );
}

.avonni-date-time-picker__hour-table {
    --avonni-layout-items-spacing-block-between: 4px;
    --avonni-layout-items-spacing-inline-between: 4px;
}

.avonni-date-time-picker__hour-table-inline {
    --avonni-layout-items-spacing-block-between: 8px;
    --avonni-layout-items-spacing-inline-between: 4px;
}

.avonni-date-time-picker__hour-table-weekly {
    position: relative;
    --avonni-layout-items-spacing-block-between: 8px;
    --avonni-layout-items-spacing-inline-between: 35px;
}

.avonni-date-time-picker__day-label-border {
    position: absolute;
    width: 100%;
}

.avonni-date-time-picker__date-picker,
.avonni-date-time-picker__inline-date-picker,
.avonni-date-time-picker__inline-date-picker-days,
.avonni-date-time-picker__inline-date-picker-days-labels {
    max-width: 100%;
}

.avonni-date-time-picker__inline-date-picker {
    --avonni-layout-items-spacing-inline-between: 0;
}

.avonni-date-time-picker__inline-date-picker-button {
    border: none;
    background: none;
    width: 100%;
}

.avonni-date-time-picker__inline-date-picker-button:hover {
    background-color: var(
        --avonni-date-time-picker-date-picker-button-color-background-hover,
        #f3f3f3
    );
    color: var(
        --avonni-date-time-picker-date-picker-button-text-color-hover,
        #181818
    );
}

.avonni-date-time-picker__inline-date-picker-button[aria-selected='true'] {
    background-color: var(
        --avonni-date-time-picker-date-picker-button-color-background-selected,
        #032d60
    );
    color: var(
        --avonni-date-time-picker-date-picker-button-text-color-selected,
        #ffffff
    );
}

.avonni-date-time-picker__inline-date-picker-next-button,
.avonni-date-time-picker__inline-date-picker-previous-button {
    bottom: 1.6rem;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    z-index: 1;
}

.avonni-date-time-picker__inline-date-picker-previous-button {
    left: 0;
}

.avonni-date-time-picker__inline-date-picker-next-button {
    right: 0;
}

.avonni-date-time-picker__inline-date-picker:hover
    .avonni-date-time-picker__inline-date-picker-next-button,
.avonni-date-time-picker__inline-date-picker-next-button:focus-within,
.avonni-date-time-picker__inline-date-picker:hover
    .avonni-date-time-picker__inline-date-picker-previous-button,
.avonni-date-time-picker__inline-date-picker-previous-button:focus-within {
    opacity: 1;
}

.avonni-date-time-picker__time-button {
    border-color: var(--avonni-date-time-picker-button-color-border, #747474);
    border-style: var(--avonni-date-time-picker-button-styling-border, solid);
    border-width: var(--avonni-date-time-picker-button-sizing-border, 1px);
    border-radius: var(
        --avonni-date-time-picker-button-radius-border,
        var(--lwc-borderRadiusMedium, 0.25rem)
    );
    background-color: var(
        --avonni-date-time-picker-button-color-background,
        #ffffff
    );
    color: var(--avonni-date-time-picker-button-text-color, #0176d3);
    width: 100%;
    height: 100%;
}

.avonni-date-time-picker__time-button:disabled {
    background-color: var(
        --avonni-date-time-picker-button-color-background-disabled,
        #f3f2f2
    );
    color: var(--avonni-date-time-picker-button-text-color-disabled, #706e6b);
}

.avonni-date-time-picker__time-button[aria-selected='true'] {
    border-color: var(
        --avonni-date-time-picker-button-color-border-selected,
        #0176d3
    );
    border-style: var(
        --avonni-date-time-picker-button-styling-border-selected,
        solid
    );
    border-width: var(
        --avonni-date-time-picker-button-sizing-border-selected,
        1px
    );
    background-color: var(
        --avonni-date-time-picker-button-color-background-selected,
        #0176d3
    );
    color: var(--avonni-date-time-picker-button-text-color-selected, #ffffff);
}

.avonni-date-time-picker__time-button:not(:disabled):not([aria-selected='true']):hover {
    color: var(--avonni-date-time-picker-button-text-color-hover, #014486);
}

.avonni-date-time-picker__timeline-hour-col {
    min-width: var(--lwc-sizeXxSmall, 6rem);
    position: relative;
    z-index: 1;
    margin: 2px;
    padding: var(--lwc-spacingMedium, 1rem);
}

.avonni-date-time-picker__timeline-hour-col::before {
    content: '';
    border: 1px dashed #dddbda;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.avonni-date-time-picker__timeline .avonni-date-time-picker__time-button {
    min-width: var(--lwc-sizeXxSmall, 6rem);
}
