.slds-form-element {
    padding-right: var(--lwc-spacingXSmall, 0.5rem);
    padding-bottom: var(--lwc-spacingXxSmall, 0.25rem);
    min-width: 150px;
}

.avonni-date-range__label-container {
    display: flex;
}

.avonni-date-range__label-container p {
    padding-top: var(--lwc-spacingXxSmall, 0.25rem);
    padding-right: var(--lwc-spacingXxSmall, 0.25rem);
}

.avonni-date-range__label-container.slds1 p {
    color: var(
        --avonni-input-date-range-header-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-input-date-range-header-font-size, 0.75rem);
    font-style: var(--avonni-input-date-range-header-font-style, normal);
    font-weight: var(--avonni-input-date-range-header-font-weight, 400);
}

.avonni-date-range__label-container.slds2 p {
    color: var(
        --avonni-input-date-range-header-text-color,
        var(--slds-g-color-on-surface-2, #2e2e2e)
    );
    font-size: var(
        --avonni-input-date-range-header-font-size,
        var(--slds-g-font-scale-base, 0.8125rem)
    );
    font-style: var(--avonni-input-date-range-header-font-style, normal);
    font-weight: var(
        --avonni-input-date-range-header-font-weight,
        var(--slds-g-font-weight-6, 600)
    );
}
.slds-datepicker {
    padding: 0.25rem;
}

.slds-input[readonly] + lightning-icon {
    opacity: 0.3;
}

.avonni-date-range__input_error {
    box-shadow: #ba0517 0 0 0 1px inset;
}

.avonni-input-date-range__labels {
    color: var(
        --avonni-input-date-range-labels-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-input-date-range-labels-font-size, 0.75rem);
    font-style: var(--avonni-input-date-range-labels-font-style, normal);
    font-weight: var(--avonni-input-date-range-labels-font-weight, 400);
}
