.slds-form-element {
    padding-right: var(--lwc-spacingXSmall, 0.5rem);
    padding-bottom: var(--lwc-spacingXxSmall, 0.25rem);
    min-width: 150px;
}

.avonni-date-range__label-container {
    display: flex;
}

.avonni-date-range__label-container p {
    color: var(
        --avonni-input-date-range-header-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-input-date-range-header-font-size, 0.75rem);
    font-style: var(--avonni-input-date-range-header-font-style, normal);
    font-weight: var(--avonni-input-date-range-header-font-weight, 400);
    padding-top: var(--lwc-spacingXxSmall, 0.25rem);
    padding-right: var(--lwc-spacingXxSmall, 0.25rem);
}

.slds-datepicker {
    padding: 0.25rem;
}

.slds-input[readonly] + lightning-icon {
    opacity: 0.3;
}

.avonni-date-range__input_error {
    box-shadow: #ba0517 0 0 0 1px inset;
}

.avonni-input-date-range__labels {
    color: var(
        --avonni-input-date-range-labels-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-input-date-range-labels-font-size, 0.75rem);
    font-style: var(--avonni-input-date-range-labels-font-style, normal);
    font-weight: var(--avonni-input-date-range-labels-font-weight, 400);
}

.avonni-input-date-range__button-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
    gap: 0.5rem;
}

.avonni-input-date-range__button-container lightning-button {
    flex: 0 0 auto;
}
