.avonni-rating__active.avonni-rating__continuous:hover
    ~ .avonni-rating__active.avonni-rating__continuous {
    border: 1px solid var(--lwc-brandAccessibleActive, #014486);
    background-color: #ffffff;
    border-color: var(--lwc-brandAccessibleActive, #014486);
    color: var(--lwc-brandAccessibleActive, #014486);
    opacity: 0.85;
}

.avonni-rating__button.slds-button {
    margin-left: 1px;
}

.avonni-rating__button-icon:active,
.avonni-rating__button-icon:focus {
    box-shadow: none;
    --slds-c-button-color-border-active: transparent;
}

.avonni-rating__container:hover
    .avonni-rating__active.avonni-rating__continuous,
.avonni-rating__active:hover {
    border: 1px solid #ffffff;
    background-color: var(--lwc-brandAccessibleActive, #014486);
    border-color: var(--lwc-brandAccessibleActive, #014486);
    color: #ffffff;
    opacity: 1;
}

.avonni-rating__label {
    color: var(--avonni-rating-header-text-color, #3e3e3c);
    font-size: var(--avonni-rating-header-font-size, 0.75rem);
    font-style: var(--avonni-rating-header-font-style, normal);
    font-weight: var(--avonni-rating-header-font-weight, 400);
}

.avonni-rating__value {
    color: var(--avonni-rating-value-text-color, #080707);
    font-size: var(--avonni-rating-value-font-size, 0.8125rem);
    font-style: var(--avonni-rating-value-font-style, normal);
    font-weight: var(--avonni-rating-value-font-weight, 400);
}

.avonni-rating__icon {
    width: 100%;
    height: 100%;
}

.avonni-rating__button {
    --slds-c-icon-color-foreground: var(--lwc-brandDisabled, #c9c7c5);
}

.avonni-rating__icon_selected {
    /* Disabled selected icon */
    color: #747474;
}

.avonni-rating__active-icon.avonni-rating__icon_selected {
    /* Selected icon */
    --slds-c-icon-color-foreground: var(--lwc-brandAccessible, #0176d3);
    color: var(--lwc-brandAccessible, #0176d3);
}

.avonni-rating__icon_selected.avonni-rating__continuous-icon.avonni-rating__icon_read-only {
    --slds-c-icon-color-foreground: var(--lwc-brandAccessible, #0176d3);
    color: var(--lwc-brandAccessible, #0176d3);
}

.avonni-rating__active-icon.avonni-rating__icon_selected:hover,
.avonni-rating__container:hover
    .avonni-rating__active-icon.avonni-rating__continuous-icon {
    /* Hovered icon */
    --slds-c-icon-color-foreground: var(--lwc-brandAccessibleActive, #014486);
    color: var(--lwc-brandAccessibleActive, #014486);
}

.avonni-rating__active-icon.avonni-rating__continuous-icon:hover
    ~ .avonni-rating__active-icon.avonni-rating__continuous-icon {
    --slds-c-icon-color-foreground: var(--lwc-brandDisabled, #c9c7c5);
    color: #c9c7c5;
}

.avonni-rating__icon_medium {
    width: 0.875rem;
    height: 0.875rem;
}
