.slds-button.avonni-rating__button {
    border-width: var(--avonni-rating-button-sizing-border, 1px);
    border-style: var(--avonni-rating-button-styling-border, solid);
    --slds-c-button-radius-border: var(--avonni-rating-button-radius-border);
}

.slds-button.avonni-rating__button.slds-button_outline-brand,
.slds-button.avonni-rating__button.slds-button_outline-brand:focus {
    --slds-c-button-outline-brand-color-background: var(
        --avonni-rating-button-color-background,
        #ffffff
    );
    --slds-c-button-outline-brand-color-background-hover: var(
        --avonni-rating-button-color-background,
        #ffffff
    );
    --slds-c-button-text-color: var(
        --avonni-rating-button-text-color,
        var(--lwc-brandAccessible, #0176d3)
    );
    --slds-c-button-text-color-hover: var(--avonni-rating-button-text-color);
    --slds-c-button-outline-brand-color-border: var(
        --avonni-rating-button-color-border
    );
    --slds-c-button-outline-brand-color-border-hover: var(
        --avonni-rating-button-color-border
    );
}

.slds-button.avonni-rating__button.slds-button_brand,
.slds-button.avonni-rating__button.slds-button_brand:focus {
    --slds-c-button-brand-color-background: var(
        --avonni-rating-button-color-background-selected,
        var(--lwc-brandAccessible, #0176d3)
    );
    --slds-c-button-color-background-hover: var(
        --avonni-rating-button-color-background-selected,
        var(--lwc-brandAccessible, #0176d3)
    );
    --slds-c-button-brand-text-color: var(
        --avonni-rating-button-text-color-selected,
        #ffffff
    );
    --slds-c-button-text-color-hover: var(
        --avonni-rating-button-text-color-selected,
        #ffffff
    );
    --slds-c-button-brand-color-border: var(
        --avonni-rating-button-color-border-selected,
        var(--lwc-brandAccessible, #0176d3)
    );
    --slds-c-button-color-border-hover: var(
        --avonni-rating-button-color-border-selected
    );
}

.slds-button[disabled].avonni-rating__button.slds-button_outline-brand {
    border-color: var(--avonni-rating-button-color-border-disabled, #c9c9c9);
    background-color: var(
        --avonni-rating-button-color-background-disabled,
        #ffffff
    );
    color: var(--avonni-rating-button-text-color-disabled, #c9c7c5);
}

.slds-button[disabled].avonni-rating__button.slds-button_brand {
    background-color: var(
        --avonni-rating-button-color-background-disabled-selected,
        #c9c7c5
    );
    border-color: var(
        --avonni-rating-button-color-border-disabled-selected,
        #c9c7c5
    );
    color: var(--avonni-rating-button-text-color-disabled-selected, #ffffff);
}

.avonni-rating__active.avonni-rating__continuous:hover
    ~ .avonni-rating__active.avonni-rating__continuous {
    background-color: var(--avonni-rating-button-color-background, #ffffff);
    border-color: var(
        --avonni-rating-button-color-border,
        var(--lwc-brandAccessibleActive, #014486)
    );
    color: var(
        --avonni-rating-button-text-color,
        var(--lwc-brandAccessibleActive, #014486)
    );
    opacity: 0.85;
}

.avonni-rating__button.slds-button,
.avonni-rating__button-icon.slds-button {
    margin-left: 1px;
}

.avonni-rating__button-icon:active,
.avonni-rating__button-icon:focus {
    box-shadow: none;
    --slds-c-button-color-border-active: transparent;
    background-color: var(--avonni-rating-button-color-background-selected);
}

.avonni-rating:hover .avonni-rating__active.avonni-rating__continuous,
.avonni-rating__active:hover {
    border-width: 1px;
    border-style: solid;
    background-color: var(
        --avonni-rating-button-color-background-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
    border-color: var(
        --avonni-rating-button-color-border-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
    color: var(--avonni-rating-button-text-color-hover, #ffffff);
    opacity: 1;
}

.avonni-rating__label.slds1 {
    color: var(--avonni-rating-header-text-color, #3e3e3c);
    font-size: var(--avonni-rating-header-font-size, 0.75rem);
    font-style: var(--avonni-rating-header-font-style, normal);
    font-weight: var(--avonni-rating-header-font-weight, 400);
}

.avonni-rating__label.slds2 {
    color: var(
        --avonni-rating-header-text-color,
        var(--slds-g-color-on-surface-2, #2e2e2e)
    );
    font-size: var(
        --avonni-rating-header-font-size,
        var(--slds-g-font-scale-base, 0.8125rem)
    );
    font-weight: var(
        --avonni-rating-header-font-weight,
        var(--slds-g-font-weight-6, 600)
    );
    font-style: var(--avonni-rating-header-font-style, normal);
}

.avonni-rating__value {
    color: var(--avonni-rating-value-text-color, #080707);
    font-size: var(--avonni-rating-value-font-size, 0.8125rem);
    font-style: var(--avonni-rating-value-font-style, normal);
    font-weight: var(--avonni-rating-value-font-weight, 400);
}

.avonni-rating__icon {
    width: 100%;
    height: 100%;
}

.avonni-rating__button-icon {
    --slds-c-icon-color-foreground: var(
        --avonni-rating-icon-color-foreground,
        var(--lwc-brandDisabled, #c9c7c5)
    );
}

.slds-button[disabled] .avonni-rating__icon {
    --slds-c-icon-color-foreground: var(
        --avonni-rating-icon-color-foreground-disabled,
        var(--lwc-brandDisabled, #c9c7c5)
    );
    color: var(
        --avonni-rating-icon-color-foreground-disabled,
        var(--lwc-brandDisabled, #c9c7c5)
    );
}

.slds-button[disabled].avonni-rating__icon_selected .avonni-rating__icon {
    /* Disabled selected icon */
    --slds-c-icon-color-foreground: var(
        --avonni-rating-icon-color-foreground-disabled-selected,
        #747474
    );
    color: var(
        --avonni-rating-icon-color-foreground-disabled-selected,
        #747474
    );
}

.avonni-rating__active-icon.avonni-rating__icon_selected {
    /* Selected icon */
    --slds-c-icon-color-foreground: var(
        --avonni-rating-icon-color-foreground-selected,
        var(--lwc-brandAccessible, #0176d3)
    );
    color: var(
        --avonni-rating-icon-color-foreground-selected,
        var(--lwc-brandAccessible, #0176d3)
    );
}

.avonni-rating__icon_selected.avonni-rating__continuous-icon.avonni-rating__icon_read-only {
    --slds-c-icon-color-foreground: var(
        --avonni-rating-icon-color-foreground-selected,
        var(--lwc-brandAccessible, #0176d3)
    );
    color: var(
        --avonni-rating-icon-color-foreground-selected,
        var(--lwc-brandAccessible, #0176d3)
    );
}

.avonni-rating__active-icon:hover .avonni-rating__icon,
.avonni-rating__active-icon.avonni-rating__icon_selected:hover,
.avonni-rating:hover
    .avonni-rating__active-icon.avonni-rating__continuous-icon {
    /* Hovered icon */
    --slds-c-icon-color-foreground: var(
        --avonni-rating-icon-color-foreground-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
    color: var(
        --avonni-rating-icon-color-foreground-hover,
        var(--lwc-brandAccessibleActive, #014486)
    );
}

.avonni-rating__active-icon.avonni-rating__continuous-icon:hover
    ~ .avonni-rating__active-icon.avonni-rating__continuous-icon {
    --slds-c-icon-color-foreground: var(
        --avonni-rating-icon-color-foreground,
        var(--lwc-brandDisabled, #c9c7c5)
    );
    color: var(
        --avonni-rating-icon-color-foreground,
        var(--lwc-brandDisabled, #c9c7c5)
    );
}

.avonni-rating__icon_medium {
    width: 0.875rem;
    height: 0.875rem;
}
