.slds-input__button_decrement {
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    bottom: auto;
}

.slds-input__button_increment {
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    bottom: auto;
}

:host(.avonni-input-counter__flex-container) {
    display: flex;
    flex-direction: row;
}

:host(.avonni-input-counter__flex-container) .slds-form-element__control {
    padding-left: 0.5rem;
}

:host(.avonni-input-counter__flex-container) .slds-input__button_decrement,
:host(.avonni-input-counter__flex-container) .slds-input__button_increment {
    position: absolute;
    top: 15px;
}

:host(.avonni-input-counter__flex-container) .slds-input__button_decrement {
    left: 1.25rem;
}

:host(.avonni-input-counter__flex-container) > label {
    padding-top: 9px;
}

:host(.avonni-input-counter__flex-container) > lightning-helptext {
    padding-top: 5px;
}

.slds-form-element {
    flex: 1;
}

.slds-form-element_horizontal {
    padding-left: 0;
    padding-right: 0;
}

.slds-form-element_stacked {
    padding-left: 0;
    padding-right: 0;
}

.slds-input__button_decrement {
    z-index: 90;
}

.slds-input__button_increment {
    z-index: 90;
}

.avonni-input-counter_standard-top {
    top: 38px;
}

.avonni-input-counter_hidden-top {
    top: 14px;
}

.avonni-input-counter__label.slds1 {
    color: var(
        --avonni-input-counter-header-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-input-counter-header-font-size, 0.75rem);
    font-style: var(--avonni-input-counter-header-font-style, normal);
    font-weight: var(--avonni-input-counter-header-font-weight, 400);
}

.avonni-input-counter__label.slds2 {
    color: var(
        --avonni-input-counter-header-text-color,
        var(--slds-g-color-on-surface-2, #2e2e2e)
    );
    font-size: var(
        --avonni-input-counter-header-font-size,
        var(--slds-g-font-scale-base, 0.8125rem)
    );
    font-style: var(--avonni-input-counter-header-font-style, normal);
    font-weight: var(
        --avonni-input-counter-header-font-weight,
        var(--slds-g-font-weight-6, 600)
    );
}
