.avonni-button-dialog {
    --avonni-button-shadow: var(--avonni-button-dialog-shadow);
    --avonni-button-shadow-focus: var(--avonni-button-dialog-shadow-focus);
    --avonni-button-line-height: var(--avonni-button-dialog-line-height);
    --avonni-button-sizing-border: var(--avonni-button-dialog-sizing-border);
    --avonni-button-styling-border: var(--avonni-button-dialog-styling-border);
    --avonni-button-label-font-size: var(
        --avonni-button-dialog-label-font-size
    );
    --avonni-button-label-font-weight: var(
        --avonni-button-dialog-label-font-weight
    );
    --avonni-button-label-font-style: var(
        --avonni-button-dialog-label-font-style
    );
    /* bare */
    --avonni-button-bare-color-background: var(
        --avonni-button-dialog-bare-color-background
    );
    --avonni-button-bare-color-border: var(
        --avonni-button-dialog-bare-color-border
    );
    --avonni-button-bare-text-color: var(
        --avonni-button-dialog-bare-text-color
    );
    --avonni-button-bare-inline-end: var(
        --avonni-button-dialog-bare-inline-end
    );
    --avonni-button-bare-inline-start: var(
        --avonni-button-dialog-bare-inline-start
    );
    --avonni-button-bare-block-start: var(
        --avonni-button-dialog-bare-block-start
    );
    --avonni-button-bare-block-end: var(--avonni-button-dialog-bare-block-end);
    /* bare-inverse */
    --avonni-button-bare-inverse-color-background: var(
        --avonni-button-dialog-bare-inverse-color-background
    );
    --avonni-button-bare-inverse-color-border: var(
        --avonni-button-dialog-bare-inverse-color-border
    );
    --avonni-button-bare-inverse-text-color: var(
        --avonni-button-dialog-bare-inverse-background-color
    );
    --avonni-button-bare-inverse-inline-end: var(
        --avonni-button-dialog-bare-inverse-inline-end
    );
    --avonni-button-bare-inverse-inline-start: var(
        --avonni-button-dialog-bare-inverse-inline-start
    );
    --avonni-button-bare-inverse-block-start: var(
        --avonni-button-dialog-bare-inverse-block-start
    );
    --avonni-button-bare-inverse-block-end: var(
        --avonni-button-dialog-bare-inverse-block-end
    );
    /* base */
    --avonni-button-base-color-background: var(
        --avonni-button-dialog-base-color-background
    );
    --avonni-button-base-color-border: var(
        --avonni-button-dialog-base-color-border
    );
    --avonni-button-base-text-color: var(
        --avonni-button-dialog-base-text-color
    );
    --avonni-button-base-inline-end: var(
        --avonni-button-dialog-base-inline-end
    );
    --avonni-button-base-inline-start: var(
        --avonni-button-dialog-base-inline-start
    );
    --avonni-button-base-block-start: var(
        --avonni-button-dialog-base-block-start
    );
    --avonni-button-base-block-end: var(--avonni-button-dialog-base-block-end);
    /* border */
    --avonni-button-border-color-background: var(
        --avonni-button-dialog-border-color-background
    );
    --avonni-button-border-color-border: var(
        --avonni-button-dialog-border-color-border
    );
    --avonni-button-border-text-color: var(
        --avonni-button-dialog-border-text-color
    );
    --avonni-button-border-inline-end: var(
        --avonni-button-dialog-border-inline-end
    );
    --avonni-button-border-inline-start: var(
        --avonni-button-dialog-border-inline-start
    );
    --avonni-button-border-block-start: var(
        --avonni-button-dialog-border-block-start
    );
    --avonni-button-border-block-end: var(
        --avonni-button-dialog-border-block-end
    );
    /* border-filled */
    --avonni-button-border-filled-color-background: var(
        --avonni-button-dialog-border-filled-color-background
    );
    --avonni-button-border-filled-color-border: var(
        --avonni-button-dialog-border-filled-color-border
    );
    --avonni-button-border-filled-text-color: var(
        --avonni-button-dialog-border-filled-text-color
    );
    --avonni-button-border-filled-inline-end: var(
        --avonni-button-dialog-border-filled-inline-end
    );
    --avonni-button-border-filled-inline-start: var(
        --avonni-button-dialog-border-filled-inline-start
    );
    --avonni-button-border-filled-block-start: var(
        --avonni-button-dialog-border-filled-block-start
    );
    --avonni-button-border-filled-block-end: var(
        --avonni-button-dialog-border-filled-block-end
    );
    /* border-inverse */
    --avonni-button-border-inverse-color-background: var(
        --avonni-button-dialog-border-inverse-color-background
    );
    --avonni-button-border-inverse-color-border: var(
        --avonni-button-dialog-border-inverse-color-border
    );
    --avonni-button-border-inverse-text-color: var(
        --avonni-button-dialog-border-inverse-text-color
    );
    --avonni-button-border-inverse-inline-end: var(
        --avonni-button-dialog-border-inverse-inline-end
    );
    --avonni-button-border-inverse-inline-start: var(
        --avonni-button-dialog-border-inverse-inline-start
    );
    --avonni-button-border-inverse-block-start: var(
        --avonni-button-dialog-border-inverse-block-start
    );
    --avonni-button-border-inverse-block-end: var(
        --avonni-button-dialog-border-inverse-block-end
    );
    /* brand */
    --avonni-button-brand-color-background: var(
        --avonni-button-dialog-brand-color-background
    );
    --avonni-button-brand-color-border: var(
        --avonni-button-dialog-brand-color-border
    );
    --avonni-button-brand-text-color: var(
        --avonni-button-dialog-brand-text-color
    );
    --avonni-button-brand-inline-end: var(
        --avonni-button-dialog-brand-inline-end
    );
    --avonni-button-brand-inline-start: var(
        --avonni-button-dialog-brand-inline-start
    );
    --avonni-button-brand-block-start: var(
        --avonni-button-dialog-brand-block-start
    );
    --avonni-button-brand-block-end: var(
        --avonni-button-dialog-brand-block-end
    );
    /* brand-outline */
    --avonni-button-outline-brand-color-background: var(
        --avonni-button-dialog-outline-brand-color-background
    );
    --avonni-button-outline-brand-color-border: var(
        --avonni-button-dialog-outline-brand-color-border
    );
    --avonni-button-outline-brand-text-color: var(
        --avonni-button-dialog-text-color
    );
    --avonni-button-outline-brand-inline-end: var(
        --avonni-button-dialog-outline-brand-inline-end
    );
    --avonni-button-outline-brand-inline-start: var(
        --avonni-button-dialog-outline-brand-inline-start
    );
    --avonni-button-outline-brand-block-start: var(
        --avonni-button-dialog-outline-brand-block-start
    );
    --avonni-button-outline-brand-block-end: var(
        --avonni-button-dialog-outline-brand-block-end
    );
    /* container */
    --avonni-button-container-color-background: var(
        --avonni-button-dialog-container-color-background
    );
    --avonni-button-container-color-border: var(
        --avonni-button-dialog-container-color-border
    );
    --avonni-button-container-text-color: var(
        --avonni-button-dialog-container-text-color
    );
    --avonni-button-container-inline-end: var(
        --avonni-button-dialog-container-inline-end
    );
    --avonni-button-container-inline-start: var(
        --avonni-button-dialog-container-inline-start
    );
    --avonni-button-container-block-start: var(
        --avonni-button-dialog-container-block-start
    );
    --avonni-button-container-block-end: var(
        --avonni-button-dialog-container-block-end
    );
    /* destructive */
    --avonni-button-destructive-color-background: var(
        --avonni-button-dialog-destructive-color-background
    );
    --avonni-button-destructive-color-border: var(
        --avonni-button-dialog-destructive-color-border
    );
    --avonni-button-destructive-text-color: var(
        --avonni-button-dialog-destructive-text-color
    );
    --avonni-button-destructive-inline-end: var(
        --avonni-button-dialog-destructive-inline-end
    );
    --avonni-button-destructive-inline-start: var(
        --avonni-button-dialog-destructive-inline-start
    );
    --avonni-button-destructive-block-start: var(
        --avonni-button-dialog-destructive-block-start
    );
    --avonni-button-destructive-block-end: var(
        --avonni-button-dialog-destructive-block-end
    );
    /* destructive-text */
    --avonni-button-text-destructive-color-background: var(
        --avonni-button-dialog-text-destructive-color-background
    );
    --avonni-button-text-destructive-color-border: var(
        --avonni-button-dialog-text-destructive-color-border
    );
    --avonni-button-text-destructive-text-color: var(
        --avonni-button-dialog-text-destructive-text-color
    );
    --avonni-button-text-destructive-inline-end: var(
        --avonni-button-dialog-text-destructive-inline-end
    );
    --avonni-button-text-destructive-inline-start: var(
        --avonni-button-dialog-text-destructive-inline-start
    );
    --avonni-button-text-destructive-block-start: var(
        --avonni-button-dialog-text-destructive-block-start
    );
    --avonni-button-text-destructive-block-end: var(
        --avonni-button-dialog-text-destructive-block-end
    );
    /* inverse */
    --avonni-button-inverse-color-background: var(
        --avonni-button-dialog-inverse-color-background
    );
    --avonni-button-inverse-color-border: var(
        --avonni-button-dialog-inverse-color-border
    );
    --avonni-button-inverse-text-color: var(
        --avonni-button-dialog-inverse-text-color
    );
    --avonni-button-inverse-inline-end: var(
        --avonni-button-dialog-inverse-inline-end
    );
    --avonni-button-inverse-inline-start: var(
        --avonni-button-dialog-inverse-inline-start
    );
    --avonni-button-inverse-block-start: var(
        --avonni-button-dialog-inverse-block-start
    );
    --avonni-button-inverse-block-end: var(
        --avonni-button-dialog-inverse-block-end
    );
    /* neutral */
    --avonni-button-neutral-color-background: var(
        --avonni-button-dialog-neutral-color-background
    );
    --avonni-button-neutral-color-border: var(
        --avonni-button-dialog-neutral-color-border
    );
    --avonni-button-neutral-text-color: var(--avonni-button-dialog-text-color);
    --avonni-button-neutral-inline-end: var(
        --avonni-button-dialog-neutral-inline-end
    );
    --avonni-button-neutral-inline-start: var(
        --avonni-button-dialog-neutral-inline-start
    );
    --avonni-button-neutral-block-start: var(
        --avonni-button-dialog-neutral-block-start
    );
    --avonni-button-neutral-block-end: var(
        --avonni-button-dialog-neutral-block-end
    );
    /* success */
    --avonni-button-success-color-background: var(
        --avonni-button-dialog-success-color-background
    );
    --avonni-button-success-color-border: var(
        --avonni-button-dialog-success-color-border
    );
    --avonni-button-success-text-color: var(
        --avonni-button-dialog-success-text-color
    );
    --avonni-button-success-inline-end: var(
        --avonni-button-dialog-success-inline-end
    );
    --avonni-button-success-inline-start: var(
        --avonni-button-dialog-success-inline-start
    );
    --avonni-button-success-block-start: var(
        --avonni-button-dialog-success-block-start
    );
    --avonni-button-success-block-end: var(
        --avonni-button-dialog-success-block-end
    );
}

.avonni-button-dialog:hover,
.avonni-button-dialog:focus {
    /* bare */
    --avonni-button-bare-color-background-hover: var(
        --avonni-button-dialog-bare-color-background-hover
    );
    --avonni-button-bare-color-border-hover: var(
        --avonni-button-dialog-bare-color-border-hover
    );
    --avonni-button-bare-text-color-hover: var(
        --avonni-button-dialog-bare-text-color-hover
    );
    /* bare-inverse */
    --avonni-button-bare-inverse-color-background-hover: var(
        --avonni-button-dialog-bare-inverse-color-background-hover
    );
    --avonni-button-bare-inverse-color-border-hover: var(
        --avonni-button-dialog-bare-inverse-color-border-hover
    );
    --avonni-button-bare-inverse-text-color-hover: var(
        --avonni-button-dialog-bare-inverse-text-color-hover
    );
    /* base */
    --avonni-button-base-color-background-hover: var(
        --avonni-button-dialog-base-color-background-hover
    );
    --avonni-button-base-color-border-hover: var(
        --avonni-button-dialog-base-color-border-hover
    );
    --avonni-button-base-text-color-hover: var(
        --avonni-button-dialog-base-text-color-hover
    );
    /* border */
    --avonni-button-border-color-background-hover: var(
        --avonni-button-dialog-border-color-background-hover
    );
    --avonni-button-border-color-border-hover: var(
        --avonni-button-dialog-border-color-border-hover
    );
    --avonni-button-border-text-color-hover: var(
        --avonni-button-dialog-border-text-color-hover
    );
    /* border-inverse */
    --avonni-button-border-inverse-color-background-hover: var(
        --avonni-button-dialog-border-inverse-color-background-hover
    );
    --avonni-button-border-inverse-color-border-hover: var(
        --avonni-button-dialog-border-inverse-color-border-hover
    );
    --avonni-button-border-inverse-text-color-hover: var(
        --avonni-button-dialog-border-inverse-text-color-hover
    );
    /* border-filled */
    --avonni-button-border-filled-color-background-hover: var(
        --avonni-button-dialog-border-filled-color-background-hover
    );
    --avonni-button-border-filled-color-border-hover: var(
        --avonni-button-dialog-border-filled-color-border-hover
    );
    --avonni-button-border-filled-text-color-hover: var(
        --avonni-button-dialog-border-filled-text-color-hover
    );
    /* brand */
    --avonni-button-brand-color-background-hover: var(
        --avonni-button-dialog-brand-color-background-hover
    );
    --avonni-button-brand-color-border-hover: var(
        --avonni-button-dialog-brand-color-border-hover
    );
    --avonni-button-brand-text-color-hover: var(
        --avonni-button-dialog-brand-text-color-hover
    );
    /* brand-outline */
    --avonni-button-outline-brand-color-background-hover: var(
        --avonni-button-dialog-outline-brand-color-background-hover
    );
    --avonni-button-outline-brand-color-border-hover: var(
        --avonni-button-dialog-outline-brand-color-border-hover
    );
    --avonni-button-outline-brand-text-color-hover: var(
        --avonni-button-dialog-text-color-hover
    );
    /* container */
    --avonni-button-container-color-background-hover: var(
        --avonni-button-dialog-container-color-background-hover
    );
    --avonni-button-container-color-border-hover: var(
        --avonni-button-dialog-container-color-border-hover
    );
    --avonni-button-container-text-color-hover: var(
        --avonni-button-dialog-container-text-color-hover
    );
    /* destructive */
    --avonni-button-destructive-color-background-hover: var(
        --avonni-button-dialog-destructive-color-background-hover
    );
    --avonni-button-destructive-color-border-hover: var(
        --avonni-button-dialog-destructive-color-border-hover
    );
    --avonni-button-destructive-text-color-hover: var(
        --avonni-button-dialog-destructive-text-color-hover
    );
    /* destructive-text */
    --avonni-button-text-destructive-color-background-hover: var(
        --avonni-button-dialog-text-destructive-color-background-hover
    );
    --avonni-button-text-destructive-color-border-hover: var(
        --avonni-button-dialog-text-destructive-color-border-hover
    );
    --avonni-button-text-destructive-text-color-hover: var(
        --avonni-button-dialog-text-destructive-text-color-hover
    );
    /* inverse */
    --avonni-button-inverse-color-background-hover: var(
        --avonni-button-dialog-inverse-color-background-hover
    );
    --avonni-button-inverse-color-border-hover: var(
        --avonni-button-dialog-inverse-color-border-hover
    );
    --avonni-button-inverse-text-color-hover: var(
        --avonni-button-dialog-inverse-text-color-hover
    );
    /* neutral */
    --avonni-button-neutral-color-background-hover: var(
        --avonni-button-dialog-neutral-color-background-hover
    );
    --avonni-button-neutral-color-border-hover: var(
        --avonni-button-dialog-neutral-color-border-hover
    );
    --avonni-button-neutral-text-color-hover: var(
        --avonni-button-dialog-text-color-hover
    );
    /* success */
    --avonni-button-success-color-background-hover: var(
        --avonni-button-dialog-success-color-background-hover
    );
    --avonni-button-success-color-border-hover: var(
        --avonni-button-dialog-success-color-border-hover
    );
    --avonni-button-success-text-color-hover: var(
        --avonni-button-dialog-success-text-color-hover
    );
}

.avonni-button-dialog:active {
    /* bare */
    --avonni-button-bare-color-background-active: var(
        --avonni-button-dialog-bare-color-background-active
    );
    --avonni-button-bare-color-border-active: var(
        --avonni-button-dialog-bare-color-border-active
    );
    --avonni-button-bare-text-color-active: var(
        --avonni-button-dialog-bare-text-color-active
    );
    /* bare-inverse */
    --avonni-button-bare-inverse-color-background-active: var(
        --avonni-button-dialog-bare-inverse-color-background-active
    );
    --avonni-button-bare-inverse-color-border-active: var(
        --avonni-button-dialog-bare-inverse-color-border-active
    );
    --avonni-button-bare-inverse-text-color-active: var(
        --avonni-button-dialog-bare-inverse-text-color-active
    );
    /* base */
    --avonni-button-base-color-background-active: var(
        --avonni-button-dialog-base-color-background-active
    );
    --avonni-button-base-color-border-active: var(
        --avonni-button-dialog-base-color-border-active
    );
    --avonni-button-base-text-color-active: var(
        --avonni-button-dialog-base-text-color-active
    );
    /* border */
    --avonni-button-border-color-background-active: var(
        --avonni-button-dialog-border-color-background-active
    );
    --avonni-button-border-color-border-active: var(
        --avonni-button-dialog-border-color-border-active
    );
    --avonni-button-border-text-color-active: var(
        --avonni-button-dialog-border-text-color-active
    );
    /* border-filled */
    --avonni-button-border-filled-color-background-active: var(
        --avonni-button-dialog-border-filled-color-background-active
    );
    --avonni-button-border-filled-color-border-active: var(
        --avonni-button-dialog-border-filled-color-border-active
    );
    --avonni-button-border-filled-text-color-active: var(
        --avonni-button-dialog-border-filled-text-color-active
    );
    /* border-inverse */
    --avonni-button-border-inverse-color-background-active: var(
        --avonni-button-dialog-border-inverse-color-background-active
    );
    --avonni-button-border-inverse-color-border-active: var(
        --avonni-button-dialog-border-inverse-color-border-active
    );
    --avonni-button-border-inverse-text-color-active: var(
        --avonni-button-dialog-border-inverse-text-color-active
    );
    /* brand */
    --avonni-button-brand-color-background-active: var(
        --avonni-button-dialog-brand-color-background-active
    );
    --avonni-button-brand-color-border-active: var(
        --avonni-button-dialog-brand-color-border-active
    );
    --avonni-button-brand-text-color-active: var(
        --avonni-button-dialog-brand-text-color-active
    );
    /* brand-outline */
    --avonni-button-outline-brand-color-background-active: var(
        --avonni-button-dialog-outline-brand-color-background-active
    );
    --avonni-button-outline-brand-color-border-active: var(
        --avonni-button-dialog-outline-brand-color-border-active
    );
    --avonni-button-outline-brand-text-color-active: var(
        --avonni-button-dialog-text-color-active
    );
    /* destructive */
    --avonni-button-destructive-color-background-active: var(
        --avonni-button-dialog-destructive-color-background-active
    );
    --avonni-button-destructive-color-border-active: var(
        --avonni-button-dialog-destructive-color-border-active
    );
    --avonni-button-destructive-text-color-active: var(
        --avonni-button-dialog-destructive-text-color-active
    );
    /* destructive-text */
    --avonni-button-text-destructive-color-background-active: var(
        --avonni-button-dialog-text-destructive-color-background-active
    );
    --avonni-button-text-destructive-color-border-active: var(
        --avonni-button-dialog-text-destructive-color-border-active
    );
    --avonni-button-text-destructive-text-color-active: var(
        --avonni-button-dialog-destructive-text-color-hover-active
    );
    /* inverse */
    --avonni-button-inverse-color-background-active: var(
        --avonni-button-dialog-inverse-color-background-active
    );
    --avonni-button-inverse-color-border-active: var(
        --avonni-button-dialog-inverse-color-border-active
    );
    --avonni-button-inverse-text-color-active: var(
        --avonni-button-dialog-inverse-text-color-active
    );
    /* neutral */
    --avonni-button-neutral-color-background-active: var(
        --avonni-button-dialog-neutral-color-background-active
    );
    --avonni-button-neutral-color-border-active: var(
        --avonni-button-dialog-neutral-color-border-active
    );
    --avonni-button-neutral-text-color-active: var(
        --avonni-button-dialog-text-color-active
    );
    /* success */
    --avonni-button-success-color-background-active: var(
        --avonni-button-dialog-success-color-background-active
    );
    --avonni-button-success-color-border-active: var(
        --avonni-button-dialog-success-color-border-active
    );
    --avonni-button-success-text-color-active: var(
        --avonni-button-dialog-success-text-color-active
    );
}
