.slds-popover {
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
}

.slds-popover.slds-popover_small {
    max-width: var(--lwc-sizeSmall, 15rem);
}

.slds-popover.slds-popover_medium {
    min-width: var(--lwc-sizeSmall, 20rem);
}

.slds-popover.slds-popover_large {
    min-width: var(--lwc-sizeLarge, 25rem);
    max-width: 512px;
}

.slds-nubbin_top {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    transform: translateX(-50%);
    left: 50%;
}

.slds-nubbin_bottom {
    position: absolute;
    top: auto;
    margin-bottom: 1rem;
    transform: translateX(-50%);
    left: 50%;
}

.slds-nubbin_top-left {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    margin-left: -0.5rem;
}

.slds-nubbin_top-right {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    margin-right: -0.5rem;
}

.slds-nubbin_bottom-left {
    position: absolute;
    top: auto;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
}

.slds-nubbin_bottom-right {
    position: absolute;
    top: auto;
    margin-bottom: 1rem;
    margin-right: -0.5rem;
}

div:focus {
    outline: none;
}

.avonni-button-icon-popover_space-between {
    display: flex;
    justify-content: space-between;
}

.avonni-button-icon-popover__popover-body {
    max-height: var(--avonni-button-icon-popover-sizing-max-height);
    overflow-x: auto;
}

.avonni-button-icon-popover {
    --avonni-button-icon-line-height: var(
        --avonni-button-icon-popover-line-height
    );
    --avonni-button-icon-sizing-border: var(
        --avonni-button-icon-popover-sizing-border
    );
    --avonni-button-icon-styling-border: var(
        --avonni-button-icon-popover-styling-border
    );
    /* bare */
    --avonni-button-icon-bare-color-background: var(
        --avonni-button-icon-popover-bare-color-background
    );
    --avonni-button-icon-bare-color-border: var(
        --avonni-button-icon-popover-bare-color-border
    );
    --avonni-button-icon-bare-text-color: var(
        --avonni-button-icon-popover-bare-text-color
    );
    --avonni-button-icon-bare-inline-end: var(
        --avonni-button-icon-popover-bare-inline-end
    );
    --avonni-button-icon-bare-inline-start: var(
        --avonni-button-icon-popover-bare-inline-start
    );
    --avonni-button-icon-bare-block-start: var(
        --avonni-button-icon-popover-bare-block-start
    );
    --avonni-button-icon-bare-block-end: var(
        --avonni-button-icon-popover-bare-block-end
    );
    /* bare-inverse */
    --avonni-button-icon-bare-inverse-color-background: var(
        --avonni-button-icon-popover-bare-inverse-color-background
    );
    --avonni-button-icon-bare-inverse-color-border: var(
        --avonni-button-icon-popover-bare-inverse-color-border
    );
    --avonni-button-icon-bare-inverse-text-color: var(
        --avonni-button-icon-popover-bare-inverse-background-color
    );
    --avonni-button-icon-bare-inverse-inline-end: var(
        --avonni-button-icon-popover-bare-inverse-inline-end
    );
    --avonni-button-icon-bare-inverse-inline-start: var(
        --avonni-button-icon-popover-bare-inverse-inline-start
    );
    --avonni-button-icon-bare-inverse-block-start: var(
        --avonni-button-icon-popover-bare-inverse-block-start
    );
    --avonni-button-icon-bare-inverse-block-end: var(
        --avonni-button-icon-popover-bare-inverse-block-end
    );
    /* base */
    --avonni-button-icon-base-color-background: var(
        --avonni-button-icon-popover-base-color-background
    );
    --avonni-button-icon-base-color-border: var(
        --avonni-button-icon-popover-base-color-border
    );
    --avonni-button-icon-base-text-color: var(
        --avonni-button-icon-popover-base-text-color
    );
    --avonni-button-icon-base-inline-end: var(
        --avonni-button-icon-popover-base-inline-end
    );
    --avonni-button-icon-base-inline-start: var(
        --avonni-button-icon-popover-base-inline-start
    );
    --avonni-button-icon-base-block-start: var(
        --avonni-button-icon-popover-base-block-start
    );
    --avonni-button-icon-base-block-end: var(
        --avonni-button-icon-popover-base-block-end
    );
    /* border */
    --avonni-button-icon-border-color-background: var(
        --avonni-button-icon-popover-border-color-background
    );
    --avonni-button-icon-border-color-border: var(
        --avonni-button-icon-popover-border-color-border
    );
    --avonni-button-icon-border-text-color: var(
        --avonni-button-icon-popover-border-text-color
    );
    --avonni-button-icon-border-inline-end: var(
        --avonni-button-icon-popover-border-inline-end
    );
    --avonni-button-icon-border-inline-start: var(
        --avonni-button-icon-popover-border-inline-start
    );
    --avonni-button-icon-border-block-start: var(
        --avonni-button-icon-popover-border-block-start
    );
    --avonni-button-icon-border-block-end: var(
        --avonni-button-icon-popover-border-block-end
    );
    /* border-filled */
    --avonni-button-icon-border-filled-color-background: var(
        --avonni-button-icon-popover-border-filled-color-background
    );
    --avonni-button-icon-border-filled-color-border: var(
        --avonni-button-icon-popover-border-filled-color-border
    );
    --avonni-button-icon-border-filled-text-color: var(
        --avonni-button-icon-popover-border-filled-text-color
    );
    --avonni-button-icon-border-filled-inline-end: var(
        --avonni-button-icon-popover-border-filled-inline-end
    );
    --avonni-button-icon-border-filled-inline-start: var(
        --avonni-button-icon-popover-border-filled-inline-start
    );
    --avonni-button-icon-border-filled-block-start: var(
        --avonni-button-icon-popover-border-filled-block-start
    );
    --avonni-button-icon-border-filled-block-end: var(
        --avonni-button-icon-popover-border-filled-block-end
    );
    /* border-inverse */
    --avonni-button-icon-border-inverse-color-background: var(
        --avonni-button-icon-popover-border-inverse-color-background
    );
    --avonni-button-icon-border-inverse-color-border: var(
        --avonni-button-icon-popover-border-inverse-color-border
    );
    --avonni-button-icon-border-inverse-text-color: var(
        --avonni-button-icon-popover-border-inverse-text-color
    );
    --avonni-button-icon-border-inverse-inline-end: var(
        --avonni-button-icon-popover-border-inverse-inline-end
    );
    --avonni-button-icon-border-inverse-inline-start: var(
        --avonni-button-icon-popover-border-inverse-inline-start
    );
    --avonni-button-icon-border-inverse-block-start: var(
        --avonni-button-icon-popover-border-inverse-block-start
    );
    --avonni-button-icon-border-inverse-block-end: var(
        --avonni-button-icon-popover-border-inverse-block-end
    );
    /* brand */
    --avonni-button-icon-brand-color-background: var(
        --avonni-button-icon-popover-brand-color-background
    );
    --avonni-button-icon-brand-color-border: var(
        --avonni-button-icon-popover-brand-color-border
    );
    --avonni-button-icon-brand-text-color: var(
        --avonni-button-icon-popover-brand-text-color
    );
    --avonni-button-icon-brand-inline-end: var(
        --avonni-button-icon-popover-brand-inline-end
    );
    --avonni-button-icon-brand-inline-start: var(
        --avonni-button-icon-popover-brand-inline-start
    );
    --avonni-button-icon-brand-block-start: var(
        --avonni-button-icon-popover-brand-block-start
    );
    --avonni-button-icon-brand-block-end: var(
        --avonni-button-icon-popover-brand-block-end
    );
    /* brand-outline */
    --avonni-button-icon-outline-brand-color-background: var(
        --avonni-button-icon-popover-outline-brand-color-background
    );
    --avonni-button-icon-outline-brand-color-border: var(
        --avonni-button-icon-popover-outline-brand-color-border
    );
    --avonni-button-icon-outline-brand-text-color: var(
        --avonni-button-icon-popover-text-color
    );
    --avonni-button-icon-outline-brand-inline-end: var(
        --avonni-button-icon-popover-outline-brand-inline-end
    );
    --avonni-button-icon-outline-brand-inline-start: var(
        --avonni-button-icon-popover-outline-brand-inline-start
    );
    --avonni-button-icon-outline-brand-block-start: var(
        --avonni-button-icon-popover-outline-brand-block-start
    );
    --avonni-button-icon-outline-brand-block-end: var(
        --avonni-button-icon-popover-outline-brand-block-end
    );
    /* container */
    --avonni-button-icon-container-color-background: var(
        --avonni-button-icon-popover-container-color-background
    );
    --avonni-button-icon-container-color-border: var(
        --avonni-button-icon-popover-container-color-border
    );
    --avonni-button-icon-container-text-color: var(
        --avonni-button-icon-popover-container-text-color
    );
    --avonni-button-icon-container-inline-end: var(
        --avonni-button-icon-popover-container-inline-end
    );
    --avonni-button-icon-container-inline-start: var(
        --avonni-button-icon-popover-container-inline-start
    );
    --avonni-button-icon-container-block-start: var(
        --avonni-button-icon-popover-container-block-start
    );
    --avonni-button-icon-container-block-end: var(
        --avonni-button-icon-popover-container-block-end
    );
    /* destructive */
    --avonni-button-icon-destructive-color-background: var(
        --avonni-button-icon-popover-destructive-color-background
    );
    --avonni-button-icon-destructive-color-border: var(
        --avonni-button-icon-popover-destructive-color-border
    );
    --avonni-button-icon-destructive-text-color: var(
        --avonni-button-icon-popover-destructive-text-color
    );
    --avonni-button-icon-destructive-inline-end: var(
        --avonni-button-icon-popover-destructive-inline-end
    );
    --avonni-button-icon-destructive-inline-start: var(
        --avonni-button-icon-popover-destructive-inline-start
    );
    --avonni-button-icon-destructive-block-start: var(
        --avonni-button-icon-popover-destructive-block-start
    );
    --avonni-button-icon-destructive-block-end: var(
        --avonni-button-icon-popover-destructive-block-end
    );
    /* destructive-text */
    --avonni-button-icon-text-destructive-color-background: var(
        --avonni-button-icon-popover-text-destructive-color-background
    );
    --avonni-button-icon-text-destructive-color-border: var(
        --avonni-button-icon-popover-text-destructive-color-border
    );
    --avonni-button-icon-text-destructive-text-color: var(
        --avonni-button-icon-popover-text-destructive-text-color
    );
    --avonni-button-icon-text-destructive-inline-end: var(
        --avonni-button-icon-popover-text-destructive-inline-end
    );
    --avonni-button-icon-text-destructive-inline-start: var(
        --avonni-button-icon-popover-text-destructive-inline-start
    );
    --avonni-button-icon-text-destructive-block-start: var(
        --avonni-button-icon-popover-text-destructive-block-start
    );
    --avonni-button-icon-text-destructive-block-end: var(
        --avonni-button-icon-popover-text-destructive-block-end
    );
    /* inverse */
    --avonni-button-icon-inverse-color-background: var(
        --avonni-button-icon-popover-inverse-color-background
    );
    --avonni-button-icon-inverse-color-border: var(
        --avonni-button-icon-popover-inverse-color-border
    );
    --avonni-button-icon-inverse-text-color: var(
        --avonni-button-icon-popover-inverse-text-color
    );
    --avonni-button-icon-inverse-inline-end: var(
        --avonni-button-icon-popover-inverse-inline-end
    );
    --avonni-button-icon-inverse-inline-start: var(
        --avonni-button-icon-popover-inverse-inline-start
    );
    --avonni-button-icon-inverse-block-start: var(
        --avonni-button-icon-popover-inverse-block-start
    );
    --avonni-button-icon-inverse-block-end: var(
        --avonni-button-icon-popover-inverse-block-end
    );
    /* neutral */
    --avonni-button-icon-neutral-color-background: var(
        --avonni-button-icon-popover-neutral-color-background
    );
    --avonni-button-icon-neutral-color-border: var(
        --avonni-button-icon-popover-neutral-color-border
    );
    --avonni-button-icon-neutral-text-color: var(
        --avonni-button-icon-popover-text-color
    );
    --avonni-button-icon-neutral-inline-end: var(
        --avonni-button-icon-popover-neutral-inline-end
    );
    --avonni-button-icon-neutral-inline-start: var(
        --avonni-button-icon-popover-neutral-inline-start
    );
    --avonni-button-icon-neutral-block-start: var(
        --avonni-button-icon-popover-neutral-block-start
    );
    --avonni-button-icon-neutral-block-end: var(
        --avonni-button-icon-popover-neutral-block-end
    );
    /* success */
    --avonni-button-icon-success-color-background: var(
        --avonni-button-icon-popover-success-color-background
    );
    --avonni-button-icon-success-color-border: var(
        --avonni-button-icon-popover-success-color-border
    );
    --avonni-button-icon-success-text-color: var(
        --avonni-button-icon-popover-success-text-color
    );
    --avonni-button-icon-success-inline-end: var(
        --avonni-button-icon-popover-success-inline-end
    );
    --avonni-button-icon-success-inline-start: var(
        --avonni-button-icon-popover-success-inline-start
    );
    --avonni-button-icon-success-block-start: var(
        --avonni-button-icon-popover-success-block-start
    );
    --avonni-button-icon-success-block-end: var(
        --avonni-button-icon-popover-success-block-end
    );
}

.avonni-button-icon-popover:hover,
.avonni-button-icon-popover:focus {
    /* bare */
    --avonni-button-icon-bare-color-background-hover: var(
        --avonni-button-icon-popover-bare-color-background-hover
    );
    --avonni-button-icon-bare-color-border-hover: var(
        --avonni-button-icon-popover-bare-color-border-hover
    );
    --avonni-button-icon-bare-text-color-hover: var(
        --avonni-button-icon-popover-bare-text-color-hover
    );
    /* bare-inverse */
    --avonni-button-icon-bare-inverse-color-background-hover: var(
        --avonni-button-icon-popover-bare-inverse-color-background-hover
    );
    --avonni-button-icon-bare-inverse-color-border-hover: var(
        --avonni-button-icon-popover-bare-inverse-color-border-hover
    );
    --avonni-button-icon-bare-inverse-text-color-hover: var(
        --avonni-button-icon-popover-bare-inverse-text-color-hover
    );
    /* base */
    --avonni-button-icon-base-color-background-hover: var(
        --avonni-button-icon-popover-base-color-background-hover
    );
    --avonni-button-icon-base-color-border-hover: var(
        --avonni-button-icon-popover-base-color-border-hover
    );
    --avonni-button-icon-base-text-color-hover: var(
        --avonni-button-icon-popover-base-text-color-hover
    );
    /* border */
    --avonni-button-icon-border-color-background-hover: var(
        --avonni-button-icon-popover-border-color-background-hover
    );
    --avonni-button-icon-border-color-border-hover: var(
        --avonni-button-icon-popover-border-color-border-hover
    );
    --avonni-button-icon-border-text-color-hover: var(
        --avonni-button-icon-popover-border-text-color-hover
    );
    /* border-inverse */
    --avonni-button-icon-border-inverse-color-background-hover: var(
        --avonni-button-icon-popover-border-inverse-color-background-hover
    );
    --avonni-button-icon-border-inverse-color-border-hover: var(
        --avonni-button-icon-popover-border-inverse-color-border-hover
    );
    --avonni-button-icon-border-inverse-text-color-hover: var(
        --avonni-button-icon-popover-border-inverse-text-color-hover
    );
    /* border-filled */
    --avonni-button-icon-border-filled-color-background-hover: var(
        --avonni-button-icon-popover-border-filled-color-background-hover
    );
    --avonni-button-icon-border-filled-color-border-hover: var(
        --avonni-button-icon-popover-border-filled-color-border-hover
    );
    --avonni-button-icon-border-filled-text-color-hover: var(
        --avonni-button-icon-popover-border-filled-text-color-hover
    );
    /* brand */
    --avonni-button-icon-brand-color-background-hover: var(
        --avonni-button-icon-popover-brand-color-background-hover
    );
    --avonni-button-icon-brand-color-border-hover: var(
        --avonni-button-icon-popover-brand-color-border-hover
    );
    --avonni-button-icon-brand-text-color-hover: var(
        --avonni-button-icon-popover-brand-text-color-hover
    );
    /* brand-outline */
    --avonni-button-icon-outline-brand-color-background-hover: var(
        --avonni-button-icon-popover-outline-brand-color-background-hover
    );
    --avonni-button-icon-outline-brand-color-border-hover: var(
        --avonni-button-icon-popover-outline-brand-color-border-hover
    );
    --avonni-button-icon-outline-brand-text-color-hover: var(
        --avonni-button-icon-popover-text-color-hover
    );
    /* container */
    --avonni-button-icon-container-color-background-hover: var(
        --avonni-button-icon-popover-container-color-background-hover
    );
    --avonni-button-icon-container-color-border-hover: var(
        --avonni-button-icon-popover-container-color-border-hover
    );
    --avonni-button-icon-container-text-color-hover: var(
        --avonni-button-icon-popover-container-text-color-hover
    );
    /* destructive */
    --avonni-button-icon-destructive-color-background-hover: var(
        --avonni-button-icon-popover-destructive-color-background-hover
    );
    --avonni-button-icon-destructive-color-border-hover: var(
        --avonni-button-icon-popover-destructive-color-border-hover
    );
    --avonni-button-icon-destructive-text-color-hover: var(
        --avonni-button-icon-popover-destructive-text-color-hover
    );
    /* destructive-text */
    --avonni-button-icon-text-destructive-color-background-hover: var(
        --avonni-button-icon-popover-text-destructive-color-background-hover
    );
    --avonni-button-icon-text-destructive-color-border-hover: var(
        --avonni-button-icon-popover-text-destructive-color-border-hover
    );
    --avonni-button-icon-text-destructive-text-color-hover: var(
        --avonni-button-icon-popover-text-destructive-text-color-hover
    );
    /* inverse */
    --avonni-button-icon-inverse-color-background-hover: var(
        --avonni-button-icon-popover-inverse-color-background-hover
    );
    --avonni-button-icon-inverse-color-border-hover: var(
        --avonni-button-icon-popover-inverse-color-border-hover
    );
    --avonni-button-icon-inverse-text-color-hover: var(
        --avonni-button-icon-popover-inverse-text-color-hover
    );
    /* neutral */
    --avonni-button-icon-neutral-color-background-hover: var(
        --avonni-button-icon-popover-neutral-color-background-hover
    );
    --avonni-button-icon-neutral-color-border-hover: var(
        --avonni-button-icon-popover-neutral-color-border-hover
    );
    --avonni-button-icon-neutral-text-color-hover: var(
        --avonni-button-icon-popover-text-color-hover
    );
    /* success */
    --avonni-button-icon-success-color-background-hover: var(
        --avonni-button-icon-popover-success-color-background-hover
    );
    --avonni-button-icon-success-color-border-hover: var(
        --avonni-button-icon-popover-success-color-border-hover
    );
    --avonni-button-icon-success-text-color-hover: var(
        --avonni-button-icon-popover-success-text-color-hover
    );
}

.avonni-button-icon-popover:active {
    /* bare */
    --avonni-button-icon-bare-color-background-active: var(
        --avonni-button-icon-popover-bare-color-background-active
    );
    --avonni-button-icon-bare-color-border-active: var(
        --avonni-button-icon-popover-bare-color-border-active
    );
    --avonni-button-icon-bare-text-color-active: var(
        --avonni-button-icon-popover-bare-text-color-active
    );
    /* bare-inverse */
    --avonni-button-icon-bare-inverse-color-background-active: var(
        --avonni-button-icon-popover-bare-inverse-color-background-active
    );
    --avonni-button-icon-bare-inverse-color-border-active: var(
        --avonni-button-icon-popover-bare-inverse-color-border-active
    );
    --avonni-button-icon-bare-inverse-text-color-active: var(
        --avonni-button-icon-popover-bare-inverse-text-color-active
    );
    /* base */
    --avonni-button-icon-base-color-background-active: var(
        --avonni-button-icon-popover-base-color-background-active
    );
    --avonni-button-icon-base-color-border-active: var(
        --avonni-button-icon-popover-base-color-border-active
    );
    --avonni-button-icon-base-text-color-active: var(
        --avonni-button-icon-popover-base-text-color-active
    );
    /* border */
    --avonni-button-icon-border-color-background-active: var(
        --avonni-button-icon-popover-border-color-background-active
    );
    --avonni-button-icon-border-color-border-active: var(
        --avonni-button-icon-popover-border-color-border-active
    );
    --avonni-button-icon-border-text-color-active: var(
        --avonni-button-icon-popover-border-text-color-active
    );
    /* border-filled */
    --avonni-button-icon-border-filled-color-background-active: var(
        --avonni-button-icon-popover-border-filled-color-background-active
    );
    --avonni-button-icon-border-filled-color-border-active: var(
        --avonni-button-icon-popover-border-filled-color-border-active
    );
    --avonni-button-icon-border-filled-text-color-active: var(
        --avonni-button-icon-popover-border-filled-text-color-active
    );
    /* border-inverse */
    --avonni-button-icon-border-inverse-color-background-active: var(
        --avonni-button-icon-popover-border-inverse-color-background-active
    );
    --avonni-button-icon-border-inverse-color-border-active: var(
        --avonni-button-icon-popover-border-inverse-color-border-active
    );
    --avonni-button-icon-border-inverse-text-color-active: var(
        --avonni-button-icon-popover-border-inverse-text-color-active
    );
    /* brand */
    --avonni-button-icon-brand-color-background-active: var(
        --avonni-button-icon-popover-brand-color-background-active
    );
    --avonni-button-icon-brand-color-border-active: var(
        --avonni-button-icon-popover-brand-color-border-active
    );
    --avonni-button-icon-brand-text-color-active: var(
        --avonni-button-icon-popover-brand-text-color-active
    );
    /* brand-outline */
    --avonni-button-icon-outline-brand-color-background-active: var(
        --avonni-button-icon-popover-outline-brand-color-background-active
    );
    --avonni-button-icon-outline-brand-color-border-active: var(
        --avonni-button-icon-popover-outline-brand-color-border-active
    );
    --avonni-button-icon-outline-brand-text-color-active: var(
        --avonni-button-icon-popover-text-color-active
    );
    /* destructive */
    --avonni-button-icon-destructive-color-background-active: var(
        --avonni-button-icon-popover-destructive-color-background-active
    );
    --avonni-button-icon-destructive-color-border-active: var(
        --avonni-button-icon-popover-destructive-color-border-active
    );
    --avonni-button-icon-destructive-text-color-active: var(
        --avonni-button-icon-popover-destructive-text-color-active
    );
    /* destructive-text */
    --avonni-button-icon-text-destructive-color-background-active: var(
        --avonni-button-icon-popover-text-destructive-color-background-active
    );
    --avonni-button-icon-text-destructive-color-border-active: var(
        --avonni-button-icon-popover-text-destructive-color-border-active
    );
    --avonni-button-icon-text-destructive-text-color-active: var(
        --avonni-button-icon-popover-destructive-text-color-hover-active
    );
    /* inverse */
    --avonni-button-icon-inverse-color-background-active: var(
        --avonni-button-icon-popover-inverse-color-background-active
    );
    --avonni-button-icon-inverse-color-border-active: var(
        --avonni-button-icon-popover-inverse-color-border-active
    );
    --avonni-button-icon-inverse-text-color-active: var(
        --avonni-button-icon-popover-inverse-text-color-active
    );
    /* neutral */
    --avonni-button-icon-neutral-color-background-active: var(
        --avonni-button-icon-popover-neutral-color-background-active
    );
    --avonni-button-icon-neutral-color-border-active: var(
        --avonni-button-icon-popover-neutral-color-border-active
    );
    --avonni-button-icon-neutral-text-color-active: var(
        --avonni-button-icon-popover-text-color-active
    );
    /* success */
    --avonni-button-icon-success-color-background-active: var(
        --avonni-button-icon-popover-success-color-background-active
    );
    --avonni-button-icon-success-color-border-active: var(
        --avonni-button-icon-popover-success-color-border-active
    );
    --avonni-button-icon-success-text-color-active: var(
        --avonni-button-icon-popover-success-text-color-active
    );
}
