.avonni-filter-menu__search-wrapper {
    display: flex;
    align-items: center;
}

.avonni-filter-menu__search-input {
    flex: 1;
    min-width: 0;
}

.avonni-filter-menu__title-button_base {
    background-color: var(
        --avonni-filter-menu-vertical-label-color-background,
        var(--lwc-colorBackgroundAlt, #ffffff)
    );
    --slds-c-icon-color-foreground-default: var(
        --avonni-filter-menu-vertical-collapse-icon-color-foreground
    );
}

.avonni-filter-menu__title-button_base:hover {
    background-color: var(
        --avonni-filter-menu-vertical-label-color-background-hover
    );
}

.avonni-filter-menu__title-button_base:active {
    background-color: var(
        --avonni-filter-menu-vertical-label-color-background-active
    );
}

.avonni-filter-menu__title-button_base:active {
    border-color: transparent;
}

.avonni-filter-menu__load-more-button {
    --slds-c-button-text-color: var(
        --avonni-filter-menu-vertical-load-more-button-text-color
    );
    --slds-c-button-text-color-active: var(
        --avonni-filter-menu-vertical-load-more-button-text-color-active
    );
    --slds-c-button-text-color-hover: var(
        --avonni-filter-menu-vertical-load-more-button-text-color-hover
    );
}

.avonni-filter-menu__label {
    color: var(
        --avonni-filter-menu-vertical-label-text-color,
        var(
            --slds-g-color-neutral-base-10,
            var(--lwc-colorTextDefault, #181818)
        )
    );
    font-weight: var(
        --avonni-filter-menu-vertical-label-font-weight,
        var(--lwc-fontWeightBold, 700)
    );
    font-size: var(--avonni-filter-menu-vertical-label-font-size, 0.8125rem);
}

.avonni-filter-menu__title-button_base:hover .avonni-filter-menu__label {
    color: var(--avonni-filter-menu-vertical-label-text-color-hover);
}

.avonni-filter-menu__title-button_base:active .avonni-filter-menu__label {
    color: var(--avonni-filter-menu-vertical-label-text-color-active);
}

.avonni-filter-menu__form-element-legend {
    display: flex;
    overflow: hidden;
    /* Avoid Salesforce Experience site styles affecting the section button */
    margin-bottom: 0;
}

.avonni-filter-menu__label-container-collapsible {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
}

.avonni-filter-menu__label-container-non-collapsible {
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
}

.avonni-filter-menu__label.slds-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-element-id='input-time-range-container'] .slds-form-element {
    padding-right: var(--lwc-spacingXSmall, 0.5rem);
    padding-bottom: var(--lwc-spacingXxSmall, 0.25rem);
    min-width: 150px;
}
