.avonni-filter-menu-group__button-icon-popover {
    --avonni-button-icon-popover-sizing-max-height: 300px;
    --slds-c-popover-position-zindex: 8001;
}

.avonni-filter-menu-group__button-icon-popover-selected {
    --avonni-button-icon-popover-border-filled-color-background: var(
        --slds-g-color-palette-blue-95,
        #eef4ff
    );
}
