.avonni-primitive-dual-listbox__option {
    background-color: var(
        --avonni-dual-listbox-option-color-background,
        #ffffff
    );
    color: var(
        --avonni-dual-listbox-option-text-color,
        var(--lwc-colorTextDefault, #181818)
    );
}

.avonni-primitive-dual-listbox__option:hover {
    background-color: var(
        --avonni-dual-listbox-option-color-background-hover,
        var(--slds-s-menu-item-color-background-active, #f3f2f2)
    );
    color: var(
        --avonni-dual-listbox-option-text-color-hover,
        var(--lwc-colorTextDefault, #181818)
    );
}

.avonni-primitive-dual-listbox__option_min-height {
    min-height: 41px;
}

.avonni-primitive-dual-listbox__option_border-bottom {
    border-bottom-width: var(--avonni-dual-listbox-option-sizing-border, 1px);
    border-bottom-style: var(
        --avonni-dual-listbox-option-styling-border,
        solid
    );
    border-bottom-color: var(
        --avonni-dual-listbox-option-color-border,
        #747474
    );
}

.avonni-primitive-dual-listbox__option-selected,
.avonni-primitive-dual-listbox__option-selected:focus {
    background: var(
        --avonni-dual-listbox-option-color-background-selected,
        var(--slds-s-menu-item-color-background-active, #edeceb)
    );
    color: var(
        --avonni-dual-listbox-option-text-color-selected,
        var(--lwc-colorTextDefault, #181818)
    );
}
