.avonni-spinner {
    position: relative;
    display: inline-block;
    height: 200px;
    width: -webkit-fill-available;
    width: -moz-fill-available;
}

.slds-modal {
    z-index: var(--avonni-dialog-modal-z-index, 9001);
}

.slds-backdrop {
    z-index: var(--avonni-dialog-backdrop-z-index, 9000);
}