.avonni-img-container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.avonni-img-fluid {
    max-width: 100% !important;
    height: auto;
}

.avonni-img-fluid-grow {
    width: 100% !important;
    height: auto !important;
}

.avonni-img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.avonni-rounded {
    border-radius: 0.25rem;
}

.avonni-rounded-right,
.avonni-rounded-top {
    border-top-right-radius: 0.25rem;
}

.avonni-rounded-top {
    border-top-left-radius: 0.25rem;
}

.avonni-rounded-bottom,
.avonni-rounded-right {
    border-bottom-right-radius: 0.25rem;
}

.avonni-rounded-bottom,
.avonni-rounded-left {
    border-bottom-left-radius: 0.25rem;
}

.avonni-rounded-left {
    border-top-left-radius: 0.25rem;
}

.avonni-rounded-circle {
    border-radius: 50%;
}

.avonni-not-rounded {
    border-radius: 0;
}

.avonni-float-left {
    float: left;
}

.avonni-float-right {
    float: right;
}

.avonni-margin-left-auto,
.avonni-margin-auto,
.avonni-img_cropped-left {
    margin-left: auto;
}

.avonni-margin-right-auto,
.avonni-margin-auto {
    margin-right: auto;
}

.avonni-display-block {
    display: block;
}

.avonni-img_cropped-centered {
    transform: translate(50%);
    right: 50%;
    margin-left: auto;
    margin-right: 0;
}

.avonni-img_cropped-right {
    right: 0%;
    margin-left: auto;
}

.avonni-img_no-crop_no-width_no-height {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.avonni-img_no-crop_no-width_height {
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.avonni-img_cropped {
    top: 0;
    left: 0;
    position: absolute;
}

.avonni-img_cropped_no-width_height {
    max-width: 100%;
    max-height: 100%;
}

.avonni-img_cropped_width {
    max-width: 100%;
    max-height: 100%;
}

.avonni-img_no-crop_width_blank {
    max-width: 100%;
    height: auto;
}

.avonni-img_width_height {
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.avonni-img_static_height_no-crop_no-width {
    max-width: none;
    width: auto;
}
