.progress-bar {
    position: relative;
    height: 100%;
    overflow-x: scroll;
    overflow-y: visible;
}

.slds-path__nav {
    pointer-events: none;
}

.avonni-kanban__path_container {
    overflow: visible;
}

.slds-path__item {
    min-width: 175px;
}

.avonni-kanban__field_container {
    position: relative;
    margin-top: 10px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    min-width: 175px;
    height: 100%;
}

.avonni-kanban__tiles_container {
    overflow-y: auto;
    overflow-x: visible;
    height: 100%;
}

.avonni-kanban__header-action {
    position: absolute;
    top: 10px;
    left: 10px;
}

.avonni-kanban__summarize_wrapper {
    min-height: 30px;
}

.avonni-kanban__field {
    position: relative;
    width: 100%;
    min-width: 185px;
    border-right: 1px solid #c9c7c5;
    /* border-radius: 0.25rem; */
    padding-top: 5px;
}

.avonni-kanban__field:first-of-type {
    border-left: 1px solid #c9c7c5;
}

.avonni-kanban__tile {
    margin: 5px;
    background-color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    min-width: 175px;
    user-select: none;
    z-index: 1;
}

.avonni-kanban__actions_menu {
    position: relative;
}

.avonni-kanban__tile:hover:not(.avonni-kanban__dragged):not(.avonni-kanban__tile_read_only) {
    background-color: #f7f7f7;
    cursor: grab;
    z-index: 9999;
    position: relative;
}

.avonni-kanban__tile:not(.avonni-kanban__dragged) {
    transition: transform 0.25s;
    z-index: 1;
}

.avonni-kanban__tile_icon {
    position: absolute;
    right: 3px;
    bottom: 3px;
}

.avonni-kanban__tile_actions {
    position: absolute;
    z-index: 99999;
    right: 3px;
    top: 3px;
}

.avonni-kanban__dragged {
    z-index: 9999;
    position: absolute;
    cursor: grabbing;
    border: 1px dashed #c0c0c0;
    background-color: #e2e2e2;
}

.avonni-kanban__moved {
    z-index: 1;
}

.avonni-kanban__footer_actions_container {
    margin: 5px;
}

.avonni-kanban__footer_action {
    border: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

.avonni-kanban__footer_action > span {
    padding: 3px;
    margin: 3px;
}

.avonni-kanban__footer_action:disabled {
    opacity: 0.5;
}

.progress-bar::-webkit-scrollbar,
.avonni-kanban__tiles_container::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
.progress-bar::-webkit-scrollbar-track,
.avonni-kanban__tiles_container::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.progress-bar::-webkit-scrollbar-thumb,
.avonni-kanban__tiles_container::-webkit-scrollbar-thumb {
    background: #dbdbdb;
    border-radius: 5px;
}

/* Handle on hover */
.progress-bar::-webkit-scrollbar-thumb:hover,
.avonni-kanban__tiles_container::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}
