div:focus {
    outline: none;
}

.avonni-calendar__container {
    width: var(--avonni-calendar-width, fit-content);
}

.avonni-calendar__year-select {
    appearance: none;
    border: 1px solid #747474;
    background: transparent;
}

.avonni-calendar__year-select-icon {
    right: 6px;
    top: 50%;
    transform: translateY(-50%) scale(0.9);
    z-index: -1;
}

.avonni-calendar__background_color {
    background-color: var(--avonni-calendar-color-background, transparent);
}

.avonni-calendar__month_color {
    color: var(--avonni-calendar-month-text-color, #080707);
}

.avonni-calendar__primitive-calendar {
    --avonni-primitive-calendar-color-background: var(
        --avonni-calendar-color-background
    );
    --avonni-primitive-calendar-date-text-color: var(
        --avonni-calendar-date-text-color
    );
    --avonni-primitive-calendar-date-disabled-text-color: var(
        --avonni-calendar-date-disabled-text-color
    );
    --avonni-primitive-calendar-weekdays-text-color: var(
        --avonni-calendar-weekdays-text-color
    );
    --avonni-primitive-calendar-today-color-background: var(
        --avonni-calendar-today-color-background
    );
    --avonni-primitive-calendar-today-text-color: var(
        --avonni-calendar-today-text-color
    );
    --avonni-primitive-calendar-date-color-background-hover: var(
        --avonni-calendar-date-color-background-hover
    );
    --avonni-primitive-calendar-selected-date-color-background: var(
        --avonni-calendar-selected-date-color-background
    );
    --avonni-primitive-calendar-selected-date-text-color: var(
        --avonni-calendar-selected-date-text-color
    );
    --avonni-primitive-calendar-multi-selected-color-border-hover: var(
        --avonni-calendar-multi-selected-color-border-hover
    );
    --avonni-primitive-calendar-multi-selected-styling-border-hover: var(
        --avonni-calendar-multi-selected-styling-border-hover
    );
    --avonni-primitive-calendar-week-label-text-color: var(
        --avonni-calendar-week-label-text-color
    );
    --avonni-primitive-calendar-week-label-font-size: var(
        --avonni-calendar-week-label-font-size
    );
    --avonni-primitive-calendar-week-label-font-weight: var(
        --avonni-calendar-week-label-font-weight
    );
    --avonni-primitive-calendar-selected-date-color-background-hover: var(
        --avonni-calendar-selected-date-color-background-hover
    );
    --avonni-primitive-calendar-selected-date-text-color-hover: var(
        --avonni-calendar-selected-date-text-color-hover
    );
    --avonni-primitive-calendar-selected-date-color-background-focus: var(
        --avonni-calendar-selected-date-color-background-focus
    );
    --avonni-primitive-calendar-selected-date-text-color-focus: var(
        --avonni-calendar-selected-date-text-color-focus
    );
}
