:host {
    /* internal styling hooks - not documented */
    --avonni-calendar-cell-sizing-width: 42px;
    --avonni-calendar-cell-sizing-height: 42px;
    --avonni-calendar-cell-labeled-sizing-width: 70px;
    --avonni-calendar-cell-labeled-sizing-height: 60px;
}

div:focus {
    outline: none;
}

.avonni-calendar__container {
    width: var(--avonni-calendar-width, fit-content);
}

.avonni-calendar__year-select {
    appearance: none;
    border: 1px solid #747474;
    background: transparent;
}

.avonni-calendar__year-select-icon {
    right: 6px;
    top: 50%;
    transform: translateY(-50%) scale(0.9);
    z-index: -1;
}

.avonni-calendar__background_color {
    background-color: var(--avonni-calendar-color-background, transparent);
}

.avonni-calendar__month_color {
    color: var(--avonni-calendar-month-text-color, #080707);
}
