.avonni-progress-bar-size_x-small {
    max-width: var(--lwc-sizeXSmall, 4rem);
}

.avonni-progress-bar-size_small {
    max-width: var(--lwc-sizeSmall, 15rem);
}

.avonni-progress-bar-size_medium {
    min-width: var(--lwc-sizeMedium, 20rem);
    max-width: var(--lwc-sizeLarge, 25rem);
}

.avonni-progress-bar-size_large {
    min-width: var(--lwc-sizeLarge, 25rem);
    max-width: 512px;
}
.avonni-progress-bar-vertical-size_x-small {
    height: var(--lwc-sizeXSmall, 4rem);
}

.avonni-progress-bar-vertical-size_small {
    height: var(--lwc-sizeSmall, 15rem);
}

.avonni-progress-bar-vertical-size_medium {
    height: var(--lwc-sizeMedium, 20rem);
}

.avonni-progress-bar-vertical-size_large {
    height: var(--lwc-sizeLarge, 25rem);
}
