.avonni-carousel-item__content-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    color: var(--avonni-carousel-item-title-text-color, #080707);
    font-size: var(--avonni-carousel-item-title-font-size, 1rem);
    font-style: var(--avonni-carousel-item-title-font-style, normal);
    font-weight: var(--avonni-carousel-item-title-font-weight, 600);
}

.avonni-carousel__image {
    height: var(--avonni-carousel-item-image-sizing-height);
    background: var(--avonni-carousel-item-image-color-background, #ffffff);
    object-fit: var(--avonni-carousel-item-image-positioning-object-fit, cover);
    object-position: var(
        --avonni-carousel-item-image-positioning-object-position
    );
    border-radius: var(--avonni-carousel-item-image-radius-border, 0.25rem);
}

.avonni-carousel__actions {
    display: flex;
    width: 100%;
    align-items: center;
}

.avonni-carousel-item__float {
    float: left;
    padding: 0.25rem;
}

.avonni-carousel__actions_stretch {
    width: 100%;
    height: 100%;
}

.avonni-carousel__panel-action {
    border-color: var(--avonni-carousel-item-color-border, #c9c9c9);
    border-width: var(--avonni-carousel-item-sizing-border, 1px);
    border-style: var(--avonni-carousel-item-styling-border, solid);
    border-radius: var(--avonni-carousel-item-radius-border, 0.25rem);
}

.avonni-carousel__actions-bottom-center {
    justify-content: center;
}

.avonni-carousel__actions-right {
    justify-content: flex-end;
}

.avonni-carousel__actions-left {
    justify-content: flex-start;
}

.avonni-carousel__content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avonni-primitive-carousel-item__content_background {
    background-color: var(--avonni-carousel-item-color-background, #ffffff);
    border-radius: var(--avonni-carousel-item-content-radius-border, 0.25rem);
}

.avonni-carousel-item__content-description {
    color: var(--avonni-carousel-item-description-text-color, #080707);
    font-size: var(--avonni-carousel-item-description-font-size, 0.8125rem);
    font-style: var(--avonni-carousel-item-description-font-style, normal);
    font-weight: var(--avonni-carousel-item-description-font-weight, 400);
}

.avonni-carousel__actions_bare {
    --slds-c-button-color-background: var(
        --avonni-carousel-item-action-bare-color-background
    );
    --slds-c-button-text-color: var(
        --avonni-carousel-item-action-bare-text-color
    );
    --slds-c-button-color-border: var(
        --avonni-carousel-item-action-bare-color-border
    );
    --slds-c-button-sizing-border: var(
        --avonni-carousel-item-action-bare-sizing-border
    );
    --slds-c-button-radius-border: var(
        --avonni-carousel-item-action-bare-radius-border
    );
}

.avonni-carousel__actions_bare:hover {
    --slds-c-button-color-background-hover: var(
        --avonni-carousel-item-action-bare-color-background-hover
    );
    --slds-c-button-color-border-hover: var(
        --avonni-carousel-item-action-bare-color-border-hover
    );
    --slds-c-button-text-color-hover: var(
        --avonni-carousel-item-action-bare-text-color-hover
    );
}

.avonni-carousel__actions_bare:active {
    --slds-c-button-color-background-active: var(
        --avonni-carousel-item-action-bare-color-background-active
    );
    --slds-c-button-color-border-active: var(
        --avonni-carousel-item-action-bare-color-border-active
    );
    --slds-c-button-text-color-active: var(
        --avonni-carousel-item-action-bare-text-color-active
    );
}

.avonni-carousel__actions_neutral {
    --slds-c-button-neutral-color-background: var(
        --avonni-carousel-item-action-neutral-color-background
    );
    --slds-c-button-neutral-color-border: var(
        --avonni-carousel-item-action-neutral-color-border
    );
    --slds-c-button-text-color: var(
        --avonni-carousel-item-action-neutral-text-color
    );
    --slds-c-button-sizing-border: var(
        --avonni-carousel-item-action-neutral-sizing-border
    );
    --slds-c-button-radius-border: var(
        --avonni-carousel-item-action-neutral-radius-border
    );
}

.avonni-carousel__actions_neutral:hover {
    --slds-c-button-neutral-color-background-hover: var(
        --avonni-carousel-item-action-neutral-color-background-hover
    );
    --slds-c-button-neutral-color-border-hover: var(
        --avonni-carousel-item-action-neutral-color-border-hover
    );
    --slds-c-button-text-color-hover: var(
        --avonni-carousel-item-action-neutral-text-color-hover
    );
}

.avonni-carousel__actions_neutral:active {
    --slds-c-button-neutral-color-background-active: var(
        --avonni-carousel-item-action-neutral-color-background-active
    );
    --slds-c-button-neutral-color-border-active: var(
        --avonni-carousel-item-action-neutral-color-border-active
    );
    --slds-c-button-text-color-active: var(
        --avonni-carousel-item-action-neutral-text-color-active
    );
}
