.avonni-carousel-item__content-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--avonni-carousel-item-title-line-clamp, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    color: var(--avonni-carousel-item-title-text-color, #080707);
    font-size: var(--avonni-carousel-item-title-font-size, 1rem);
    font-style: var(--avonni-carousel-item-title-font-style, normal);
    font-weight: var(--avonni-carousel-item-title-font-weight, 600);
}

.avonni-carousel__image-left .avonni-carousel__image-container,
.avonni-carousel__image-right .avonni-carousel__image-container {
    display: flex;
    flex: 1 1 40%;
}

.avonni-carousel__image-object-fit_contain {
    object-fit: contain;
}
.avonni-carousel__image-object-fit_cover {
    object-fit: cover;
}
.avonni-carousel__image-object-fit_fill {
    object-fit: fill;
}
.avonni-carousel__image-object-fit_none {
    object-fit: none;
}

.avonni-carousel__image-left .avonni-carousel__image,
.avonni-carousel__image-right .avonni-carousel__image {
    align-self: center;
}

.avonni-carousel__image {
    height: var(--avonni-carousel-item-image-sizing-height, 100%);
    background: var(--avonni-carousel-item-image-color-background, #ffffff);
    object-position: var(
        --avonni-carousel-item-image-positioning-object-position
    );
    border-radius: var(--avonni-carousel-item-image-radius-border, 0.25rem);
}

.avonni-carousel__actions-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.avonni-carousel-item__float {
    float: left;
    padding: 0.25rem;
}

.avonni-carousel__actions_stretch {
    width: 100%;
    height: 100%;
}

.avonni-carousel__panel-action {
    display: flex;
    flex-direction: column;
    border-color: var(--avonni-carousel-item-color-border, #c9c9c9);
    border-width: var(--avonni-carousel-item-sizing-border, 1px);
    border-style: var(--avonni-carousel-item-styling-border, solid);
    border-radius: var(--avonni-carousel-item-radius-border, 0.25rem);
}

.avonni-carousel__panel-action_with-content {
    height: 100%;
    margin: 0;
}

.avonni-carousel__panel-action.avonni-carousel__image-top {
    flex-direction: column;
}

.avonni-carousel__panel-action.avonni-carousel__image-bottom {
    flex-direction: column-reverse;
}

.avonni-carousel__panel-action.avonni-carousel__image-left {
    flex-direction: row;
}

.avonni-carousel__panel-action.avonni-carousel__image-right {
    flex-direction: row-reverse;
}

.avonni-carousel__panel-action.avonni-carousel__image-left,
.avonni-carousel__panel-action.avonni-carousel__image-right {
    align-items: stretch;
}

.avonni-carousel__actions-bottom-center {
    justify-content: center;
}

.avonni-carousel__actions-right {
    justify-content: flex-end;
}

.avonni-carousel__actions-left {
    justify-content: flex-start;
}

.avonni-carousel__content {
    height: initial;
}

.avonni-carousel__image-left .avonni-carousel__content,
.avonni-carousel__image-right .avonni-carousel__content {
    flex: 1 1 60%;
    align-self: center;
}

.avonni-carousel__content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avonni-primitive-carousel-item__content_background {
    background-color: var(--avonni-carousel-item-color-background, #ffffff);
    border-radius: var(--avonni-carousel-item-content-radius-border, 0.25rem);
}

.avonni-carousel-item__content-description {
    color: var(--avonni-carousel-item-description-text-color, #080707);
    font-size: var(--avonni-carousel-item-description-font-size, 0.8125rem);
    font-style: var(--avonni-carousel-item-description-font-style, normal);
    font-weight: var(--avonni-carousel-item-description-font-weight, 400);
}

.avonni-carousel__actions-menu {
    --avonni-button-menu-button-border-filled-color-background: var(
        --avonni-carousel-item-action-button-menu-color-background
    );
    --avonni-button-menu-button-border-filled-color-border: var(
        --avonni-carousel-item-action-button-menu-color-border
    );
    --avonni-button-menu-button-border-filled-text-color: var(
        --avonni-carousel-item-action-button-menu-text-color
    );
    --avonni-button-menu-sizing-border: var(
        --avonni-carousel-item-action-button-menu-sizing-border
    );
    --avonni-button-menu-styling-border: var(
        --avonni-carousel-item-action-button-menu-styling-border
    );
    --avonni-button-menu-radius-border: var(
        --avonni-carousel-item-action-button-menu-radius-border
    );
}

.avonni-carousel__actions-menu:hover {
    --avonni-button-menu-button-border-filled-color-background-hover: var(
        --avonni-carousel-item-action-button-menu-color-background-hover
    );
    --avonni-button-menu-button-border-filled-text-color-hover: var(
        --avonni-carousel-item-action-button-menu-text-color-hover
    );
    --avonni-button-menu-button-border-filled-color-border-hover: var(
        --avonni-carousel-item-action-button-menu-color-border-hover
    );
}

.avonni-carousel__actions-menu:active {
    --avonni-button-menu-button-border-filled-color-background-active: var(
        --avonni-carousel-item-action-button-menu-color-background-active
    );
    --avonni-button-menu-button-border-filled-text-color-active: var(
        --avonni-carousel-item-action-button-menu-text-color-active
    );
    --avonni-button-menu-button-border-filled-color-border-active: var(
        --avonni-carousel-item-action-button-menu-color-border-active
    );
}

.avonni-carousel__actions-bare {
    --avonni-button-base-color-background: var(
        --avonni-carousel-item-action-bare-color-background
    );
    --avonni-button-icon-base-color-background: var(
        --avonni-carousel-item-action-bare-color-background
    );
    --avonni-button-base-text-color: var(
        --avonni-carousel-item-action-bare-text-color
    );
    --avonni-button-icon-base-text-color: var(
        --avonni-carousel-item-action-bare-text-color
    );
    --avonni-button-base-color-border: var(
        --avonni-carousel-item-action-bare-color-border
    );
    --avonni-button-icon-base-color-border: var(
        --avonni-carousel-item-action-bare-color-border
    );
    --avonni-button-sizing-border: var(
        --avonni-carousel-item-action-bare-sizing-border
    );
    --avonni-button-icon-sizing-border: var(
        --avonni-carousel-item-action-bare-sizing-border
    );
    --avonni-button-styling-border: var(
        --avonni-carousel-item-action-bare-styling-border
    );
    --avonni-button-icon-styling-border: var(
        --avonni-carousel-item-action-bare-styling-border
    );
    --avonni-button-radius-border: var(
        --avonni-carousel-item-action-bare-radius-border
    );
    --avonni-button-icon-radius-border: var(
        --avonni-carousel-item-action-bare-radius-border
    );
}

.avonni-carousel__actions-bare:hover {
    --avonni-button-base-color-background-hover: var(
        --avonni-carousel-item-action-bare-color-background-hover
    );
    --avonni-button-icon-base-color-background-hover: var(
        --avonni-carousel-item-action-bare-color-background-hover
    );
    --avonni-button-base-text-color-hover: var(
        --avonni-carousel-item-action-bare-text-color-hover
    );
    --avonni-button-icon-base-text-color-hover: var(
        --avonni-carousel-item-action-bare-text-color-hover
    );
    --avonni-button-base-color-border-hover: var(
        --avonni-carousel-item-action-bare-color-border-hover
    );
    --avonni-button-icon-base-color-border-hover: var(
        --avonni-carousel-item-action-bare-color-border-hover
    );
}

.avonni-carousel__actions-bare:active {
    --avonni-button-base-color-background-active: var(
        --avonni-carousel-item-action-bare-color-background-active
    );
    --avonni-button-icon-base-color-background-active: var(
        --avonni-carousel-item-action-bare-color-background-active
    );
    --avonni-button-base-text-color-active: var(
        --avonni-carousel-item-action-bare-text-color-active
    );
    --avonni-button-icon-base-text-color-active: var(
        --avonni-carousel-item-action-bare-text-color-active
    );
    --avonni-button-base-color-border-active: var(
        --avonni-carousel-item-action-bare-color-border-active
    );
    --avonni-button-icon-base-color-border-active: var(
        --avonni-carousel-item-action-bare-color-border-active
    );
}

.avonni-carousel__actions-border {
    --avonni-button-neutral-color-background: var(
        --avonni-carousel-item-action-neutral-color-background
    );
    --avonni-button-icon-neutral-color-background: var(
        --avonni-carousel-item-action-neutral-color-background
    );
    --avonni-button-neutral-text-color: var(
        --avonni-carousel-item-action-neutral-text-color
    );
    --avonni-button-icon-neutral-text-color: var(
        --avonni-carousel-item-action-neutral-text-color
    );
    --avonni-button-neutral-color-border: var(
        --avonni-carousel-item-action-neutral-color-border
    );
    --avonni-button-icon-neutral-color-border: var(
        --avonni-carousel-item-action-neutral-color-border
    );
    --avonni-button-sizing-border: var(
        --avonni-carousel-item-action-neutral-sizing-border
    );
    --avonni-button-icon-sizing-border: var(
        --avonni-carousel-item-action-neutral-sizing-border
    );
    --avonni-button-styling-border: var(
        --avonni-carousel-item-action-neutral-styling-border
    );
    --avonni-button-icon-styling-border: var(
        --avonni-carousel-item-action-neutral-styling-border
    );
    --avonni-button-radius-border: var(
        --avonni-carousel-item-action-neutral-radius-border
    );
    --avonni-button-icon-radius-border: var(
        --avonni-carousel-item-action-neutral-radius-border
    );
}

.avonni-carousel__actions-border:hover {
    --avonni-button-neutral-color-background-hover: var(
        --avonni-carousel-item-action-neutral-color-background-hover
    );
    --avonni-button-icon-neutral-color-background-hover: var(
        --avonni-carousel-item-action-neutral-color-background-hover
    );
    --avonni-button-neutral-text-color-hover: var(
        --avonni-carousel-item-action-neutral-text-color-hover
    );
    --avonni-button-icon-neutral-text-color-hover: var(
        --avonni-carousel-item-action-neutral-text-color-hover
    );
    --avonni-button-neutral-color-border-hover: var(
        --avonni-carousel-item-action-neutral-color-border-hover
    );
    --avonni-button-icon-neutral-color-border-hover: var(
        --avonni-carousel-item-action-neutral-color-border-hover
    );
}

.avonni-carousel__actions-border:active {
    --avonni-button-neutral-color-background-active: var(
        --avonni-carousel-item-action-neutral-color-background-active
    );
    --avonni-button-icon-neutral-color-background-active: var(
        --avonni-carousel-item-action-neutral-color-background-active
    );
    --avonni-button-neutral-text-color-active: var(
        --avonni-carousel-item-action-neutral-text-color-active
    );
    --avonni-button-icon-neutral-text-color-active: var(
        --avonni-carousel-item-action-neutral-text-color-active
    );
    --avonni-button-neutral-color-border-active: var(
        --avonni-carousel-item-action-neutral-color-border-active
    );
    --avonni-button-icon-neutral-color-border-active: var(
        --avonni-carousel-item-action-neutral-color-border-active
    );
}
