.slds-popover {
    position: absolute;
}

.slds-popover.slds-theme_shade {
    border: 1px solid var(--lwc-colorBorder, #dddbda);
}

.slds-nubbin_top,
.slds-nubbin_bottom {
    transform: translateX(-50%);
    left: 50%;
}

.popover-top {
    width: 100%;
    position: absolute;
    top: 100%;
    padding-top: 1rem;
}

.popover-bottom {
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    padding-bottom: 2rem;
}
