.avonni-input-pen__text-area {
    position: relative;
    overflow: hidden;
    cursor: none;
    background-color: #ffffff;
    border-radius: var(--slds-s-input-radius-border, 0.25rem);
}

.avonni-input-pen__text-area_cursor {
    cursor: auto;
}

.avonni-input-pen__text-area_visible-cursor {
    cursor: pointer;
}

.avonni-input-pen__text-area_no-touch-scroll {
    touch-action: none;
}

.avonni-input-pen__cursor {
    overflow: auto;
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
    border-radius: calc(var(--size) * 1px);
    background-color: transparent;
    box-shadow: #000 0px 0px 5px;
    border: 2px solid var(--color);
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.avonni-input-pen__size-picker {
    display: block;
    width: 80px;
}

.avonni-input-pen__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    padding-right: var(--lwc-spacingXSmall, 0.5rem);
    padding-top: var(--lwc-spacingXxSmall, 0.25rem);
    margin-bottom: var(--lwc-spacingXxxSmall, 0.125rem);
}

.avonni-input-pen__label.slds1 {
    color: var(
        --avonni-input-pen-header-text-color,
        var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, #444444))
    );
    font-size: var(--avonni-input-pen-header-font-size, 0.75rem);
    font-weight: var(--avonni-input-pen-header-font-weight, 400);
    font-style: var(--avonni-input-pen-header-font-style, normal);
}

.avonni-input-pen__label.slds2 {
    color: var(
        --avonni-input-pen-header-text-color,
        var(--slds-g-color-on-surface-2, #2e2e2e)
    );
    font-size: var(
        --avonni-input-pen-header-font-size,
        var(--slds-g-font-scale-base, 0.8125rem)
    );
    font-weight: var(
        --avonni-input-pen-header-font-weight,
        var(--slds-g-font-weight-6, 600)
    );
    font-style: var(--avonni-input-pen-header-font-style, normal);
}

.avonni-input-pen__refresh-button {
    position: absolute;
    z-index: 4;
    right: 1rem;
    top: 1rem;
    transform: scaleX(-1);
}

.avonni-input-pen__x-icon {
    --slds-c-icon-color-foreground-default: #d3d3d3;
    position: absolute;
    bottom: 2rem;
    left: 0.8rem;
    z-index: 1;
}

.avonni-input-pen__underline {
    position: absolute;
    width: auto;
    margin: 0 auto;
    height: 3px;
    border-radius: none;
    bottom: 2rem;
    right: 2rem;
    left: 3rem;
    background-color: #e1e1e1;
    z-index: 1;
}

.avonni-input-pen__rich-text_border-radius {
    border-radius: var(--slds-s-input-radius-border, 0.25rem);
}

.avonni-input-pen__rich-text_border-radius-bottom {
    border-radius: 0 0 var(--slds-s-input-radius-border, 0.25rem)
        var(--slds-s-input-radius-border, 0.25rem);
}

.avonni-input-pen__rich-text_border-radius-top {
    border-radius: var(--slds-s-input-radius-border, 0.25rem)
        var(--slds-s-input-radius-border, 0.25rem) 0 0;
}

.avonni-input-pen__toolbar_border-bottom {
    border-radius: 0 0 var(--slds-s-input-radius-border, 0.25rem)
        var(--slds-s-input-radius-border, 0.25rem);
    border-top: var(--lwc-borderWidthThin, 1px) solid
        var(--lwc-colorBorder, rgb(221, 219, 218));
    border-bottom: none;
}

.avonni-input-pen__toolbar_border-top-reverse {
    border-radius: var(--slds-s-input-radius-border, 0.25rem)
        var(--slds-s-input-radius-border, 0.25rem) 0 0;
    border-top: none;
    border-bottom: var(--lwc-borderWidthThin, 1px) solid
        var(--lwc-colorBorder, rgb(221, 219, 218));
}

.avonni-input-pen__canvas {
    height: 100%;
    width: 100%;
}

.avonni-input-pen__canvas_disabled {
    filter: saturate(50%);
}

.avonni-input-pen__text-area {
    min-height: var(--avonni-input-pen-body-sizing-height, 350px);
}
