.avonni-datatable-iedit-panel {
    z-index: 9000 !important;
}

.avonni-datatable-iedit-panel-custom__flex-col {
    flex: 1 1 auto;
}

.avonni-datatable-iedit-panel_size_large {
    max-width: 500px;
    max-height: 500px;
    --slds-c-textarea-sizing-max-height: 400px;
    --slds-c-textarea-sizing-min-height: 183px;
}
