@import 'c/schedulerSharedStyle';

.avonni-scheduler__wrapper {
    max-width: 100%;
    max-height: 100%;
}

.avonni-scheduler__panel {
    width: 310px;
}

.avonni-primitive-scheduler-calendar__inherit-height {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
}

.avonni-scheduler__main-section {
    flex: 1 1 0;
}

.avonni-scheduler__agenda-month-header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.avonni-scheduler__agenda-event {
    --avonni-primitive-scheduler-event-occurrence-standalone-chip-size: 0.75rem;
}

.avonni-scheduler__agenda-day-group:last-of-type {
    border-bottom: none;
}

.avonni-scheduler__agenda-day-heading {
    width: fit-content;
}

.avonni-scheduler__agenda-day {
    font-size: 2.625rem;
    min-width: 3rem;
    height: 3rem;
}

.avonni-scheduler__agenda-day_small {
    font-size: 1.5rem;
}

.avonni-scheduler__agenda-day_today {
    color: var(--lwc-colorTextInverse, #fff);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lwc-brandAccessible, #0176d3);
    border-radius: 50%;
}

.avonni-scheduler__agenda-day_today.avonni-scheduler__agenda-day {
    width: 3.5rem;
    height: 3.5rem;
}

.avonni-scheduler__agenda-day_today.avonni-scheduler__agenda-day_small {
    width: 2.25rem;
    height: 2.25rem;
    left: -5px;
}

.avonni-scheduler__agenda-day-heading:has(.avonni-scheduler__agenda-day_today)
    .avonni-scheduler__agenda-day-weekday,
.avonni-scheduler__agenda-day-heading:has(.avonni-scheduler__agenda-day_today)
    .avonni-scheduler__agenda-day-month {
    color: var(--lwc-brandAccessible, #0176d3);
}

.avonni-scheduler__agenda-time {
    max-width: 11rem;
    min-width: 6rem;
    font-size: 0.75rem;
}

.avonni-scheduler__agenda-no-event-wrapper {
    height: 100%;
}
