.avonni-scheduler__wrapper {
    height: 100%;
    max-height: calc(100vh - 70px);
    max-width: 100%;
}

.avonni-primitive-scheduler-calendar__inherit-height {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
}

.avonni-scheduler__agenda-event {
    --avonni-primitive-scheduler-event-occurrence-standalone-chip-size: 0.75rem;
}

.avonni-scheduler__agenda-day {
    font-size: 2.625rem;
    width: 3rem;
    height: 3rem;
}

.avonni-scheduler__agenda-day_today {
    background-color: var(--lwc-brandAccessible, #0176d3);
    border-radius: 50%;
    color: var(--lwc-colorTextInverse, #fff);
}

.avonni-scheduler__agenda-time {
    max-width: 11rem;
    min-width: 6rem;
    font-size: 0.75rem;
}

.avonni-scheduler__agenda-no-event-wrapper {
    height: 100%;
}
