.avonni-progress-bar-badges-border_none {
    border: none;
}

.avonni-progress-bar-badges {
    border-radius: var(--sds-c-badge-radius-border, 0.35rem);
    font-size: var(--sds-c-badge-font-size, 0.55rem);
    padding: 0.1rem 0.4rem;
}
