:host {
    display: block;
}

.avonni-input-choice-set__horizontal {
    display: inline-flex;
}

.slds-checkbox_button-group.avonni-input-choice-set__vertical {
    flex-direction: column;
}

.slds-checkbox_button__label.avonni-input-choice-set__vertical {
    width: 100%;
    border-radius: 0;
}

.slds-checkbox_button__label.avonni-input-choice-set__horizontal {
    height: 100%;
}

.slds-checkbox_faux {
    padding: 0;
}

.slds-checkbox_button {
    border-left: none;
    border-bottom: 1px solid #747474;
}

.avonni-input-choice-set__option-label {
    cursor: pointer;
}

.slds-checkbox_button.avonni-input-choice-set__horizontal {
    border-bottom: none;
}

.slds-checkbox_button.avonni-input-choice-set__horizontal:not(:last-child) {
    border-right: 1px solid #747474;
}

.avonni-input-choice-set__display_flex {
    display: flex;
}

.avonni-input-choice-set__label {
    color: var(--avonni-input-choice-set-header-text-color, #3e3e3c);
    font-size: var(--avonni-input-choice-set-header-font-size, 0.75rem);
    font-style: var(--avonni-input-choice-set-header-font-style, normal);
    font-weight: var(--avonni-input-choice-set-header-font-weight, 400);
}

.avonni-input-choice-set__stretch {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.avonni-input-choice-set__stretch.avonni-input-choice-set__vertical {
    flex-direction: column;
}

.avonni-input-choice-set__stretch .slds-checkbox_button,
.avonni-input-choice-set__stretch .slds-checkbox_button__label,
.avonni-input-choice-set__stretch .slds-checkbox,
.avonni-input-choice-set__stretch .slds-radio {
    flex-grow: 1;
}

.avonni-input-choice-set__loading {
    height: 3rem;
}

.avonni-input-choice-set__button__row [type='checkbox'] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.avonni-input-choice-set__button__row
    [type='checkbox']
    + .slds-checkbox_button__label {
    border: 1px solid #747474;
    border-radius: 0.25rem;
}

.avonni-input-choice-set__button__row
    [type='checkbox']:checked
    + .slds-checkbox_button__label {
    background-color: #0176d3;
    color: white;
    border: 1px solid #0176d3;
}

.avonni-input-choice-set__horizontal.avonni-input-choice-set__stretch
    .slds-checkbox_button:not(:last-child) {
    border-right: 1px solid #747474;
}

.avonni-input-choice-set__horizontal.avonni-input-choice-set__stretch
    .slds-checkbox_button,
.avonni-input-choice-set__vertical .slds-checkbox_button:last-child {
    border-bottom: none;
}

.avonni-input-choice-set__vertical
    .slds-checkbox_button:last-child:not(:only-child)
    > .slds-checkbox_button__label {
    border-radius: 0 0 0.25rem 0.25rem;
}

.avonni-input-choice-set__vertical
    .slds-checkbox_button:first-child:not(:only-child)
    > .slds-checkbox_button__label {
    border-radius: 0.25rem 0.25rem 0 0;
}

.avonni-input-choice-set__vertical
    .slds-checkbox_button:only-child
    > .slds-checkbox_button__label {
    border-radius: 0.25rem;
}

.avonni-input-choice-set__horizontal
    .slds-checkbox_button:only-child
    > .slds-checkbox_button__label {
    border-radius: 0.25rem;
}

.avonni-input-choice-set__option-label_line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(
        --avonni-input-choice-set-option-label-line-clamp,
        1
    );
    text-overflow: ellipsis;
}

.avonni-input-choice-set__option-label-icon-container {
    padding-right: 0.5rem;
}
