.avonni-hero-banner-background-class {
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.avonni-hero-banner-text-container-without-slot {
    height: 100%;
}

.avonni-hero-banner-text-container-with-slot {
    height: 75%;
}

.avonni-hero-banner-text-x_large {
    font-size: 2rem;
    line-height: 1.25;
}

.avonni-hero-banner-text-xx_large {
    font-size: 2.625rem;
    line-height: 1.25;
}

.avonni-hero-banner-text-xxx_large {
    font-size: 3rem;
    line-height: 1.25;
}

.avonni-hero-banner-text-xxxx_large {
    font-size: 3.5rem;
    line-height: 1.25;
}

.avonni-hero-banner-horizontal-alignment_right {
    justify-content: flex-end;
    text-align: right;
}

.avonni-hero-banner-horizontal-alignment_center {
    justify-content: center;
    text-align: center;
}

.avonni-hero-banner-vertical-alignement_top {
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-vertical-alignement_bottom {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-vertical-alignement_center {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-font-weight_light {
    font-weight: 100;
}

.avonni-hero-banner-font-weight_normal {
    font-weight: 500;
}

.avonni-hero-banner-font-weight_bold {
    font-weight: 700;
}

.avonni-hero-banner-primary-button {
    display: inline-block;
    border: solid 1px var(--border-primary_color);
    min-width: 135px;
    transition: all 0.2s;
    background: var(--background-primary);
    color: var(--color-primary);
}

.avonni-hero-banner-primary-button:hover {
    background-color: var(--background-primary_hover);
    color: var(--color-primary_hover);
    border: solid 1px transparent;
}

.avonni-hero-banner-secondary-button {
    display: inline-block;
    border: solid 1px var(--border-secondary_color);
    min-width: 135px;
    transition: all 0.2s;
    background: var(--background-secondary);
    color: var(--color-secondary);
}

.avonni-hero-banner-secondary-button:hover {
    background-color: var(--background-secondary_hover);
    color: var(--color-secondary_hover);
    border: solid 1px transparent;
}

.avonni-hero-banner-button-align_right {
    justify-content: flex-end;
    text-align: right;
}

.avonni-hero-banner-button-align_center {
    justify-content: center;
    text-align: center;
}

.avonni-hero-banner-justify_center {
    justify-content: center;
}
