.avonni-hero-banner-background-class {
    background-size: cover;
    background-position: center;
    height: 400px;
}

.avonni-hero-banner-text-container-without-slot {
    height: 100%;
    width: 100%;
    padding: 30px;
}

.avonni-hero-banner-text-container-with-slot {
    height: 75%;
    width: 100%;
    padding: 30px;
}

.avonni-hero-banner-text-x_large {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25;
}

.avonni-hero-banner-text-xx_large {
    font-size: 2.625rem;
    font-weight: 300;
    line-height: 1.25;
}

.avonni-hero-banner-column-div {
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-vertical-alignement-bottom {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-vertical-alignement-center {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
