.avonni-hero-banner-background-class {
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.avonni-hero-banner-text-container-without-slot {
    height: 100%;
    width: 100%;
}

.avonni-hero-banner-text-container-with-slot {
    height: 75%;
    width: 100%;
}

.avonni-hero-banner-text-x_large {
    font-size: 2rem;
    line-height: 1.25;
}

.avonni-hero-banner-text-xx_large {
    font-size: 2.625rem;
    line-height: 1.25;
}

.avonni-hero-banner-column-div {
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-vertical-alignement-bottom {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-vertical-alignement-center {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.avonni-hero-banner-font-weight_light {
    font-weight: 100;
}

.avonni-hero-banner-font-weight_normal {
    font-weight: 500;
}

.avonni-hero-banner-font-weight_bold {
    font-weight: 700;
}
