:host.is-disabled .sortable-item {
    cursor: initial;
}

.sortable-item {
    /* transition: transform 300ms; */
    cursor: grab;
    height: 44px;
}

.sortable-item > div {
    width: 100%;
}

.sortable-item.sortable-item_dragged {
    /* transition: none; */
    position: relative;
    z-index: 1;
    border: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    opacity: 0.8;
    cursor: grabbing;
    background-color: rgba(255, 255, 255, 0.6);
}
