.avonni-primitive-chip {
    cursor: var(--avonni-chip-cursor, default);
}

.avonni-primitive-chip__avatar {
    --avonni-avatar-sizing-border: var(--avonni-chip-avatar-sizing-border);
    --avonni-avatar-color-border: var(--avonni-chip-avatar-color-border);
    --avonni-avatar-styling-border: var(--avonni-chip-avatar-styling-border);
    --avonni-avatar-initials-text-color: var(
        --avonni-chip-avatar-initials-text-color
    );
    --avonni-avatar-initials-text-color-hover: var(
        --avonni-chip-avatar-initials-text-color-hover
    );
    --avonni-avatar-initials-text-font-weight: var(
        --avonni-chip-avatar-initials-text-font-weight
    );
    --avonni-avatar-fallback-icon-color-background: var(
        --avonni-chip-avatar-icon-color-background
    );
    --avonni-avatar-fallback-icon-color-foreground: var(
        --avonni-chip-avatar-icon-color-foreground
    );
    --avonni-avatar-fallback-icon-color-foreground-default: var(
        --avonni-chip-avatar-icon-color-foreground-default,
        var(--avonni-chip-avatar-icon-color-foreground)
    );
    --avonni-avatar-image-object-fit: var(
        --avonni-chip-avatar-image-object-fit
    );
}
