/* Vertical line */
.line_vertical {
    border-right: 2px solid var(--avonni-relationship-graph-line-color, #c9c9c9);
}

.line_horizontal {
    border-bottom: 2px solid
        var(--avonni-relationship-graph-line-color, #c9c9c9);
    margin-left: 10rem;
}

.avonni-relationship-graph__header + .actions::before {
    content: '';
    border-right: 2px solid var(--avonni-relationship-graph-line-color, #c9c9c9);
    position: absolute;
    top: 0;
    bottom: 0;
}

.actions::before {
    content: '';
    border-right: 2px solid var(--avonni-relationship-graph-line-color, #c9c9c9);
    position: absolute;
    left: var(--lwc-spacingMedium, 1rem);
    top: 1.5rem;
    bottom: 0;
}

.actions_vertical::before {
    left: 50%;
}

.group,
.actions {
    width: var(--lwc-sizeMedium, 20rem);
    position: relative;
}

.avonni-relationship-graph__header-vertical-no-actions {
    margin-bottom: 1.5rem;
}

.avonni-relationship-graph__header-vertical-no-actions::after {
    content: '';
    width: 2px;
    background-color: var(--avonni-relationship-graph-line-color, #c9c9c9);
    height: calc(1.5rem + 2px);
    position: absolute;
    left: 9.95rem;
    bottom: calc(-1.5rem - 2px);
}
