.avonni-illustration__title {
    color: var(--avonni-illustration-title-text-color, #181818);
    font-size: var(--avonni-illustration-title-font-size, 1.25rem);
    font-weight: var(--avonni-illustration-title-font-weight, 400);
    font-style: var(--avonni-illustration-title-font-style, normal);
}