:host {
    position: absolute;
    left: 0px;
}

.value-wrapper {
    display: flex;
    flex-direction: row;
}

.canvas-value-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.avonni-barcode__canvas {
    box-sizing: border-box;
    width: 100%;
}
