.avonni-media-object-alignement-end {
    align-items: flex-end;
}

.avonni-media-object-display-inline {
    display: inline-block;
}

.avonni-media-object-display-inline .slds-media__figure {
    margin: 0;
}
