.avonni-alert__wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding-top: var(--avonni-alert-spacing-block-start, 0.5rem);
    padding-right: var(--avonni-alert-spacing-inline-end, 0.5rem);
    padding-bottom: var(--avonni-alert-spacing-block-end, 0.5rem);
    padding-left: var(--avonni-alert-spacing-inline-start, 0.5rem);
    font-weight: var(--avonni-alert-font-weight, 400);
    font-size: var(--avonni-alert-font-size, 1em);
    font-style: var(--avonni-alert-font-style, normal);
    text-align: center;
    background-image: var(
        --avonni-alert-image-background,
        linear-gradient(
            45deg,
            rgba(24, 24, 24, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(24, 24, 24, 0.1) 50%,
            rgba(24, 24, 24, 0.1) 75%,
            transparent 75%,
            transparent
        )
    );
    background-size: var(--avonni-alert-size-background, 64px 64px);
    border-width: var(--avonni-alert-sizing-border, 1px);
    border-style: var(--avonni-alert-styling-border, solid);
    border-color: var(--avonni-alert-color-border, transparent);
    border-radius: var(--avonni-alert-radius-border, 0);
}

.avonni-alert__wrapper_dismissible {
    padding-right: var(--avonni-alert-spacing-inline-end, 2rem);
}

.avonni-alert__content-container {
    display: flex;
    align-items: center;
    justify-content: var(--avonni-alert-content-horizontal-alignment, center);
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.avonni-alert__wrapper .avonni-alert__primitive-icon_color {
    border-radius: var(--avonni-alert-icon-radius-border, 0.25rem);
}

.avonni-alert_base {
    background-color: var(--avonni-alert-base-color-background, #747474);
    color: var(--avonni-alert-base-text-color, #ffffff);
}

.avonni-alert_base .avonni-alert__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-alert-base-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-base-icon-color-foreground-default,
        #ffffff
    );
    --sds-c-icon-color-background: var(
        --avonni-alert-base-icon-color-background
    );
    background: var(--avonni-alert-base-icon-color-background, transparent);
}

.avonni-alert_base .avonni-alert__button-icon {
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-base-close-icon-color-foreground-default,
        #ffffff
    );
}

.avonni-alert_warning {
    background-color: var(--avonni-alert-warning-color-background, #dd7a01);
    color: var(--avonni-alert-warning-text-color, #080707);
}

.avonni-alert_warning .avonni-alert__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-alert-warning-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-warning-icon-color-foreground-default,
        #514f4d
    );
    --sds-c-icon-color-background: var(
        --avonni-alert-warning-icon-color-background
    );
    background: var(--avonni-alert-warning-icon-color-background, transparent);
}

.avonni-alert_warning .avonni-alert__button-icon {
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-warning-close-icon-color-foreground-default,
        #514f4d
    );
}

.avonni-alert_error {
    background-color: var(--avonni-alert-error-color-background, #ba0517);
    color: var(--avonni-alert-error-text-color, #ffffff);
}

.avonni-alert_error .avonni-alert__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-alert-error-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-error-icon-color-foreground-default,
        #ffffff
    );
    --sds-c-icon-color-background: var(
        --avonni-alert-error-icon-color-background
    );
    background: var(--avonni-alert-error-icon-color-background, transparent);
}

.avonni-alert_error .avonni-alert__button-icon {
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-error-close-icon-color-foreground-default,
        #ffffff
    );
}

.avonni-alert_offline {
    background-color: var(--avonni-alert-offline-color-background, #444);
    color: var(--avonni-alert-offline-text-color, #ffffff);
}

.avonni-alert_offline .avonni-alert__primitive-icon_color {
    --sds-c-icon-color-foreground: var(
        --avonni-alert-offline-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-offline-icon-color-foreground-default,
        #ffffff
    );
    --sds-c-icon-color-background: var(
        --avonni-alert-offline-icon-color-background
    );
    background: var(--avonni-alert-offline-icon-color-background, transparent);
}

.avonni-alert_offline .avonni-alert__button-icon {
    --sds-c-icon-color-foreground-default: var(
        --avonni-alert-offline-close-icon-color-foreground-default,
        #ffffff
    );
}
