.avonni-avatar__primary-text {
    color: var(--avonni-avatar-primary-text-color, #000000);
    font-size: var(--avonni-avatar-primary-text-font-size, 0.875rem);
    font-style: var(--avonni-avatar-primary-text-font-style, normal);
    font-weight: var(--avonni-avatar-primary-text-font-weight, 700);
    font-family: var(--avonni-avatar-primary-text-font-family);
    line-height: var(--avonni-avatar-primary-text-line-height);
    letter-spacing: var(--avonni-avatar-primary-text-letter-spacing);
}

.avonni-avatar__secondary-text {
    color: var(--avonni-avatar-secondary-text-color, #696969);
    font-size: var(--avonni-avatar-secondary-text-font-size, 0.8125rem);
    font-style: var(--avonni-avatar-secondary-text-font-style, normal);
    font-weight: var(--avonni-avatar-secondary-text-font-weight, 400);
    font-family: var(--avonni-avatar-secondary-text-font-family);
    line-height: var(--avonni-avatar-secondary-text-line-height);
    letter-spacing: var(--avonni-avatar-secondary-text-letter-spacing);
}

.avonni-avatar__tertiary-text {
    color: var(--avonni-avatar-tertiary-text-color, #696969);
    font-size: var(--avonni-avatar-tertiary-text-font-size, 0.8125rem);
    font-style: var(--avonni-avatar-tertiary-text-font-style, normal);
    font-weight: var(--avonni-avatar-tertiary-text-font-weight, 400);
    font-family: var(--avonni-avatar-tertiary-text-font-family);
    line-height: var(--avonni-avatar-tertiary-text-line-height);
    letter-spacing: var(--avonni-avatar-tertiary-text-letter-spacing);
}

.avonni-avatar__chip:first-of-type {
    margin-left: 0;
}

.avonni-avatar__chip {
    margin: 0 0.25rem;
}

.avonni-avatar__truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avonni-avatar__tags {
    margin-left: -0.5rem;
    --avonni-chip-container-color-border: transparent;
}

.avonni-avatar__media-object-width-100 {
    --avonni-media-object-width: 100%;
}
