.avonni-visual-picker__figure-header-container-avatar-left,
.avonni-visual-picker__figure-header-container-avatar-right {
    display: flex;
}

.avonni-visual-picker__figure-avatar {
    flex: 0 0 auto;
}

.avonni-visual-picker__figure-content {
    flex: 1 1 auto;
}

.avonni-visual-picker__figure-header-container-avatar-left .avonni-visual-picker__figure-avatar {
    order: 0;
}

.avonni-visual-picker__figure-header-container-avatar-left .avonni-visual-picker__figure-content {
    order: 1;
}

.avonni-visual-picker__figure-header-container-avatar-right .avonni-visual-picker__figure-avatar {
    order: 1;
}

.avonni-visual-picker__figure-header-container-avatar-right .avonni-visual-picker__figure-content {
    order: 0;
}

/*-- Figure Avatar --*/
.avonni-visual-picker__figure-avatar {
    align-self: var(--avonni-visual-picker-avatar-vertical-alignment, center);
}

.avonni-visual-picker__figure-avatar-icon {
    --avonni-avatar-fallback-icon-color-foreground: var(--avonni-visual-picker-avatar-fallback-icon-foreground);
    --avonni-avatar-fallback-icon-color-foreground-default: var(--avonni-visual-picker-avatar-fallback-icon-foreground-default);
}

/*-- Figure Title --*/
.avonni-visual-picker__figure-title {
    --avonni-visual-picker-title-avatar-fallback-icon-foreground: var(--avonni-visual-picker-avatar-fallback-icon-foreground);
    --avonni-visual-picker-title-avatar-fallback-icon-foreground-default: var(--avonni-visual-picker-avatar-fallback-icon-foreground-default);
    --avonni-visual-picker-title-padding: 0rem 0.75rem 0.15rem 0.75rem;
}

/*-- Figure Description --*/
.avonni-visual-picker__figure-description {
    padding: 0.15rem 0.75rem 0rem 0.75rem;
    color: var(--avonni-visual-picker-description-text-color, #3e3e3c);
    font-style: var(--avonni-visual-picker-description-font-style, normal);
    font-weight: var(--avonni-visual-picker-description-font-weight, 400);
    font-size: var(--avonni-visual-picker-description-font-size, 0.75rem);
    line-height: var(--avonni-visual-picker-description-line-height, 1.25);
    text-align: var(--avonni-visual-picker-description-alignment, center);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--avonni-visual-picker-description-line-clamp, 2);
}