.avonni-scoped-notification_theme-base {
    background-color: var(
        --avonni-scoped-notification-base-color-background,
        var(--slds-g-color-info-container-1, #f3f2f2)
    );
    color: var(
        --avonni-scoped-notification-base-text-color,
        var(--slds-g-color-on-info-1, #080707)
    );
    --sds-c-icon-color-background: var(
        --avonni-scoped-notification-base-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-scoped-notification-base-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-scoped-notification-base-icon-color-foreground-default
    );
    --sds-c-icon-radius-border: var(
        --avonni-scoped-notification-icon-radius-border
    );
}

.avonni-scoped-notification_theme-dark {
    background-color: var(
        --avonni-scoped-notification-dark-color-background,
        var(--slds-g-color-neutral-base-30, #706e6b)
    );
    color: var(
        --avonni-scoped-notification-dark-text-color,
        var(--slds-g-color-neutral-base-100, #ffffff)
    );
    --sds-c-icon-color-background: var(
        --avonni-scoped-notification-dark-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-scoped-notification-dark-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-scoped-notification-dark-icon-color-foreground-default
    );
    --sds-c-icon-radius-border: var(
        --avonni-scoped-notification-icon-radius-border
    );
}

.avonni-scoped-notification_theme-error {
    background-color: var(
        --avonni-scoped-notification-error-color-background,
        var(--slds-g-color-error-container-1, #ba0517)
    );
    color: var(
        --avonni-scoped-notification-error-text-color,
        var(--slds-g-color-on-error-1, #ffffff)
    );
    --sds-c-icon-color-background: var(
        --avonni-scoped-notification-error-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-scoped-notification-error-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-scoped-notification-error-icon-color-foreground-default
    );
    --sds-c-icon-radius-border: var(
        --avonni-scoped-notification-icon-radius-border
    );
}

.avonni-scoped-notification_theme-success {
    background-color: var(
        --avonni-scoped-notification-success-color-background,
        var(--slds-g-color-success-container-1, #2e844a)
    );
    color: var(
        --avonni-scoped-notification-success-text-color,
        var(--slds-g-color-on-success-1, #ffffff)
    );
    --sds-c-icon-color-background: var(
        --avonni-scoped-notification-success-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-scoped-notification-success-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-scoped-notification-success-icon-color-foreground-default
    );
    --sds-c-icon-radius-border: var(
        --avonni-scoped-notification-icon-radius-border
    );
}

.avonni-scoped-notification_theme-warning {
    background-color: var(
        --avonni-scoped-notification-warning-color-background,
        var(--slds-g-color-warning-container-1, #dd7a01)
    );
    color: var(
        --avonni-scoped-notification-warning-text-color,
        var(--slds-g-color-on-warning-1, #080707)
    );
    --sds-c-icon-color-background: var(
        --avonni-scoped-notification-warning-icon-color-background
    );
    --sds-c-icon-color-foreground: var(
        --avonni-scoped-notification-warning-icon-color-foreground
    );
    --sds-c-icon-color-foreground-default: var(
        --avonni-scoped-notification-warning-icon-color-foreground-default,
        #444
    );
    --sds-c-icon-radius-border: var(
        --avonni-scoped-notification-icon-radius-border
    );
}
