.table {
    display: flex;
}

.day {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: center;
}

.day__label {
    padding: var(--lwc-spacingMedium, 1rem);
    text-transform: uppercase;
    color: var(--lwc-colorTextPlaceholder, #706e6b);
}

.day__label,
.time {
    flex: 1 1 auto;
}

.time {
    padding: 2px;
}

.time__button {
    border: 1px solid var(--lwc-colorBorder, #dddbda);
    width: 100%;
    padding: var(--lwc-spacingMedium, 1rem);
    background-color: #fff;
}

.time__button:disabled {
    background-color: var(--lwc-colorBackground, #f3f2f2);
    color: var(--lwc-colorTextPlaceholder, #706e6b);
}

.time__button[aria-pressed='true'] {
    border-color: var(--lwc-colorBorderSelection, #0070d2);
    background-color: #d8edff;
}

.hidden-input {
    display: none;
}
