@import 'c/schedulerSharedStyle';

:host {
    display: block;
}

.avonni-scheduler-header-group__header_vertical:last-of-type {
    flex: 1 0 auto;
}

.avonni-scheduler-header-group__header_multiple-vertical
    .avonni-scheduler-header-group__header-label_sticky {
    transform: rotate(180deg);
}

.avonni-scheduler-header-group__header-cell {
    flex: 1 1 auto;
    width: var(--avonni-scheduler-cell-size);
    min-width: var(--avonni-scheduler-cell-size);
    color: #514f4d;
    background-color: var(
        --avonni-primitive-scheduler-header-group-cell-color-background,
        #f3f3f3
    );
    height: var(--avonni-primitive-scheduler-header-group-cell-height);
    border-right-width: var(
        --avonni-primitive-scheduler-header-group-cell-border-right-width
    );
}

.avonni-scheduler-header-group__header-cell:last-of-type:not(.avonni-scheduler-header-group__header-cell_vertical) {
    border-right-width: 0;
}

.avonni-scheduler-header-group__header-label_day {
    font-size: 0.75rem;
}

.avonni-scheduler-header-group__header-label_date {
    font-size: 0.875rem;
}

.avonni-scheduler-header-group__header-label[data-today='true']
    .avonni-scheduler-header-group__header-label_date {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(
        --avonni-primitive-scheduler-header-group-cell-text-color-today
    );
    color: black;
    border-radius: 50%;
    color: white;
}

.avonni-scheduler-header-group__header-label[data-today='true'] {
    color: var(--avonni-primitive-scheduler-header-group-cell-text-color-today);
}

.avonni-scheduler-header-group__header_vertical
    .avonni-scheduler-header-group__header-cell {
    width: auto;
    min-width: auto;
    height: var(--avonni-scheduler-cell-size);
}

.avonni-scheduler-header-group__header_multiple-vertical
    .avonni-scheduler-header-group__header-cell {
    writing-mode: vertical-rl;
}

.avonni-scheduler-header-group__header_multiple-vertical:last-of-type
    .avonni-scheduler-header-group__header-cell {
    height: auto;
    writing-mode: initial;
}

.avonni-scheduler-header-group__header_vertical:last-of-type
    .avonni-scheduler-header-group__header-cell {
    padding: 0 0.75rem;
}

.avonni-scheduler-header-group__header-label_horizontal {
    text-transform: uppercase;
}

.avonni-scheduler-header-group__header-label_sticky {
    position: sticky;
    left: 0;
    top: var(
        --avonni-primitive-scheduler-header-group-label-position-top,
        10px
    );
}

.avonni-scheduler-header-group__header-label_vertical-non-sticky {
    top: calc(var(--avonni-scheduler-cell-height) / -2);
    background-color: var(
        --avonni-primitive-scheduler-header-group-cell-color-background,
        #f3f3f3
    );
}
