.avonni-visual-picker__figure-title {
    color: var(--avonni-visual-picker-title-text-color, #080707);
    font-style: var(--avonni-visual-picker-title-font-style, normal);
    font-weight: var(--avonni-visual-picker-title-font-weight, 700);
    font-size: var(--avonni-visual-picker-title-font-size, 1.25rem);
    line-height: var(--lwc-lineHeightHeading, 1.25);
}

.avonni-primitive-visual-picker-title__icon {
    --avonni-avatar-fallback-icon-color-foreground: var(--avonni-visual-picker-title-avatar-fallback-icon-foreground);
    --avonni-avatar-fallback-icon-color-foreground-default: var(--avonni-visual-picker-title-avatar-fallback-icon-foreground-default);
    align-self: center;
}

.avonni-visual-picker__figure-content_alignment {
    display: flex;
    justify-content: var(--avonni-visual-picker-title-alignment, center);
    padding: var(--avonni-visual-picker-title-padding, 0.15rem 0.75rem);
}