.d3 {
    position: relative;
}
.tooltip {
    position: absolute;
    white-space: nowrap;
}
.legend-top,
.legend-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.legend-top {
    margin-bottom: 1rem;
}

.legend-bottom {
    margin-top: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.legend-text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 15px;
}
